@import components.context.GameContext
@import model.buff.BuffType
@import util.TimeUtil.formatTime
@import bean.Buff
@import bean.GameUser
@()(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu: GameUser =>
    @main {
        <div class="panel mramor">
            @for((model, idx) <- BuffType.entries.zipWithIndex) {
                @defining(gu.getBuff(model.typeId)) { buff: Buff =>
                    <div>
                        @Image(model.image, 48, "fl portrait")

                        <span class="bold">
                            @model.name
                        </span>
                        <br/>

                        <span>
                            @model.desc
                        </span>

                        <div class="cb"></div>

                        @Block("center small row", buff.isActive) {
                            <span class="green">Осталось @formatTime(buff.millis)</span>
                        }

                        <div class="center">
                            @button("btni", routes.BuffController.buyAction(model.typeId), enabled = buff.canBuy) {
                                Купить @price(model.price)
                            }
                        </div>
                    </div>
                    @if(idx + 1 < BuffType.entries.size) {
                        <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
                            background-size: 240px auto;
                            padding: 10px;
                            margin-bottom: 4px;"></div>
                    }
                }
            }
            <div class="center small minor">Заклинания можно покупать не более чем на 7 дней.</div>
        </div>
    }
}
