@import bean.Hero
@import components.context.GameContext
@import components.PagingModel
@import views.html.gameplay.hero.HeroPortrait
@import controllers.HeroController.upgradePrice
@import views.html.gameplay.hero.Tavern
@import bean.GameUser
@(pg: PagingModel[Hero])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu: GameUser =>
@main {
    <div class="panel brus">
        @for((hero, idx) <- pg.page.zipWithIndex) {
            <div class="prel">
                @HeroPortrait(hero)
                @button("btni", routes.HeroController.promoteLevel(hero.id),
                    visible = hero.pendingLevel > 0) {
                    @Image("plus1.png", 24) уровень
                }
                @button("btni", routes.HeroController.upgrade(hero.id),
                    visible = hero.canUpgraded) {
                    Прокачать новую способность @price(upgradePrice)
                }
                <div class="cb"></div>
                <div class="hero-exp-line">@progress1(hero.currentExpPercent)</div>
                @Block("", ctx.user.isAdmin) {
                    @button("btni", routes.HeroController.incrementLevel(hero.id, 1)) {+1}
                    @button("btni", routes.HeroController.incrementLevel(hero.id, 10)) {+10}
                    @button("btni", routes.HeroController.incrementLevel(hero.id, -1)) {-1}
                    @button("btni", routes.HeroController.incrementLevel(hero.id, -10)) {-10}
                    @button("btni", routes.HeroController.skillsManagement(hero.id)) {добавить абилку}
                }
            </div>
            @if(idx + 1 < pg.page.size) {
                <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
                    background-size: 240px auto;
                    padding: 10px;
                    margin-bottom: 4px;"></div>
            }
        }
        @Paginator(pg)
    </div>
    @Tavern()
} }
