@import bean.Hero
@import components.context.GameContext
@import util.format._
@(hero: Hero)(implicit ctx: GameContext[AnyContent])

@Image(hero.template.image160, 80, "fl hero-exp-portrait")
<div>
    <span class="@hero.color bold">@hero.template.name @hero.level ур.</span>
    <span>
        @Image("exp.png", 16)
        @Exp(hero.currentLevelExperience) / @Exp(Hero.experienceToNextLevel(hero.level + hero.pendingLevel))
        (@hero.currentExpPercent%)
    </span>
</div>

<div class="abils">
@for(t <- hero.abilityObjs) {
    @defining(t) { ability =>
        <div>
            @ability.name
            @if(ctx.user.isAdmin) {
                @button("btni", routes.HeroController.deleteSkill(hero.id, ability.typeId)) {del}
            }
        </div>
    }
}
</div>
@Block("minor", hero.active) {
    На поручении
}
