@import bean.Hero
@import model.hero.Ability
@import components.context.GameContext
@(hero: Hero, skills: Seq[Ability])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content center">Добавить скилл для @hero.template.name</div>
    <div class="contetn">
    @for(skill <- skills) {
        <div>
            @skill.name
            <span class="fr">
                @button("btni", routes.HeroController.addSkill(hero.id, skill.typeId)) {добавить}
            </span>
            <div class="cb"></div>
        </div>
    }
    </div>
}