@import components.context.GameContext
@import model.hero.HeroTemplate
@import bean.GameUser
@()(implicit ctx: GameContext[AnyContent])

@className(templates: Seq[HeroTemplate]) = @{
    if (templates.exists(template => ctx.gameUser.canBuy(template.price))) "green"
    else ""
}

@defining((ctx.gameUser, HeroTemplate.forSale(ctx.gameUser))) { case (gu: GameUser, heroes: Seq[HeroTemplate]) =>
    @button("btnl", routes.HeroController.heroShop(),
        visible = gu.level >= config.TAVERNA_LEVEL, enabled = heroes.nonEmpty) {
        <span class="fl">Таверна</span>
        @for(N <- Some(HeroTemplate.forSale(ctx.gameUser)).map(_.size).filter(_ > 0)) {
            <span class="fr @className(heroes)">(@N)</span>
        }
        <div class="cb"></div>
    }
}
