@import components.context.PlayContext
@(id: Int, title: String, text: String)(implicit ctx: PlayContext[AnyContent])

<div class="center">
    <div class="bold">@title</div>
    <div>@Html(text)</div>
    <div>
    @button("btni", routes.UserController.closeNotification(id)) {
        Понятно
    }
    </div>
</div>
