@import components.context.PlayContext
@import bean.Notification
@(notification: Notification)(implicit ctx: PlayContext[AnyContent])

<div class="center">
    Вы получаете возможность нанимать больше героев! Для этого перейдите в Таверну во вкладке "Мои владения"
<div>
@button("btni", routes.UserController.closeNotification(notification.id)) {
    понятно
}
</div>
</div>
