@import components.context.PlayContext
@import bean.Notification
@(notification: Notification)(implicit ctx: PlayContext[AnyContent])

<div class="center">
    @Html(notification.content)
    <div>
        @button("btni", routes.UserController.closeNotification(notification.id)) {
            Закрыть
        }
    </div>
</div>
