@(id: Int, sex: Char, clanName: String)

<div class="center">
    Поздравляем! Вас назначили
    @if(sex == 'm') {
        боярином
    } else {
        боярыней
    }
    княжества @clanName
    <div>
    @button("btni", routes.UserController.closeNotification(id)) {
        Понятно
    }
    </div>
</div>