@import components.context.GameContext
@import model.item.Ingredient
@import views.html.gameplay.task.Title
@import util.PlusUtil.chestsPlus
@(barn: Seq[(Ingredient, Int)])(implicit ctx: GameContext[AnyContent])

@defining((ctx.settings, ctx.gameUser)) { case (settings, gu) =>
    @main {
        @Title("barn.png")
        <div class="panel mramor prel">
            @button("", routes.BarnController.toggleOrdering, visible = gu.level >= 30) {
                @Image(if(settings.barnOrdering) "sort_asc.png" else "sort_desc.png", 24,
                    style="position: absolute; right: 4px;")
            }
            <div class="center">@gu.barnFreeSpace / @gu.barnSize</div>

            @if(barn.isEmpty) {
                <div class="center">В амбаре пусто</div>
            }
            @if(settings.detailedInvetnar) {
                @DetailedBarnView(barn)
            } else {
                @BriefBarnView(barn)
            }
        </div>
        @for(p <- gu.barnUpgradePrice) {
            @button("btnl", routes.BarnController.upgradeLevel()) {
                Увеличить амбар на 5 мест
                <span class="fr">@price(p)</span>
                <div class="cb"></div>
            }
        }
        @button("btnl", routes.ChestController.chestsPage(), plus = chestsPlus(gu)) {
            Сундуки
        }
        @button("btnl", routes.BarnController.toggleVisualOption) {
            @if(settings.detailedInvetnar) {[-] скрыть подробности} else {[+] показать подробности}
        }
        @button("btnl", routes.BarnController.barnInit(), visible = ctx.user.isAdmin) {
            Инициализировать
        }
    }
}
