@import components.context.GameContext
@import model.item.Ingredient
@(barn: Seq[(Ingredient, Int)])(implicit ctx: GameContext[AnyContent])

<div class="center">
    @for((ing, amount) <- barn) {
        <div class="slot">
            @button("", ing.group.sourceAnchor(ing).get, enabled = ing.group.sourceAnchor(ing).nonEmpty) {
                @Image(ing.image, 64)
            }
            <br/>
            @Image("menu/Инвентарь-1.png", 24) @amount
            @if(ctx.user.isAdmin) {
                @button("btni", routes.BarnController.barnInc(ing.typeId, -1), visible = !ing.unlimited) {-}
                @button("btni", routes.BarnController.barnInc(ing.typeId, 1), visible = !ing.unlimited) {+}
            }
        </div>
    }
</div>
