@import components.context.GameContext
@import model.item.Ingredient
@(barn: Seq[(Ingredient, Int)])(implicit ctx: GameContext[AnyContent])

<div>
    @for((ing, amount) <- barn) {
        <div class="row">
            @Image(ing.image, 48, "fl")
            <div class="row">@ing.name</div>
            <div>
                @Image("menu/Инвентарь-1.png", 24) @amount

                @if(ctx.user.isAdmin) {
                    @button("btni", routes.BarnController.barnInc(ing.typeId, -1), visible = !ing.unlimited) {-}
                    @button("btni", routes.BarnController.barnInc(ing.typeId, 1), visible = !ing.unlimited) {+}
                }

                @for(label <- ing.group.sourceLabel; anchor <- ing.group.sourceAnchor(ing)) {
                    @button("link green", anchor) {@label}
                }
            </div>
            <div class="cb"></div>
        </div>
    }
</div>
