@import components.context.PlayContext
@import components.PlayComponentsHolder
@(userForm: Form[(String,String)])(implicit ctx: PlayContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    <div class="h1">Вход</div>
    @formMessages(userForm)
    <div class="center">
    @form(action = routes.LoginController.login()) {
        @inputText(userForm("nick"), args('_label -> "Ник") : _*)
        @inputPassword(userForm("pass"), args('_label -> "Пароль") : _*)
        <input class="btni" type="submit" value="Войти" >
    }
    </div>
    @button("btnl center", routes.Application.index()) {
        В начало
    }
}