@import components.PlayComponentsHolder
@import components.context.PlayContext
@(userForm: Form[RegistrationData], please: Boolean = false)(implicit ctx: PlayContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    @if(please) {
        <div class="feedback center">Пожалуйста зарегистрируйтесь.</div>
    }
    <div class="h1">Регистрация</div>
        @formMessages(userForm)
    <div class="center">
    @form(action = routes.RegistrationController.registration()) {
        @inputText(userForm("nick"), args('_label -> Html("Ник<span class='red'>*</span>")) : _*)
        @select(userForm("sex"), options(Map("m" -> "мужской", "f" -> "женский")), args('_label -> "Пол") : _*)
        @inputPassword(userForm("pass1"), args('_label -> Html("Пароль<span class='red'>*</span>")) : _*)
        @inputPassword(userForm("pass2"), args('_label -> Html("Подтверждение<span class='red'>*</span>")) : _*)
        @inputText(userForm("email"), args('_label -> "E-Mail") : _*)
        <div class="small minor">Необходим для восстановления пароля.</div>
        <input class="btni" type="submit" value="Зарегистрироваться" >
        }
    </div>
    @button("btnl center", routes.Application.index(), visible = !please) {
        В начало
    }
}
