@import model.ReputationModel
@(rep: ReputationModel, level: Int)

@rep match {
    case ReputationModel.SALTAN => {
        @if(level == 2) {
            <span>Место в Амбаре увеличино на 5!</span>
        }
        @if(level == 3) {
            <span>Вы получаете разовую награду: 25 000 опыта!</span>
        }
        @if(level == 4) {
            <span>В Таверну добавлены герои: Фея и Лисичка-сестричка. Количество активных героев увеличивается на 1!</span>
        }
        @if(level == 5) {
            <span>Место в Амбаре увеличино на 10!</span>
        }
    }
    case ReputationModel.KOSHEY => {
        @if(level == 2) {
            <span>В лабораторию добавлен банк Кощея, в котором можно получать по 50 настойки времени в день!</span>
        }
        @if(level == 3) {
            <span>Вы получаете разовую награду: 1250 настойки времени!</span>
        }
        @if(level == 4) {
            <span>В Таверну добавлены герои: Привидение и Дэв. Количество активных героев увеличивается на 1!</span>
        }
        @if(level == 5) {
            <span>В банке Кощея можно получать дополнительно по 100 настойки времени в день!</span>
        }
    }
    case ReputationModel.PADISHAH => {
        @if(level == 2) {
            <span>На рынок добавлен дополнительный слот для покупки и продажи предметов!</span>
        }
        @if(level == 3) {
            <span>Вы получаете разовую награду: 30 000 монет!</span>
        }
        @if(level == 4) {
            <span>В Таверну добавлены герои: Витязь и Ифрит. Количество активных героев увеличивается на 1!</span>
        }
        @if(level == 5) {
            <span>На рынок добавлено 3 дополнительных слота для покупки и продажи предметов!</span>
        }
    }
}
