@import components.actions.wizard.PayPriceConfirm
@import util.RuGrammar.rubyDeficit
@import components.context.GameContext
@import util.format._
@(confirm: PayPriceConfirm)(implicit ctx: GameContext[AnyContent])

<div>
    У Вас нет достаточного количества корма. Хотите докупить корм за
    <span class="nobr">@Image("ruby.png", 24) @Ruby(confirm.price.value)</span>
    @rubyDeficit(confirm.price.value)?
</div>
