@import bean.PetProduction
@import components.context.GameContext
@import model.Building
@(building: Building, production: Option[PetProduction])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
    <div>
        @if(building.level > gu.level) {
            <div class="content center">Доступен с @building.level ур.</div>
        }
        @if(production.isEmpty) {
            <div class="content center">
                @button("btni", routes.PetFarmController.petfarmBuild(building.typeId)) {
                    Купить @building.name @price(building.getPrice)
                }
            </div>
        }
        @for(prod <- production) {
            <div class="content center panel brus">
                @defining(prod.pets.toSeq) { seq =>
                @for(pet <- seq) {
                    <div class="prel slot">
                        @button("", routes.PetFarmController.petfarmPetClick(building.typeId, pet.id)) {
                            @Image(pet.image, 80)
                            @if(pet.isFull) {
                                <div class="snippet p4" style="position: absolute; bottom: 0;">@Image(pet.product.image, 16)</div>
                            }
                            @if(pet.isWalk) {
                                <div class="snippet italic small enabled p4" style="position: absolute; bottom: 0;">@pet.timeView</div>
                            }
                            @if(pet.isHungry) {
                                <div class="snippet italic small enabled p4" style="position: absolute; bottom: 0;">@Image("hungry.gif", 16)</div>
                            }
                        }
                    </div>
                }}
                @for(newPetPrice <- prod.newPetPrice if prod.canBuyNewPet) {
                    @button("prel slot", routes.PetFarmController.petfarmBuyPet(building.typeId)) {
                        @Image(prod.building.blackImage, 80)
                        <div class="snippet p4" style="position: absolute; bottom: 0; right: 0;">
                            @price(newPetPrice, 16)
                        </div>
                    }
                }

                @Block("") {
                    @button("btni", routes.PetFarmController.feedAll(building.typeId)) {
                        Покормить
                    }
                    @button("btni", routes.PetFarmController.claimAll(building.typeId)) {
                        Собрать
                    }
                }

                @defining(prod.building.food) { food =>
                    @defining(gu.barn.getOrElse(food.typeId, 0)) { amount =>
                        <div class="minor">
                            @if(amount == 0) {
                                Нет корма в запасах.
                                @button("link", routes.ProductionController.productionPage(Building.FEED_MILL.typeId)) {
                                    Сделать
                                }
                            } else {
                                Доступно @amount @food.name
                            }
                        </div>
                    }
                }
            </div>
            @button("btnl", routes.PetFarmController.makeFullAdminAction(prod.id), visible = gu.user.isAdmin) {
                Вырастить
            }
        }
    </div>
}
