@import components.PlayComponentsHolder
@import components.context.GameContext
@import bean.Avatar
@import bean.Clan
@import views.html.AvatarPanel
@(searchForm: Form[String], find: Boolean, user: Option[Avatar], clan: Option[Clan])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    @formMessages(searchForm)
    @if(user.isEmpty && clan.isEmpty && find) {
        <div class="content center feedback">Поиск не дал результатов</div>
    }
    <div class="content center">
        @form(routes.SearchController.searchPost()) {
            @inputText(searchForm("query"), args('_label -> "Ник игрока или название княжества") : _*)
            <input type="submit" value="Найти" class="btni"/>
        }
    </div>
    @if(user.nonEmpty || clan.nonEmpty) {
        <div class="panel brus">
            @for(avatar <- user) {
                <div class="content">Найден пользователь @AvatarPanel(avatar)</div>
            }
            @for(cl <- clan) {
                <div class="content">Найдено княжество
                    @button("", routes.ClanController.clan(cl.id)) {
                        @Image("clan.png", 24) @cl.visualName
                    }
                </div>
            }
        </div>
    }
}
