@import components.PlayComponentsHolder
@import components.context.PlayContext
@(forgotForm: Form[(String, String)], fdb: Option[String])(implicit ctx: PlayContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    <div class="h1">Восстановление пароля</div>
    @formMessages(forgotForm)
    @for(s <- fdb) {
        <div class="feedback center">@s</div>
    }
    @if(fdb.isEmpty) {
        <div class="content center">
            <span class="minor">
                Укажите Ваше имя и Email, которые Вы указали при регистрации.
                На указанный email адрес будет отправлена ссылка для смены пароля.
            </span>
            @form(routes.ForgotController.forgotPost()) {
                @inputText(forgotForm("login"), args('_label -> Html("Ник")): _*)
                @inputText(forgotForm("email"), args('_label -> Html("E-Mail")): _*)
                <input type="submit" class="btni" value="Отправить"/>
            }
        </div>
    }
    @button("btnl center", routes.LoginController.login()) {
        Вход
    }
    @button("btnl center", routes.Application.index()) {
        @Image("back.png", 24) В начало
    }
}
