@import components.context.PlayContext
@import components.PlayComponentsHolder
@(restoreForm: Form[(String, String)], err: Option[String], through: (String, Long, String))(implicit ctx: PlayContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    @for(errorMessage <- err) {
        <div class="feedback center">@errorMessage</div>
    }
    @formMessages(restoreForm)
    <div class="h1">@if(err.nonEmpty) {Восстановление пароля} else {Новый пароль}</div>
    @if(err.isEmpty) {
        <div class="content center">
        @form(routes.RestoreController.restorePost(through._1, through._2, through._3)) {
            @inputPassword(restoreForm("pass1"), args('_label -> Html("Новый пароль")): _*)
            @inputPassword(restoreForm("pass2"), args('_label -> Html("Подтверждение")): _*)
            <input type="submit" value="Сменить пароль" class="btni"/>
        }
        </div>
    }
    @for(errorMessage <- err if !ctx.isLoggedIn) {
        @button("btnl center", routes.Application.index()) {
            В начало
        }
    }
}
