@import components.context.GameContext
@import components.PagingModel
@import model.rating.RatingEntity
@import bean.Avatar
@import model.rating.Rating
@import model.rating.RatingType
@import bean.Clan
@import model.ReputationModel
@(clan: Clan, rating: Rating, ratingType: RatingType, pg: PagingModel[RatingEntity])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content">

        @* Название рейтинга *@
        <div class="center">
            Рейтинг по
            @Image(ratingType.image, 24) @ratingType.name
        </div>

        @if(pg.isEmpty) {
            <div class="center">Рейтинги пересчитываются</div>
        }

        @* список игроков *@
        @for(ratingEntity <- pg.page) {
            @for(avatar <- ctx.hibernateSession.get(classOf[Avatar], ratingEntity.id)) {
                <div>
                    @rating.getPosition(ratingEntity.id)@Html(".") @AvatarPanel(avatar)
                <span class="fr">@Image(ratingType.image, 24) @ratingEntity.value</span>
                </div>
            }
        }
    </div>
    @Paginator(pg)

    @* переключатель рейтингов *@
    @for(rt <- RatingType.clanRatings) {
        @tab("btnl", routes.RatingController.clanRatingPage(rt.typeId, clan.id)) {
            @Image(rt.image, 24) По @rt.name
        }
    }
    @button("btnl", routes.ClanController.clan(clan.id)) {
        @back() Назад
    }
}
