@import components.context.GameContext
@import model.rating.RatingType
@import components.PagingModel
@import model.rating.RatingEntity
@import bean.Avatar
@import model.rating.Rating
@import model.ReputationModel
@(ratingType: RatingType, rep: ReputationModel, rating: Rating, pg: PagingModel[RatingEntity])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content">

        <div class="center">
            Рейтинг по
            @if(ratingType == RatingType.REPUTATION) {
                репутации @Image(rep.image, 24) @rep.name
            } else {
                @Image(ratingType.image, 24) @ratingType.name
            }
        </div>

        @* переключатель репутаций *@
        @if(ratingType == RatingType.REPUTATION) {
            <div class="center">
                @for(reputation <- ReputationModel.entries) {
                    @tab("btni", routes.RatingController.ratingPage(RatingType.REPUTATION.typeId, reputation.typeId)) {
                        @Image(reputation.image, 24)
                    }
                }
            </div>
        }

        @if(pg.isEmpty) {
            <div class="center">Рейтинги пересчитываются</div>
        }

        @* список игроков *@
        @for(ratingEntity <- pg.page) {
            @for(avatar <- ctx.hibernateSession.get(classOf[Avatar], ratingEntity.id)) {
                <div>
                    @rating.getPosition(ratingEntity.id)@Html(".") @AvatarPanel(avatar)
                    <span class="fr">@Image(ratingType.image, 24) @ratingEntity.value</span>
                </div>
            }
        }

        @Paginator(pg)

        @* топ-1000 *@
        <div class="small italic minor center">
            @defining(rating.getPosition(ctx.userId)) { position =>
              @if(position == -1) {
                  Вы не входите в топ-@config.MAX_RATING_USERS
              } else {
                  Вы занимаете @position@Html("-e") место.
              }
            }
        </div>

    </div>

    @* переключатель рейтингов *@
    @for(rt <- RatingType.userRatings) {
        @tab("btnl", routes.RatingController.ratingPage(rt.typeId, ReputationModel.SALTAN.typeId)) {
            @Image(rt.image, 24) По @rt.name
        }
    }
}
