@import bean.Transform
@import bean.state.TransformState
@import components.context.GameContext
@import components.PagingModel
@import model.item.Ingredient
@import components.PlayComponentsHolder

@(frm: Form[Int], tr: Transform, pg: PagingModel[(Ingredient, Int)], uncountable: Iterable[Ingredient])(implicit ctx: GameContext[AnyContent])

@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    <div class="content center">

        <div class="h1 row">Волшебный сундучок</div>
        @formMessages(frm)

        @* слоты преобразования *@
        <div class="row">

            @* очистить *@
            <span class="fl">
                @button("minor", routes.TransformController.transformClearSlots(pg.currentPage)) { [x] }
            </span>

            <div class="pl8 slot">
                @for(slot <- 0 to 1) {
                    @button("slot", routes.TransformController.transformSelectSlot(slot, pg.currentPage),
                        style = "position: relative;") {

                        @* класс выделения *@
                        @defining(if(tr.activeSlot() == slot) "sel" else "unsel") { cls =>

                            <div class="@cls">
                                @tr.ing(slot) match {
                                    case None => {
                                        @Image("circle8.png", 80)
                                    }
                                    case Some(ingredient) => {
                                        @Image("circle8.png", 80)
                                        <div style="position: absolute;top: 17px;left: 17px;">
                                            @Image(ingredient.image, 50)
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                }
            </div>

            @* подсказка в виде названия и иконки рецепта *@
            @defining(tr.state) { st =>
                @tr.futureRecipe.map { case r =>
                    @if(st == TransformState.Available) {
                        <div class="small minor">@Image(r.image(tr), 16) @r.name(tr)</div>
                    }
                    @if(st == TransformState.NotAvailable) {
                        <div class="small minor">это превращение пока не доступно</div>
                    }
                }
            }
        </div>

        @* превратить *@
        @defining(tr.state) { st =>
            @form(action = routes.TransformController.transformSubmit(pg.currentPage)) {
                <input type="text" id="amount" name="amount" value="1" class="tr-inp"/> x
                @if(st == TransformState.Available || st == TransformState.NotAvailable) {
                    <input class="btni" type="submit" value="Превратить" >
                } else {
                    <span class="btni">Превратить</span>
                }
            }
        }

    </div>

    @* ингредиенты *@
    <div class="block row center">Амбар</div>
    @if(pg.isEmpty) {
        <div class="minor center">Амбар пуст</div>
    }
    @for((ingredient, amount) <- pg.page) {
        @button("btnl", routes.TransformController.transformSelectIngredient(ingredient.typeId, pg.currentPage)) {
            <span class="fl">@Image(ingredient.image, 24) @ingredient.name</span>
            <span class="fr">@if(!ingredient.unlimited) { @amount }</span>
            <div class="cb"></div>
        }
    }
    @Paginator(pg)

    <div class="block row center">бесконечные ингредиенты</div>
    @for(ing <- uncountable) {
        @button("btnl", routes.TransformController.transformSelectIngredient(ing.typeId, pg.currentPage)) {
            <span class="fl">@Image(ing.image, 24) @ing.name</span>
            <div class="cb"></div>
        }
    }
}
