@import bean.TestEntity
@import components.context.GameContext
@import components.PagingModel
@(paging: PagingModel[TestEntity])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="pg_bg"><div class="pg_b"><div class="pg_r"><div class="pg_t"><div class="pg_l"><div class="pg_tl"><div class="pg_tr"><div class="pg_bl"><div class="pg_br">
        <div class="pg_inner">
            <div>Content</div>
        </div>
    </div></div></div></div></div></div></div></div></div>
    <div class="content center">
        @for(item <- paging.page) {
            @item.id
        }
        @Paginator(paging)
    </div>
}
