@import components.context.GameContext
@import components.PlayComponentsHolder
@import bean.messages.forum.Comment

@(comment: Comment, banForm: Form[(Int, Int)], timeOpts: Seq[(String, String)], reasonOpts: Seq[(String, String)], folderPage: Int, topicPage: Int)(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(banForm)
    <div class="content center">
        @defining(comment.topic) { topic =>
            @button("", routes.ForumController.topic(topic.id, None, folderPage, Some(topicPage))) {
                @topic.subject
            } / Забанить
        }
    </div>
    <div class="content">
        @form(routes.ForumController.banComment(comment.id, folderPage, topicPage)) {
            <div>@select(banForm("time"), timeOpts, args('_label -> "Забанить на") : _*)</div>
            <div>@select(banForm("reason"), reasonOpts, args('_label -> "Причина") : _*)</div>
            <div class="center"><input type="submit" value="Забанить" class="btni"/></div>
        }
    </div>
}
