@import components.context.GameContext
@import bean.messages.forum.Folder
@import bean.Clan
@import components.PlayComponentsHolder

@(folder: Folder, clan: Option[Clan], folderForm: Form[(String, String)])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(folderForm)
    <div class="content center">
        @if(folder.isPersistent) {
            @button("", routes.ForumController.folder(folder.id)) {@folder.name}
        } else {
            @button("", routes.ForumController.forumMain(clan.map(_.id))) {Форум}
        }
        /
        @if(folder.isPersistent) {Редактирование} else {Создание раздела}
    </div>
    @form(action = routes.ForumController.folderEdit(Option(folder).filter(_.isPersistent).map(_.id), clan.map(_.id))) {
        <div class="center">
            @inputText(folderForm("name"), args('_label -> "Название") : _*)
        </div>
        <div class="content">
            @if(clan.isEmpty) {
                @InputRadioGroupCustom(folderForm("option"),
                    Seq("normal" -> "Обычный", "news" -> "Новостной", "admin" -> "Модераторский"),
                    args: _*)(FieldConstructor(FieldConstructorCustom(_)), implicitMessages)
            } else {
                @InputRadioGroupCustom(folderForm("option"),
                    Seq("opened" -> "Для всех участников княжества", "closed" -> "Для руководства княжества", "guests" -> "Для гостей княжества"),
                    args: _*)(FieldConstructor(FieldConstructorCustom(_)), implicitMessages)
            }
            <div class="center"><input type="submit" value="Сохранить" class="btni"/></div>
        </div>
    }
}
