@import components.context.GameContext
@import bean.messages.forum.Folder
@import components.PagingModel
@import bean.messages.forum.Topic
@(folder: Folder, pg: PagingModel[Topic], hasNewTopics: Boolean)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gameUser =>
    @defining(folder.clan) { clan =>

        @main {

            <div class="content center">
                @button("", routes.ForumController.forumMain(clan.map(_.id))) {Форум} / @folder.name
            </div>
            @if(pg.isEmpty) {
                <div class="content center">В этом разделе еще нет топиков.</div>
            }
            @for(topic <- pg.page) {
                @button("btnl", routes.ForumController.topic(topic.id, None, pg.currentPage, None)) {
                    @Image(topic.icon(ctx.user), 24) @topic.subject
                }
            }
            @Paginator(pg)
            @button("btnl", routes.ForumController.markAllTopics(folder.id, pg.currentPage), visible = hasNewTopics) {
                Отметить всё как прочитанное
            }
            @button("btnl", routes.ForumController.topicForm(folder.id, pg.currentPage),
                visible = gameUser.isTopicCreationAllowed(folder) && !ctx.user.isBanned) {
                Создать топик
            }
            @button("btnl", routes.ClanController.clan(clan.get.id), visible = clan.exists(!gameUser.clan.contains(_))) {
                @Image("clan.png", 24) Княжество
            }
            @button("btnl", routes.ForumController.removeFolder(folder.id, pg.currentPage), visible = gameUser.canRemoveFolder(folder)) {
                Удалить раздел
            }
            @button("btnl", routes.ForumController.folderForm(Some(folder.id), folder.clan.map(_.id)), visible = gameUser.canEditFolder(folder)) {
                Редактировать раздел
            }
        }
    }
}
