@import components.context.GameContext
@import bean.Clan
@import components.PagingModel
@import bean.messages.forum.Folder

@(clan: Option[Clan], pg: PagingModel[Folder])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content center">
        @for(c <- clan) {
            @button("", routes.ClanController.clan(c.id)) { @c.visualName /}
            Форум
        }
    </div>
    <div>
        @for(folder <- pg.page) {
            @button("btnl", routes.ForumController.folder(folder.id)) {
                @Image(ctx.user.folderIcon(folder), 24) @folder.name
            }
        }
        @defining(ctx.gameUser) { user =>
            @button("btnl", routes.ForumController.markAllFolders(clan.map(_.id), pg.currentPage),
                visible = clan.exists(user.hasNewForumMessages)) {
                Отметить все прочитанными
            }
            @button("btnl", routes.ForumController.folderForm(None, clan.map(_.id)),
                visible = user.canCreateFolder(clan)) {
                Создать раздел
            }
            @button("btnl", enabled = false, visible = clan.isEmpty) {Модераторы}
        }
    </div>
}
