@import components.context.GameContext
@import controllers.helpers.TopicInfo

@(topicInfo: TopicInfo, replyPossible: Boolean, folderPage: Int)(implicit ctx: GameContext[AnyContent])

@defining(topicInfo.topic.id) { id =>
@defining(topicInfo.currentPage) { topicPage =>
@defining((ctx.gameUser, ctx.user, ctx.settings)) { case (gameUser, user, settings) =>
    <div>
        @for(comment <- topicInfo.comments) {
            @defining((comment.comment.id, comment.author)) { case (commentId, author) =>
            @defining(gameUser.canDelete(topicInfo.topic) && !comment.comment.deleted && settings.manageBlockExpanded) { deleteVisible =>
            @defining(user.isAdminOrSupporterOrModerator && settings.manageBlockExpanded && author != user.avatar) { banVisible =>
                <div class="message">
                    <div>
                        @AvatarPanel(author) <span class="minor">@comment.time назад</span>
                        <span class="fr">
                            @button("", visible = author != user.avatar && replyPossible,
                                action = routes.ForumController.topic(id, Some(author.visualNick), folderPage, Some(topicInfo.currentPage))) {
                                @Image("reply.png", 24)
                            }
                            @button("", visible = deleteVisible,
                                action = routes.ForumController.deleteComment(id, commentId, folderPage, topicPage)) {
                                @Image("cross_red.png", 24)
                            }
                            @button("", visible = banVisible,
                                action = routes.ForumController.banCommentPage(commentId, folderPage, topicPage)) {
                                @Image("ban.png", 24)
                            }
                        </span>
                        <div class="cb"></div>
                    </div>
                    <div class="@comment.author.textCssClass">@Html(comment.text)</div>
                </div>
            }}}
        }
        @Paginator(topicInfo.pg)
    </div>
}
}
}
