@import components.context.GameContext
@import bean.messages.forum.Folder
@import components.PlayComponentsHolder

@(folder: Folder, topicForm: Form[(String, String)], folderPage: Int)(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(topicForm)
    <div class="content center">
        @button("", routes.ForumController.folder(folder.id)) {
            @folder.name
        } / Создать топик
    </div>
    @form(action = routes.ForumController.topicCreate(folder.id, folderPage)) {
        <div class="center">
            @inputText(topicForm("subject"), args('_label -> "Заголовок") : _*)
            @textarea(topicForm("body"), args('_label -> "Текст") :+ 'rows -> 5 : _*)
        </div>
        <div class="center">
            <input type="submit" class="btni" value="Сохранить"/>
            @* TODO смайлы и бб-коды*@
        </div>
    }
}
