@import components.context.GameContext
@import bean.messages.forum.Topic
@import components.PlayComponentsHolder

@(topic: Topic, editForm: Form[(String, String)], topicPage: Int, folderPage: Int)(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(editForm)
    <div class="content center">
        @button("", routes.ForumController.topic(topic.id, None, folderPage, Some(topicPage))) {@topic.subject} / Редактирование
    </div>
    @form(action = routes.ForumController.editTopic(topic.id, folderPage, topicPage)) {
        <div class="center">
            @inputText(editForm("subject"), args('_label -> "Заголовок") : _*)
            @textarea(editForm("body"), args('_label -> "Текст") :+ 'rows -> 5 : _*)
        </div>
        <div class="center">
            <input type="submit" class="btni" value="Сохранить"/>
            @* TODO смайлы и бб-коды*@
        </div>
    }
}
