@import components.context.GameContext
@import bean.messages.forum.Topic
@import components.PlayComponentsHolder

@(topic: Topic, moveForm: Form[Int], opts: Seq[(String,String)], folderPage: Int, topicPage: Int)(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(moveForm)
    <div class="content center">
        @button("", routes.ForumController.topic(topic.id, None, folderPage, Some(topicPage))) {@topic.subject} / Перемещение
    </div>
    @form(action = routes.ForumController.moveTopic(topic.id, folderPage, topicPage)) {
        <div class="content">Перенести топик "@topic.subject" из раздела "@topic.folder.name" в</div>
        <div>
            @select(moveForm("forum"), opts, args('_label -> "Раздел") : _*)
        </div>
        <div class="center"><input type="submit" value="Переместить" class="btni"/></div>
    }
}
