@import bean.messages.forum.Topic
@import components.PlayComponentsHolder
@import components.context.GameContext
@import controllers.helpers.TopicInfo
@import bean.GameUser.GameUserOps
@import model.BBCode.AVAILABLE_BB_CODES
@import util.SmilesUtil

@(topic: Topic, forum: TopicInfo, writeForm: Form[String], folderPage: Int)(implicit ctx: GameContext[AnyContent])

@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@defining((ctx.user, ctx.gameUser, ctx.settings, topic.folder, ctx.gameUser.isWriteAllowed)) { case (user, gameUser, settings, folder, writeAllowed) =>
@defining(new GameUserOps(gameUser)) { ops =>
@defining(folder.clan.exists(_.isIgnored(user.avatar))) { clanRestricted =>
@defining(!topic.closed && !topic.deleted && !user.isBanned) { writingPossible =>
@defining(topic.author != user && writeAllowed && !clanRestricted) { replyVisible =>
    @main {
        @formMessages(writeForm)
        <div class="content center">
            @button("", routes.ForumController.folder(folder.id, folderPage)) {
                @folder.name
            } / @topic.subject
        </div>
        <div class="content">
            @if(forum.pg.isFirst) {
                <div>
                    <span class="@forum.authorClass">@AvatarPanel(forum.author)</span> <span class="minor">@forum.time</span>
                    @button("fr",
                        routes.ForumController.topic(topic.id, Some(forum.author.visualNick), folderPage, Some(forum.currentPage)),
                        visible = replyVisible) {
                        @Image("reply.png", 24)
                    }
                    <div class="cb"></div>
                </div>
                <div class="message @forum.bodyClass">@Html(forum.body)</div>
            }
            @views.html.forum.MessagesList(forum, writeAllowed && !clanRestricted, folderPage)
        </div>
        @Block("", writingPossible && writeAllowed && !clanRestricted) {
            @form(action = routes.ForumController.doComment(topic.id, folderPage, forum.currentPage)) {
                <div>@textarea(writeForm("text"), 'rows -> 5)(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)</div>
                <div class="center">
                    <input type="submit" class="btni" value="Написать"/>
                    @BBCodesPanel(forum.canUseBBCodes(user, topic), "text", AVAILABLE_BB_CODES)
                    @SmilesPanel(true, "text", SmilesUtil.getInstance().getSmiles)
                </div>
            }
        }
        @Block("small minor content center", writingPossible && !writeAllowed) {
            Чтобы писать на форумах нужно
            @if(user.avatar.isAnonymous) {
                @button("", routes.RegistrationController.registrationPage()) {зарегистрироваться} и}
            достичь @config.REQUIRED_FOR_WRITE_LEVEL уровня.
        }
        @Block("small minor content", clanRestricted) {
            Вы находитесь в чёрном списке княжества.
        }

        @defining(ops.canEdit(topic)) { edit =>
        @defining(ops.canMove(topic)) { move =>
        @defining(ops.canOpenClose(topic) && !topic.closed) { close =>
        @defining(ops.canPinUnpin(topic) && !topic.pinned) { pin =>
        @defining(ops.canPinUnpin(topic) && topic.pinned) { unpin =>
        @defining(ops.canDelete(topic) && !topic.deleted) { delete =>
        @defining(Array(edit, move, close, pin, unpin, delete).count(_ == true)) { buttons =>

            @button("btnl", visible = buttons > 1, action =
                    routes.ForumController.manageToggle(topic.id, folderPage, forum.currentPage)) {
                @Arrow(settings.manageBlockExpanded) Управление
            }
            @if(buttons == 1 || (buttons > 1 && settings.manageBlockExpanded)) {
                @button("btnl", routes.ForumController.editTopic(topic.id, forum.currentPage, folderPage), visible = edit) {Редактировать}
                @button("btnl", routes.ForumController.moveTopicPage(topic.id, folderPage, forum.currentPage), visible = move) {Перенести}
                @button("btnl", routes.ForumController.closeTopic(topic.id, folderPage), visible = close) {Закрыть}
                @button("btnl", routes.ForumController.pinTopic(topic.id, folderPage), visible = pin) {Закрепить}
                @button("btnl", routes.ForumController.unpinTopic(topic.id, folderPage), visible = unpin) {Открепить}
                @button("btnl", visible = delete, action =
                        routes.ForumController.deleteTopic(topic.id, folderPage, forum.currentPage, None)) {Удалить}
            }
        }
        }
        }
        }
        }
        }
        }
        @button("btnl", routes.ForumController.openTopic(topic.id, folderPage), visible = topic.closed && ops.canOpenClose(topic)) {Открыть}
        @button("btnl", routes.ClanController.clan(folder.clan.get.id),
            visible = folder.clan.exists(!gameUser.clan.contains(_))) {
            @Image("clan.png", 24) Княжество
        }
    }
}
}
}
}
}
