.pg_t {
    background-image: url(/assets/images/borders/1/t.png);
    background-repeat: repeat-x;
    background-position: top;
    background-size: 22px 9px;
}
.pg_r {
    background-image: url(/assets/images/borders/1/r.png);
    background-repeat: repeat-y;
    background-position: right;
    background-size: 9px 5px;
}
.pg_b {
    background-image: url(/assets/images/borders/1/b.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 5px 9px;
}
.pg_l {
    background-image: url(/assets/images/borders/1/l.png);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 9px 5px;
}
.pg_tl {
    background-image: url(/assets/images/borders/1/t-l.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 27px 27px;
}
.pg_tr {
    background-image: url(/assets/images/borders/1/t-r.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 27px 27px;
}
.pg_br {
    background-image: url(/assets/images/borders/1/b-r.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 27px 27px;
}
.pg_bl {
    background-image: url(/assets/images/borders/1/b-l.png);
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 27px 27px;
}
.pg_inner {
    padding: 30px 14px;
}
.pg_bg {
    background-image: url(/assets/images/borders/1/bg5-v.png);
    background-repeat: repeat;
}
