/*@light_dis: #42854D;*/
/* Светлый старт градиента в кнопках*/
/*@dark_dis: #1C4D24;*/
/* Темный старт градиента в кнопках*/
/*@background: #421010; */
/*@background: #220808; */
input,
select,
textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body,
input,
textarea,
select {
    font-family: Arial, Verdana, Tahoma, sans-serif;
    font-size: 1em;
}
body {
    padding: 0;
    margin: 0 auto;
    max-width: 480px;
    background: #290b0b url("/assets/images/textures/bg.png") repeat;
    background-size: 100px;
    -moz-background-size: 100px;
    -o-background-size: 100px;
    -webkit-background-size: 100px;
    color: #fffa86;
}
html,
div,
span,
form,
p,
img,
ul,
li,
a,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
}
img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    font-size: 0.5em;
}
input[type=submit] {
    border: 0;
    margin: 4px;
    padding: 6px;
}
input[type=password],
input[type=text],
textarea,
select {
    width: 100%;
    padding: 2px;
    background-color: #b4d7ce;
    border: 1px solid #777;
}
table {
    border: 0;
    border-spacing: 0;
}
li {
    list-style: none;
}
td {
    padding: 0;
}
.btnl,
.btni {
    background-color: #772020;
    background-image: -moz-linear-gradient(top, #772020, #772020);
    background-image: -o-linear-gradient(top, #772020, #772020);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#772020), to(#772020));
    background-image: linear-gradient(top, #772020, #772020);
    background-image: -ms-linear-gradient(top, #772020, #772020);
    background-repeat: repeat-x;
    transition: all .13s linear;
    -webkit-transition: all .13s linear;
    -moz-transition: all .13s linear;
    -o-transition: all .13s linear;
    text-decoration: none;
    display: inline-block;
    text-shadow: 1px 1px 1px black;
    margin: 0;
    color: #c6c6c6;
    border-radius: 5px;
    border: 1px solid #000000;
}
a,
a:visited {
    text-decoration: none;
    color: #fffa86;
}
input.btni,
a.btnl,
a.btni,
.btnii {
    background-color: #772020;
    background-image: -moz-linear-gradient(top, #bb3030, #772020);
    background-image: -o-linear-gradient(top, #bb3030, #772020);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bb3030), to(#772020));
    background-image: linear-gradient(top, #bb3030, #772020);
    background-image: -ms-linear-gradient(top, #bb3030, #772020);
    color: #ffffff;
}
.btni {
    text-align: center;
    padding: 4px 8px;
    margin: 2px;
}
.btnl {
    padding: 8px;
    line-height: 1.5em;
    display: block;
}
input.btni {
    border: 1px solid #000;
}
.refresh_bar {
    display: block;
    line-height: 0;
    position: relative;
}
.refresh_bar > div {
    background: url('/assets/images/expbg3.png') repeat-x 0 9px;
    height: 25px;
}
.refresh_bar > img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.content {
    padding: 4px;
}
.h1 {
    padding-top: 4px;
    text-align: center;
    font-size: 1.3em;
}
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.small {
    font-size: small;
}
.big {
    font-size: 1.3em;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}
.shadow {
    text-shadow: 1px 1px 1px black;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.cb {
    clear: both;
}
.cr {
    clear: right;
}
.feedback {
    background-color: #005e91;
    padding: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #000;
    color: #FFFC19;
}
.vat {
    vertical-align: top;
}
.nobr {
    white-space: nowrap;
}
.cm {
    margin: 0;
}
.mt {
    margin-top: 4px;
}
.mt5 {
    margin-top: 5px;
}
.pt {
    padding-top: 4px;
}
.wopb {
    padding-bottom: 0;
}
.womb {
    margin-bottom: 0;
}
.womt {
    margin-top: 0;
}
.half {
    width: 50%;
}
.block {
    margin-top: 8px;
}
.row {
    padding-bottom: 4px;
}
.foot {
    padding: 20px 0 0 0;
    color: #f10000;
}
.pg {
    padding: 6px 8px;
    margin: 2px 0;
}
.pl20 {
    padding-left: 20px;
}
.pl8 {
    padding-left: 8px;
}
.mb11 {
    margin-bottom: 11px;
}
.mb15 {
    margin-bottom: 15px;
}
.panel {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}
.thint,
.minor {
    color: #f3bd1c;
}
.normal {
    color: #fffa86;
}
.major {
    color: #fbff45;
}
.epic {
    color: #a751ed;
}
.enabled {
    color: #ffffff;
}
.red {
    color: #FF4D4D;
}
.green {
    color: #5bd970;
}
.blue {
    color: #005e91;
}
.admin {color: #8CD41E;}
.support {color: PaleGreen}
.moderator {color: #d5f1ef;}
.banned {color: #777777;}
.user,
.guild {
    color: #40E0D0;
}
.dis {
    color: #bb3030;
}
.link {
    text-decoration: underline;
    padding: 0 4px;
}
.link2 {
    text-decoration: underline;
    background-color: #bb3030;
    border-radius: 2px;
    padding: 0 4px 2px;
    color: #ffffff;
}
.link3 {
    background-color: #41bb30;
    border-radius: 2px;
    padding: 0 4px 2px;
    color: #ffffff;
}
.portrait {
    margin-right: 4px;
    margin-bottom: 2px;
}
.abils {
    padding-left: 84px;
}
.hero-exp-line {
    width: 80px;
    position: absolute;
    top: 86px;
}
.dirt-exp-line {
    width: 80px;
    position: absolute;
    top: 81px;
}
.hero-exp-portrait {
    margin-right: 4px;
    margin-bottom: 17px;
}
.prel {
    position: relative;
}
.sel {
    border: 2px solid #fbff45;
    border-radius: 41px;
}
.unsel {
    margin: 2px;
}
.slot {
    display: inline-block;
}
.message {
    margin-bottom: 4px;
    color: #a1eee6;
}
.snippet {
    background-color: #401971;
    border: 1px solid #BB7;
    border-radius: 4px;
}
.row-item {
    display: inline-block;
    padding: 2px;
}
.meter {
    height: 4px;
    position: relative;
    background: #1b211c;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 2px;
}
.meter > span {
    display: block;
    height: 100%;
    border-radius: 20px 8px 8px 20px;
    position: relative;
    overflow: hidden;
}
.bgblue > span {
    background-color: #0AB1F3;
}
.quest-chance {
    height: 4px;
    background: #000000;
    position: relative;
}
.quest-chance > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
}
input[type=text].tr-inp {
    width: 30px;
    border: 0;
    background-color: #290b0b;
    color: #fbff45;
    text-align: center;
    font-weight: bold;
}
.mramor {
    background: url(/assets/images/textures/mramor.jpg) repeat #4a2a49;
    background-size: 200px;
}
.brus {
    background: url(/assets/images/textures/brus.jpg) repeat #4a2a49;
    background-size: 100px;
}
.greenbg80 {
    background: url(/assets/images/circle6.png) no-repeat;
    background-size: 80px auto;
}
.wide {
    width: 100%;
}
.tall {
    height: 100%;
}
.m0 {
    margin: 0;
}
.p8 {
    padding: 8px;
}
.p4 {
    padding: 4px;
}
.flat-top {
    border-top: none;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;
}

.flat-bottom {
    border-bottom: none;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.flat-left {
    border-left: none;
    border-top-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topleft: 0;
    border-bottom-left-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -moz-border-radius-bottomleft: 0;
}

.flat-right {
    border-right: none;
    border-top-right-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topright: 0;

    border-bottom-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-bottomright: 0;
}

.anim,
.animArrowRight,
.animArrowLeft,
.animArrowRight_slot {
    background-size: 36px 36px;
    width: 36px;
    height: 36px;
    position: absolute;
    background-repeat: no-repeat;
    -moz-animation-timing-function: ease-in;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-duration: 500ms;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 500ms;
}
.animArrowRight {
    background-image: url(/assets/images/arrow-right.png);
    top: -5px;
    left: -40px;
    -moz-animation-name: arrow-motion-right;
    -webkit-animation-name: arrow-motion-right;
    animation-name: arrow-motion-right;
}
@-moz-keyframes arrow-motion-right {
    0% {
        left: -40px;
        top: -5px;
    }
    100% {
        left: -60px;
        top: -5px;
    }
}
@-webkit-keyframes arrow-motion-right {
    0% {
        left: -40px;
        top: -5px;
    }
    100% {
        left: -60px;
        top: -5px;
    }
}
.animArrowLeft {
    background-image: url(/assets/images/arrow-left.png);
    top: -5px;
    right: -36px;
    -moz-animation-name: arrow-motion-left;
    -webkit-animation-name: arrow-motion-left;
    animation-name: arrow-motion-left;
}
@-moz-keyframes arrow-motion-left {
    0% {
        right: -36px;
        top: -5px;
    }
    100% {
        right: -56px;
        top: -5px;
    }
}
@-webkit-keyframes arrow-motion-left {
    0% {
        right: -36px;
        top: -5px;
    }
    100% {
        right: -56px;
        top: -5px;
    }
}
.animArrowRight_slot {
    background-image: url(/assets/images/arrow-right.png);
    top: -5px;
    left: -5px;
    -moz-animation-name: arrow-motion-right-slot;
    -webkit-animation-name: arrow-motion-right-slot;
    animation-name: arrow-motion-right-slot;
}
@-moz-keyframes arrow-motion-right-slot {
    0% {
        left: -5px;
        top: -5px;
    }
    100% {
        left: 10px;
        top: -5px;
    }
}
@-webkit-keyframes arrow-motion-right-slot {
    0% {
        left: -5px;
        top: -5px;
    }
    100% {
        left: 10px;
        top: -5px;
    }
}
