@()

<div class="center">
    <div class="h1">50% скидка на улучшение банка!</div>
    <div>
        За покупку 100 и более рубинов игрок получает скидку 50% на улучшение рубинового банка!
    </div>
</div>