@()

<div class="center">
    <div class="h1">+50% к опыту за покупку рубинов!</div>
    <div>
        За покупку 100 и более рубинов игрок получает на сутки Заговор мудрости и Просветление ворона!
    </div>
</div>
