@()

<div class="center">
    <div class="h1">Монетная акция!</div>
    <div>
        При покупке рубинов Вы получите дополнительные монеты из расчета 50 монет за каждый купленный рубин.
    </div>
</div>
