@()
<div class="center">
    <div class="h1">Скидка на покупки в Магазине!</div>
    <div>
        При покупке одним платежом 100 рубинов и более, Вы получаете скидку 50% на все улучшения в магазине.
    </div>
</div>
