@()

<div class="center">
    <div class="h1">Скидка на апгрейды Заданий, Банка, Поручений, Амбара - 50%!</div>
    <div>
        За покупку 100 и более рубинов игрок получает на сутки скидку 50% на улучшение списка заданий, поручений, улучшение амбара, банка!
    </div>
</div>@()