@import components.context.GameContext
@import bean.Action
@import config.DATE_ONLY_FORMAT
@import controllers.ActionController.actions
@(action: Action, queue: Seq[Action])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
    @main {
        <div class="panel brus">
            <div class="row">
                Текущая акция: @action.name<br/>
                Включена: @DATE_ONLY_FORMAT.format(action.creationTime)<br/>
                Пользователем: @AvatarPanel(action.author.avatar)
            </div>

            <div class="center enabled bold">Акции</div>
            <div class="row">
                @for(model <- actions) {
                    @Image(model.image, 24) @model.name
                    @button("", routes.ActionController.switchOn(model.typeId)) {[включить]}
                    @button("", routes.ActionController.enqueue(model.typeId)) {[в очередь]}
                    @button("", routes.ActionController.switchOff(), visible = model == action.model) {[выключить]}
                    <br/>
                }
            </div>

            <div class="center enabled bold">Очередь акций</div>
            <div class="row">
                @Block("center", queue.isEmpty) {Очередь пуста}
                @for(queued <- queue; model <- Option(queued.model)) {
                    @Image(model.image, 24) @model.name<br/>
                }
            </div>
            <div class="center">
                @button("btni", routes.ActionController.clearQueue()) {
                    @Image("cross_red.png", 24) Очистить очередь
                }
            </div>
        </div>
        @button("btnl", routes.RubiesController.rubiesPage()) {
            @back() Назад
        }
    }
}
