@import components.context.GameContext
@import components.PlayComponentsHolder
@(phoneForm: Form[Option[String]])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(phoneForm)
    <div class="content center">
        <div class="">Для покупки рубинов необходимо подтвердить номер телефона (последние 10 цифр).</div>
        @form(action = controllers.payment.routes.PhoneController.updatePhone()) {
            @inputText(phoneForm("phone"), args('_label -> "Телефон") : _*)
            <input class="btni" type="submit" value="Подтвердить"/>
        }
    </div>
    @button("btnl", routes.RubiesController.rubiesPage()) {
        @back() Назад
    }
}
