@import components.context.GameContext

@()(implicit ctx: GameContext[AnyContent])

@main {
    @tab("btnl", routes.OnlineController.onlinePage()) {
        Активные игроки
        <span class="fr">@util.OnlineUtil.getOnlineCount</span>
        <div class="cb"></div>
    }
    @button("btnl", routes.RatingController.ratingPage()) {
        @Image("achievement.png", 24) Рейтинги
    }
}
