@import components.context.GameContext
@import model.hero.Ability
@import model.hero.HeroTemplate
@import bean.GameUser
@(templates: Seq[HeroTemplate])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu: GameUser =>
@main {
    <div class="panel brus">
        @if(templates.isEmpty) {
            <div class="center">Некого нанимать</div>
        }
        @for(template <- templates) {
            @Image(template.image, 64, "fl portrait")
            <div class="enabled">@template.name</div>
            <div>
            @for(a <- template.initialAbilities.zipWithIndex) {
                @defining(a) { case (ability: Ability, index: Int) =>
                    @ability.name @if(index + 1 < template.initialAbilities.length) {,}
                }
            }
            </div>
            <div>
            @button("btni", routes.HeroController.buyHero(template.typeId)) {
                Нанять @price(template.price)
            }
            </div>
            <div class="cb"></div>
        }
    </div>
    @for(pp <- gu.activeHeroesUpgradePrice) {
        @button("btnl", routes.HeroController.upgradeMaxActive(0, None, None)) {
            <span class="fl">Увеличить число активных героев до @(gu.activeHeroesMax + 1)</span>
            <span class="fr">@price(pp)</span>
            <div class="cb"></div>
        }
    }
}}
