@import components.context.GameContext
@import bean.GameUser
@(call: Int => Call)(implicit ctx: GameContext[AnyContent])

<div>
@defining(ctx.gameUser) {gu: GameUser =>
  @if(gu.lastAddresses.isEmpty) {
      <div class="center">Список последних адресатов пуст.</div>
  } else {
      <div class="center row">Последние адресаты</div>
      @for((ava, _) <- gu.lastAddresses.toSeq.sortBy(- _._2)) {
          @button("btnl", call(ava.id)) {
              @Image(ava.image, 24) @ava.visualNick
          }
      }
  }
}
</div>