@import components.context.GameContext
@import model.Building
@import util.PlusUtil
@import views.html.gameplay.hero.Tavern
@(name: String, productionView: Html, buildings: Iterable[Building])(implicit ctx: GameContext[AnyContent])

@GameContent(name) {
    @defining(ctx.gameUser) { gu =>
        <div>
            @productionView
            @for(building <- buildings) {
                @defining(PlusUtil.productionPlus(gu, building)) { plus =>
                    @tab("btnl", building.router, plus = plus) {
                        <div class="fl prel">
                            @Image(building.icon, 24)
                            @building.name
                        </div>
                        @if(building.level > gu.level) {
                            <span class="fr">с @building.level ур.</span>
                        } else {
                            @if(building.typeId != Building.FARM.typeId &&
                                    gu.getProduction(building.typeId).isEmpty &&
                                    gu.getPetProduction(building.typeId).isEmpty) {
                                <div class="fr">@Image("hammer.png", 24)</div>
                            }
                        }
                        @if(!plus) {
                            @for(t <- building.timeToReward(gu)) {
                                <span class="fr italic major">@Image("Clock4.png", 24) @util.TimeUtil.formatTime(t)</span>
                            }
                        }
                        @for(p <- gu.getProduction(building.typeId); timeToBuild <- p.timeToBuild) {
                            <span class="fr italic major">@Image("hammer.png", 24) @util.TimeUtil.formatTime(timeToBuild)</span>
                        }
                        @if(building.visitWarn(gu)) {
                            <span class="fr">@Image("checked.png", 24)</span>
                        }
                        <div class="cb"></div>
                    }
                }
            }
            @Tavern()
        </div>
    }
}
