@import model.price.Price
@import model.item.Ingredient
@import components.context.GameContext
@(buildingType:Int, productType: Int, deficit: Seq[(Ingredient, Int)], p: Price, hash: Option[String], showButtons: Boolean)(implicit ctx: GameContext[AnyContent])

@if(deficit.nonEmpty) {
    <div>
        <div>Не хватает ингредиентов</div>
        <div>
            @for( ((ingredient, needMore), idx) <- deficit.zipWithIndex) {
                @Image(ingredient.image, 24) <span class="red">@needMore</span>
                @ingredient.name@if(idx + 1 < deficit.length){,}
            }
        </div>
        @Block("center", showButtons) {
            @button("btni", routes.ProductionController.enqueue(buildingType, productType, hash)) {
                Докупить за @price(p)?
            }
            @button("btni", routes.ProductionController.productionPage(buildingType)) {
                Отмена
            }
        }
    </div>
}
