@import components.context.GameContext
@import model.Building
@import bean.Production
@import model.ProdFactory
@import model.Building.FEED_MILL
@(building: Building with ProdFactory, production: Option[Production])(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ctx.settings)) { case (gu, settings) =>

  <div>
      @if(building.level > gu.level) {
          <div class="content center">Доступен с @building.level ур.</div>
      }
      @if(production.isEmpty) {
          <div class="content center">
          @button("btni", routes.ProductionController.buyProduction(building.typeId)) {
              Купить @building.name @price(building.getPrice)
          }
          </div>
      }
      @for(prod <- production) {
          @if(prod.buildTime > ctx.since) {
              @defining(prod.buildTime - ctx.since) { rest =>
                  <div class="content center">
                      Идет строительство, еще @util.TimeUtil.formatTime(rest)
                      <div>
                        @button("btni", routes.ProductionController.enforceBuilding(building.typeId, prod.id)) {
                            ускорить за @price(util.TimeReduction.price(rest))
                        }
                      </div>
                  </div>
              }
          } else {
              <div class="content center">
                  @defining(prod.getReadyBasket) { basket =>
                      @if(basket.nonEmpty) {
                          <div class="content center">готовая продукция</div>
                      }
                      @for(product <- basket) {
                          @button("", routes.ProductionController.takeProduct(building.typeId, product.typeId)) {
                              <div class="prel slot" style="background: url(/assets/images/circle6.png) no-repeat;background-size: 64px auto;">
                                  @Image(product.image, 48, style = "padding: 8px;")
                                  <div style="position: absolute; top: 0; right: 0;">
                                    @Image("checked.png", 24)
                                  </div>
                                  @if(building == FEED_MILL) {
                                      <div class="snippet" style="position: absolute;bottom: 4px; left: 0;">3x
                                      </div>
                                  }
                              </div>
                          }
                      }
                  }

                  <div class="row">очередь производства</div>
                  <div class="center">
                      @for(slot <- prod.getQueue) {
                          @button("prel",
                              if(slot.timeLeft.nonEmpty) routes.ProductionController.enforceQueue(building.typeId, prod.id)
                              else routes.ProductionController.enqueue(building.typeId, prod.selection), enabled = slot.isEmpty || slot.isInProgress) {

                              <div class="prel slot" style="background: url(/assets/images/circle4.png) no-repeat;background-size: 64px auto;">
                                  @if(slot.image.nonEmpty) {
                                      @for(image <- slot.image) {
                                          @Image(image, 48, style = "padding: 8px;")
                                      }
                                  } else {
                                      @Image("circle4.png", 64)
                                  }
                                  @if(slot.isInProgress) {
                                      <div class="snippet italic enabled small p4" style="position: absolute;
                                          bottom: 0;">@slot.timeLeftStr</div>
                                  }
                              </div>
                          }
                      }
                  </div>
                  @SelectedProduct(building, prod)
                  @if(prod.briefView) {
                      @ProductsListBrief(building, prod)
                  } else {
                      @ProductsList(building, prod)
                  }
              </div>

          }
          @button("btnl", routes.ProductionController.toggleBriefView(prod.buildingType),
              visible = building.products.count(_.level <= gu.level) > 1) {
              @if(!prod.briefView) {[-] Скрыть подробности} else {[+] Показать подробности}
          }
      }
  </div>
}
