@import model.ProdFactory
@import model.Building
@import components.context.GameContext
@import bean.Production
@(building: Building with ProdFactory, production: Production)(implicit ctx: GameContext[AnyContent])

<div>
@defining(ctx.gameUser) { gu =>
    @for(product <- building.products if product.level <= gu.level && product.typeId != production.selection) {
        <div class="mt panel brus">
            <div class="enabled bold">@product.name @Image("Clock4.png", 16) @util.TimeUtil.formatTime(product.duration)</div>

            @for((ingredient, count) <- product.composition) {
                <div>
                    <span class="fl">@ingredient.name</span>
                    <span class="fr">
                        @Image(ingredient.image, 16)
                    <span class="@gu.ingredientColor(ingredient, count)"> @gu.barn.getOrElse(ingredient.typeId, 0) из @count</span>
                    </span>
                    <div class="cb"></div>
                </div>
            }

            <div>

                @defining(if(gu.isEnoughIngredients(product)) "/assets/images/circle6.png" else "/assets/images/circle3.png") { bg =>

                    <div class="prel slot" style="background: url(@bg) no-repeat;background-size: 64px auto;">
                        @button("", routes.ProductionController.selectProduct(building.typeId, product.typeId)) {
                            @Image(product.image, 48, style = "padding: 8px 30px 8px 8px;")
                        }
                        <div class="snippet" style="position: absolute; bottom: 0; left: -16px;">
                            @Image("menu/Инвентарь-1.png", 16) @gu.barn.getOrElse(product.typeId, 0)
                        </div>
                    </div>
                }

                @button("btni", routes.ProductionController.enqueue(building.typeId, product.typeId)) {
                    <span @if(!gu.isEnoughIngredients(product)) {class="red"}>
                        в очередь
                    </span>
                }
            </div>
        </div>
    }
}
</div>