@import model.ProdFactory
@import model.Building
@import components.context.GameContext
@import bean.Production
@(building: Building with ProdFactory, production: Production)(implicit ctx: GameContext[AnyContent])


@defining(ctx.gameUser) { gu =>
@defining(building.products.filter(p => p.level <= gu.level)) {products =>
    @if(products.nonEmpty) {
        <div class="mt panel brus">

            @for(product <- products) {

                @defining(if(gu.isEnoughIngredients(product)) "/assets/images/circle6.png" else "/assets/images/circle3.png") { bg =>

                    <div class="prel slot" style="background: url(@bg) no-repeat;background-size: 64px auto; margin: 16px 0 10px 0;">
                        @button("", routes.ProductionController.enqueue(building.typeId, product.typeId)) {
                            @Image(product.image, 48, style = "padding: 8px;")
                        }

                        <div class="" style="position: absolute; bottom: -10px; left: 0; width: 64px;">
                            @Image("menu/Инвентарь-1.png", 16) @gu.barn.getOrElse(product.typeId, 0)
                        </div>
                        <div class="" style="position: absolute; top: -16px; right: 0; width: 64px;">
                            @Image("Clock4.png", 16) @util.TimeUtil.formatTime(product.duration)
                        </div>
                    </div>
                }
            }
        </div>
} } }
