@import model.Building
@import model.ProdFactory
@import bean.Production
@import components.context.GameContext
@import model.item.Product
@import model.item.Ingredient
@import model.item.Gradual
@(building: Building with ProdFactory, production: Production)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu =>
@defining(Ingredient.apply(production.selection)) { case product: Product with Gradual =>
    <div class="panel brus">
        <div class="enabled bold">@product.name @Image("Clock4.png", 16) @util.TimeUtil.formatTime(product.duration)</div>

        @for((ingredient, count) <- product.composition) {
            <div>
                <span class="fl">@ingredient.name</span>
                <span class="fr">
                    @Image(ingredient.image, 16)
                <span class="@gu.ingredientColor(ingredient, count)"> @gu.barn.getOrElse(ingredient.typeId, 0) из @count</span>
                </span>
                <div class="cb"></div>
            </div>
        }

        <div>
            @defining(if(gu.isEnoughIngredients(product)) "/assets/images/circle6.png" else "/assets/images/circle3.png") { bg =>

                <div class="prel slot" style="background: url(@bg) no-repeat;background-size: 64px auto;">
                    @button("", routes.ProductionController.enqueue(building.typeId, product.typeId)) {
                        @Image(product.image, 48, style = "padding: 8px 30px 8px 8px;")
                    }
                    <div class="snippet" style="position: absolute; bottom: 0; left: -16px;">
                        @Image("menu/Инвентарь-1.png", 16) @gu.barn.getOrElse(product.typeId, 0)
                    </div>
                </div>
            }
            @button("btni prel", routes.ProductionController.enqueue(building.typeId, product.typeId)) {
                <span @if(!gu.isEnoughIngredients(product)) {
                    class="red"}>
                    в очередь
                </span>
            }
        </div>
    </div>
} }
