@import components.context.GameContext
@import util.RuGrammar.rubyDeficit
@import util.format._
@()(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
    <div class="content center">
        Каждый день банк генерирует по
        <span class="nobr">@Image("ruby.png", 24) @Ruby(gu.getMaxAllowedRubies)</span>
        @rubyDeficit(gu.getMaxAllowedRubies). <br/>
        @button("btni", routes.RubiesController.claim(), enabled = gu.getAllowedRubies > 0) {
            Получить @Image("ruby.png", 24) @Ruby(gu.getAllowedRubies)
        }
        @if(gu.canUpgradeBank) {
            <br/><span class="minor italic">Улучшайте банк, чтобы получать больше рубинов каждый день.</span>
        }
    </div>
    @for(p <- gu.priceForBankUpgrade) {
        @button("btnl", routes.RubiesController.upgradeBank()) {
            Улучшить банк
            <span class="fr">@price(p)</span>
            <div class="cb"></div>
        }
    }
}
