@import components.context.GameContext
@import controllers.payment.PaymentMenuItem
@(actionView: Html, menuItems: Iterable[PaymentMenuItem])(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ctx.user)) { case (gu, usr) =>
    <div class="center row">Покупка рубинов</div>
    @if(ctx.user.firstPayment) {
        <span class="green center">Бонус!</span> При первой покупке +50% @Image("ruby.png",24) рубинов в <span class="enabled">подарок</span>.
    }
    <div class="row">
        <div class="fl">Ваш ID игрока:</div>
        <div class="fr bold moderator">@usr.id</div>
        <div class="cb"></div>
    </div>
    <div>
        <div class="fl">Цена @Image("ruby.png", 16) 1 рубина:</div>
        <div class="fr bold minor">10 копеек</div>
        <div class="cb"></div>
    </div>
    @actionView
    <div class="center minor italic">Выберите удобный способ оплаты</div>
    @for(method <- menuItems) {
        @button("btnl", method.call) {
            @method.name
        }
    }
}
