@import components.context.GameContext
@import controllers.payment.OdnoklassnikiPaymentMenuItem
@(actionView: Html, menuItems: Seq[OdnoklassnikiPaymentMenuItem])(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ctx.user)) { case (gu, usr) =>
    <div class="center row">Покупка рубинов</div>
    @if(ctx.user.firstPayment) {
        <span class="green center">
            Бонус!</span> При первой покупке +50% @Image("ruby.png", 24) рубинов в <span class="enabled">подарок</span>.
    }
    <div class="row enabled center">
        Для пополнения счёта обменяй ОК-и сайта Одноклассники на @Image("ruby.png", 24) рубины.
    </div>
    @actionView
    @for(method <- menuItems) {
        <a class="btnl" href="@method.call"><span class="bold">Купить @Image("ruby.png", 24) @method.rub рубинов</span> <span class="minor">(@method.oks ОК)</span></a>
    }
    <div class="center enabled">
        Если при попытке купить рубины, Вы попали на главную страницу Одноклассники,
        то Вам нужно снова зайти в игру через раздел Игры на сайте Одноклассники, и повторить попытку.
    </div>
}
