@import components.context.GameContext
@import views.html.rubies.FreeRubiesView
@(paymentView: Html)(implicit ctx: GameContext[AnyContent])

@main {
    <div class="panel brus">
        @FreeRubiesView()

        @button("btnl", routes.ActionController.changeAction(), visible = ctx.user.isAdmin) {
            <span class="admin">Изменить акцию</span>
        }

        <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
            background-size: 240px auto;
            padding: 10px;
            margin: 4px 0;"></div>

        @paymentView
    </div>
}
