@()
<div>2 уровень</div>
<div>
    За второй уровень репутации царя Кощея появляется Банк Кощея, в котором начисляется по 50 настойки времени в день.
    Получить настойку времени можно в Лаборатории. ВНИМАНИЕ! Больше чем 50 настойки не накапливается!
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>3 уровень</div>
<div>
    За третий уровень репутации царя Кощея выдается разовая награда: 1250 настойки времени.
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>4 уровень</div>
<div>
    За четвертый уровень репутации царя Кощея в таверну добавляются два героя: Привидение (Хитрость) и Дэв (Устрашение). Количество активных героев увеличивается на 1!
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>5 уровень</div>
<div>
    За пятый уровень репутации царя Кощея в Банк Кощея начисляется еще по 100 настойки времени в день.
    Получить настойку времени можно в Лаборатории. ВНИМАНИЕ! Больше чем 150 настойки не накапливается!
    (В настоящее время этот уровень максимальный).
</div>