@()
<div>2 уровень</div>
<div>
    За второй уровень репутации Падишаха на рынке добавляется 1 слот для покупки и продажи предметов. Общее число слотов становится равным 7.
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>3 уровень</div>
<div>
    За третий уровень репутации Падишаха выдается разовая награда: 30 000 монет.
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>4 уровень</div>
<div>
    За четвёртый уровень репутации Падишаха в таверну добавляются два героя: Ифрит (Хитрость) и Витязь (Сила). Количество активных героев увеличивается на 1!
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>5 уровень</div>
<div>
    За пятый уровень репутации Падишаха на рынке добавляется еще 3 слота для покупки и продажи предметов. Общее число слотов становится равным 10.
    (В настоящее время этот уровень максимальный).
</div>