@()
<div>2 уровень</div>
<div>
    За второй уровень репутации царя Салтана место в амбаре игрока увеличивается на 5.
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>3 уровень</div>
<div>
    За третий уровень репутации царя Салтана выдается разовая награда: 25 000 опыта.
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>4 уровень</div>
<div>
    За четвёртый уровень репутации царя Салтана в таверну добавляются два героя: Фея (Умелица) и Лисичка-сестричка (Хитрость). Количество активных героев увеличивается на 1!
</div>
<div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
    background-size: 240px auto;
    padding: 10px;
    margin-bottom: 4px;"></div>
<div>5 уровень</div>
<div>
    За пятый уровень репутации царя Салтана место в амбаре игрока увеличивается на 10.
    (В настоящее время этот уровень максимальный).
</div>