@import components.context.GameContext
@import components.PagingModel
@import bean.Spam
@(pg: PagingModel[Spam], sender: Option[Int])(implicit ctx: GameContext[AnyContent])

@main {
    @if(pg.isEmpty) {
        <div class="content center">Здесь пока пусто.</div>
    } else {
        <div class="panel brus">
            @for((spam, i) <- pg.page.zipWithIndex) {
                <div>
                    Нарушитель: @AvatarPanel(spam.sender.avatar)
                    @button("", routes.DialogsController.dialogPage(Some(spam.sender.id))) {
                        <span class="minor">личка</span>
                    }
                    @config.DATE_FORMAT.format(spam.originalCreationTime)
                </div>
                <div>
                    Репортёр: @AvatarPanel(spam.actor.avatar)
                    @config.DATE_FORMAT.format(spam.creationTime)
                </div>
                <div>
                    <span class="@spam.sender.avatar.nickCssClass">
                        @spam.text
                    </span>
                </div>
                <div class="pt @if(i != pg.page.size - 1) {row}">
                    @button("link", routes.AdminController.spamDelete(sender, spam.id, pg.currentPage)) {
                        Удалить
                    }
                </div>

            }
        </div>
    }
    @Paginator(pg)
    @button("btnl", routes.AdminController.spamDeletePage(sender, pg.currentPage)) {
        Удалить страницу
    }
}
