@import components.context.GameContext
@import components.PagingModel
@import bean.Chest
@import util.TimeUtil.formatTime
@(pg: PagingModel[Chest])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
@main {
    @button("btnl", routes.BarnController.barnPage()) {
        @back() Назад в амбар
    }
    <div class="panel brus">
        <div class="center">
            @if(gu.keys > 0) {
                Ключи: @Image("key48.png", 24) @gu.keys
            } else {
                У вас нет ключей.
            }
        </div>
        @Block("center", gu.chests.size == 0) {
            У вас нет сундуков.
        }
        @Block("", gu.chests.size > 0) {
            @if(gu.chests.size >= 3) {
                <div class="content center">
                    @for((i, im) <- (0, "sort_desc.png") :: (1, "Clock4.png") :: Nil) {
                        @tab("btni", routes.ChestController.chestsPage(pg.currentPage, i)) {
                            @Image(im, 24)
                        }
                    }
                </div>
            }
            @for(chest <- pg.page) {
                <div class="prel row">
                    @Image("chest_1.png", 48, "fl portrait")
                    <div class="minor">Исчезнет через @formatTime(chest.expireTime - ctx.since)</div>
                    @button("btni", routes.ChestController.openChest(chest.id, pg.currentPage)) {Открыть}
                    @for(gen <- chest.missionGenerator) {
                        <div class="snippet small" style="position: absolute;
                            bottom: 0;
                            left: 0">@gen.level ур.</div>
                    }
                    <div class="cb"></div>
                </div>
            }
        }
        @Paginator(pg)
    </div>
} }
