@import components.context.GameContext
@import components.PlayComponentsHolder
@(helpForm: Form[(Int, String)], ops: Seq[(String, String)])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(helpForm)
    <div class="content center">
        @form(action = routes.TicketsController.submitTicket) {
            @select(helpForm("type"), ops, args('_label -> "тип") : _*)
            @textarea(helpForm("text"), args('_label -> "текст сообщения") :+ 'rows -> 5 : _*)
            <div><input type="submit" value="Отправить" class="btni"/></div>
        }
    </div>
}