@import components.PagingModel
@import bean.messages.personal.PrivateMessage
@import components.context.GameContext
@(pg: PagingModel[PrivateMessage])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content">
        @for(message <- pg.page) {
            <div>
                @AvatarPanel(message.author.avatar) <span class="minor small">(@config.DATE_FORMAT.format(message.creationTime)</span>
            </div>
            @defining(if(message.author.isAdminOrSupporterOrModerator) "admin" else "") { cls =>
                <div class="@cls">
                   @Html(message.text)
                </div>
            }
        }
        @Paginator(pg)
    </div>
}