@import components.PagingModel
@import bean.Ticket
@import components.context.GameContext
@import model.TicketState
@import model.TicketState._
@(pg: PagingModel[Ticket], uid: Option[Int], filterState: TicketState)(implicit ctx: GameContext[AnyContent])

@defining(ctx.user) { user =>
@main {
    <div class="center">
        <div>
            @for((state, idx) <- TicketState.values.zipWithIndex) {
                @button(if(state == filterState) "dis" else "", routes.TicketsController.ticketsPage(uid, Some(state.typeId), pg.currentPage),
                    enabled = state != filterState) {@state.name}
                @if(idx < TicketState.values.size - 1) {
                    |
                }
            }
        </div>
        @if(pg.isEmpty) {
            <div class="minor small">Нет заявок</div>
        } else {
            <div class="content left">
                @for(ticket <- pg.page) {
                    <div>
                        Заявка от: @AvatarPanel(ticket.sender.avatar) @config.DATE_FORMAT.format(ticket.creationTime)
                        @if(Set[TicketState](NEW, ADMIN).contains(ticket.state)) {
                            <span class="nobr">@Image("reply.png", 16)
                                @button("", routes.DialogsController.dialogPage(Some(ticket.sender.id), 0, Some(ticket.id))) {ответить}</span>
                        }
                        <span class="nobr">@Image("mail_filter_all.png", 16)
                            @button("", routes.TicketsController.supportCorrespondencePage(ticket.sender.id)) {переписка}</span>
                        @for(resolver <- ticket.resolver; resolveTime <- ticket.resolveTime) {
                            <div>Рассмотрена: @AvatarPanel(resolver.avatar) @config.DATE_FORMAT.format(resolveTime)</div>
                        }
                        <div>тип: @ticket.typeId</div>
                        <div>состояние: @ticket.state.name</div>
                        <div style="color: #dddddd;">@Html(ticket.text)</div>
                        <div>
                            @for((state, action) <- (ADMIN, "админу") :: (RESOLVED, "обработана") :: (DECLINED, "отклонена") :: Nil) {
                                @button("", routes.TicketsController.changeState(ticket.id, state.typeId, uid, pg.currentPage),
                                enabled = ticket.isEnabled(state) ) {[@action]}
                            }
                            @button("", routes.TicketsController.delete(ticket.id, filterState.typeId, uid, pg.currentPage),
                                visible = user.isAdmin) {
                                [удалить]
                            }
                        </div>
                    </div>
                }
            </div>
            @Paginator(pg)
        }
    </div>
}}