@import components.context.GameContext
@import bean.User
@import components.PlayComponentsHolder
@(foreigner: User, aboutForm: Option[Form[String]])(implicit ctx: GameContext[AnyContent])

@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@if(foreigner.isMe) {
    @if(aboutForm.isEmpty) {
        @button("btnl center", routes.ProfileController.profilePage(Some(foreigner.id), true)) {
            @foreigner.profile.about.getOrElse("Статус")
        }
    } else {
        @defining(aboutForm.get) { about =>
            @form(action = routes.ProfileController.saveAbout(foreigner.id)) {
                <div class="content center">
                    @formMessages(about)
                    <div>@textarea(about("status"), 'rows -> 5)(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)</div>
                    <input type="submit" class="btni" style="margin-bottom: 0; margin-top: 0;" value="Сохранить">
                </div>
            }
        }
    }
}
