@import components.context.GameContext
@import bean.User
@import util.format._
@(foreigner: User)(implicit ctx: GameContext[AnyContent])

@defining((ctx.user, ctx.settings)) { case (me, settings) =>
    @if(me.isAdmin) {

        @button("btnl", routes.AdminController.toggleAdminPanel(foreigner.id)) {
            @Image("preferences_system.png", 24) Админская панель
        }
        @Block("panel mramor", settings.showAdminPanel) {
            @button("btni", routes.AdminController.changeRole(foreigner.id, 'u'), enabled = !foreigner.isUser) {
                Игрок
            }
            @button("btni", routes.AdminController.changeRole(foreigner.id, 'm'), enabled = !foreigner.isModerator) {
                Модератор
            }
            @button("btni", routes.AdminController.changeRole(foreigner.id, 's'), enabled = !foreigner.isSupporter) {
                Техподдержка
            }
            @button("btni", routes.AdminController.resetCache(foreigner.id)) {
                Сбросить кэш
            }
            @button("btni", routes.UserController.sendTestNotification(foreigner.id)) {
                Отправить тестовую нотификацию
            }
            <div>
                @button("btni", routes.AdminController.levelPlus(foreigner.id)) {level +}
                @button("btni", routes.AdminController.levelMinus(foreigner.id)) {level -}
            </div>
            @for(x <- -1 :: -10 :: -100 :: -1000 :: -10000 :: -100000 :: 100000 :: 10000 :: 1000 :: 100 :: 10 :: 1 :: Nil) {
                <div>
                    @button("btni", routes.AdminController.incrementRuby(foreigner.id, x)) { @Image("ruby.png", 16) @Ruby(x) }
                    @button("btni", routes.AdminController.incrementCoin(foreigner.id, x)) { @Image("coin.png", 16) @Coin(x) }
                    @button("btni", routes.AdminController.incrementDreamdust(foreigner.id, x)) { @Image("dustdream.png", 16) @Dust(x) }
                </div>
            }
        }




    }
}
