@import components.context.GameContext
@import bean.User
@import components.PagingModel
@import bean.UserBanRecord
@import java.util.Date
@import util.TimeUtil
@(user: Option[User], pg: PagingModel[UserBanRecord])(implicit ctx: GameContext[AnyContent])

@main {
    <div>
        <div class="content center">
            @for(u <- user) { @button("", routes.ProfileController.profilePage(Some(u.id))) {@u.avatar.visualNick} / }
            бан-лог
        </div>
        @if(pg.isEmpty) {<div class="content center">Пока здесь ничего нет</div>}
        <div class="content">
            @for(record <- pg.page) {
                @defining(record.endTime.nonEmpty) { hasEndTime =>
                  @defining(hasEndTime && record.endTime.exists(_ > ctx.since + TimeUtil.YEAR_MILLIS)) {isBlocked =>
                    @config.DATE_FORMAT_DETAILED2.format(new Date(record.creationTime))
                    @AvatarPanel(record.actor.avatar)
                    @if(isBlocked) {изгнал} else { @if(hasEndTime) {забанил} else {разблокировал}}
                    @AvatarPanel(record.target.avatar)
                    @if(hasEndTime && !isBlocked) {
                        @for(et <- record.endTime) { @config.DATE_FORMAT_DETAILED2.format(new Date(et)) }
                    }
                    @for(comment <- record.comment) {(@comment)}
                    @for(messageText <- record.messageText) {<div>@messageText</div>}
                  }
                }
            }
        </div>
        @Paginator(pg)
    </div>
}
