@import components.PlayComponentsHolder
@import components.context.GameContext
@(passForm: Form[(String,String,String)], sexForm: Form[(String, Option[String], Option[String])])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}
@sexParams(params: Seq[(Symbol, Any)]) = @{
    if (ctx.profile.email.nonEmpty) params :+ 'disabled -> "disabled"
    else params
}

@defining(ctx.user.isOdnoklassnikiUser) { isOdkl: Boolean =>
@main {
    @formMessages(passForm)
    @if(!sexForm.hasErrors && ctx.gameUser.level >= config.REG_LEVEL && ctx.avatar.isAnonymous && ctx.user.isOdnoklassnikiUser) {
        <div class="feedback center">Пожалуйста, задайте свой ник.</div>
    }
    @if(!isOdkl) {
    <div class="content center">
        @form(action = routes.SettingsController.changeRegDataPost(1)) {
            @inputPassword(passForm("pass1"), args('_label -> "Текущий пароль") : _*)
            <div class="minor">Для смены пароля нужно ввести текущий пароль.</div>
            @inputPassword(passForm("pass2"), args('_label -> "Новый пароль") : _*)
            @inputPassword(passForm("pass3"), args('_label -> "Повтор") : _*)
            <input class="btni" type="submit" value="Изменить пароль" >
        }
    </div>
    }
    @formMessages(sexForm)
    <div class="content center">
        @form(action = routes.SettingsController.changeRegDataPost(2)) {
            @if(isOdkl && ctx.avatar.isAnonymous) {
                @inputText(sexForm("nick"), args('_label -> "Ник") : _*)
            }
            @select(sexForm("sex"), options(Map("m" -> "мужской", "f" -> "женский")), args('_label -> "Пол") : _*)
            @if(!isOdkl) {
                @inputText(sexForm("email"), sexParams(args :+ '_label -> "Email") : _*)
            }
            <input class="btni" type="submit" value="Сохранить" >
        }
    </div>
} }
