@import components.context.GameContext
@import bean.User
@import model.ReputationModel
@import util.format._
@(foreigner: User)(implicit ctx: GameContext[AnyContent])

@defining((ctx.user, ctx.settings)) { case (me, settings) =>
    @if(me.isAdmin && ctx.isDevEnvironment) {

        @button("btnl", routes.AdminController.toggleDeveloperPanel(foreigner.id)) {
            @Image("preferences_system.png", 24) Девелоперская панель
        }
        @Block("panel mramor", settings.showDeveloperPanel) {
            @button("btni", routes.AdminController.adminPayment(foreigner.id)) {
                Дать платёж 100 рубинов
            }
            @button("btni", routes.AdminController.addChest(foreigner.id)) {
                Дать сундук
            }
            @button("btni", routes.AdminController.addKey(foreigner.id)) {
                Дать ключ
            }
            @button("btni", routes.AdminController.giveMission(foreigner.id)) {
                Дать поручение
            }
            <div>
            @for(rep <- ReputationModel.entries; x <- 1 :: 10 :: 100 :: 1000 :: 10000 :: 100000 :: 1000000 :: Nil) {
                <div class="row">
                    @Image(rep.image,16)
                    @button("link2", routes.AdminController.addReputation(foreigner.id, rep.typeId, x)) {
                       +@BigNumber(x)
                    }
                    |
                    @button("link2", routes.AdminController.addReputation(foreigner.id, rep.typeId, -x)) {-@BigNumber(x)
                    }
                </div>
            }
            </div>
        }
    }
}
