@import components.context.GameContext
@()(implicit ctx: GameContext[AnyContent])

@main {

    <div class="content center">

        Аккаунт <span class="enabled">@ctx.avatar.visualNick</span> заблокирован по причине нарушения правил сайта.

        <div>@button("btni", routes.AdminController.logout()) {В начало}</div>
    </div>
}
