@import components.context.GameContext
@import bean.User
@(userId: Int, clones: Seq[User])(implicit ctx: GameContext[AnyContent])

@main {
    @button("btnl", routes.ProfileController.profilePage(Some(userId))) {
        @back() Назад
    }
    <div class="panel brus">
        @if(clones.isEmpty) {
            <div class="center">Нет мультов</div>
        }
        @for(clone <- clones) {
            <div>
                <span class="fl">@AvatarPanel(clone.avatar)</span>
                <span class="fr">@clone.gameUser.level ур.</span>
                <div class="cb"></div>
            </div>
        }
    </div>
}
