@import components.context.GameContext
@import components.PagingModel
@import bean.Avatar

@import util.OnlineUtil
@(pg: PagingModel[Avatar])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="">
        <div>

            <div class="fl half">
            @button("btnl center", routes.OnlineController.onlinePage()) {
                Все онлайн
            }
            </div>
            <div class="fr half">
            @button("btnl center", enabled = false) {
                Без княжества
            }
            </div>
            <div class="cb"></div>
        </div>
        <div class="content">
        @for(ava <- pg.page) {
            <div>@AvatarPanel(ava)@if(OnlineUtil.isAfk(ava.id)) {*}, @ava.gameUser.level ур</div>
        }
        </div>
        <div class="center">@Paginator(pg)</div>
    </div>
}
