@import bean.Offer
@import components.context.GameContext

@(offers: Iterable[Offer])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="center">
        <div>Заявки и приглашения</div>
        @if(offers.isEmpty) {
            <div class="minor">Здесь пока пусто.</div>
        }
        @if(offers.nonEmpty) {
            <div class="panel brus">
                @for(offer <- offers) {
                    <div>
                        <div>
                            @if(offer.isOffer) {
                                @AvatarPanel(offer.master.get.avatar)
                                предлагает присоединиться к княжеству
                            } else {
                                Заявка на присоединение к княжеству
                            }
                            @offer.clan.visualName
                        </div>
                        <div>
                            @button("btni", routes.ProfileController.profileAcceptOffer(offer.id),
                                visible = offer.isOffer) {
                                Принять
                            }
                            @button("btni", routes.ProfileController.profileDeclineOffer(offer.id)) {
                                @if(offer.isOffer) { Отклонить } else { Удалить }
                            }
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
