@import components.context.GameContext
@import bean.User
@import components.PlayComponentsHolder

@(target: User, banForm: Form[(Int, Int)], time: Int, reasonOpts: Seq[(String, String)])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(banForm)
    <div class="content center">
        @button("", routes.ProfileController.profilePage(Some(target.id))) {@target.avatar.visualNick} / Забанить
    </div>
    <div>
        @form(action = routes.ProfileController.profileBan(target.id, time)) {
            <input type="hidden" name="time" value="@time" >
            <div>@select(banForm("reason"), reasonOpts, args('_label -> "Причина") : _*)</div>
            <div class="center"><input type="submit" value="Забанить" class="btni"/></div>
        }
    </div>
}
