@import components.context.GameContext
@import bean.User
@import controllers.helpers.BanHelper
@import views.html.user.AboutPanel
@import views.html.user.AdminPanel
@import views.html.user.SupportPanel
@import views.html.user.DeveloperPanel
@import views.html.user.ReputationView
@import util.format._
@import bean.GameUser
@(foreigner: User, aboutForm: Option[Form[String]])(implicit ctx: GameContext[AnyContent])

@defining((ctx.user, foreigner.gameUser, foreigner.profile, !foreigner.isMe && ctx.user.canBan)) { case (me: User, gu: GameUser, profile, ban) =>

    @main {
        @Block("feedback", ban) {
            Забанить:
            @defining(new ContextMethods with BanHelper {}) { helper =>
                @for((k, v) <- helper.getBanTimes(me).map(_._1).zip(helper.banTimesName)) {
                    @button("", routes.ProfileController.profileBanPage(foreigner.id, k)) {[@v]}
                }
            }
            @button("", routes.ProfileController.profileUnban(foreigner.id), visible = foreigner.isBanned) {[Разбанить]}
            @button("", routes.ProfileController.profileBanHistory(Some(foreigner.id)), visible = true) {[История]}
        }

        <div class="panel brus">
            <div class="center h1">@foreigner.avatar.visualNick @Image("exp.png", 24) @foreigner.gameUser.level ур.</div>
            <div class="center">
                <img src="@routes.Assets.versioned("images/" + foreigner.avatar.bigImage)" width="100" height="111" alt=""/>
            </div>
            <div>
                <span class="fl">Дата регистрации:</span>
                <span class="fr">@config.DATE_ONLY_FORMAT.format(profile.creationTime)</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Опыт личный:</span>
                <span class="fr">@Image("exp.png", 16) @Exp(gu.totalExperience)</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Дней в игре:</span>
                <span class="fr">@profile.daysInGame</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Опыта до уровня:</span>
                <span class="fr">@Image("exp.png", 16) @Exp(gu.currentLevelExperience) / @Exp(gu.expToNextLevel) (@gu.leftExperiencePercent%)</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">ID игрока:</span>
                <span class="fr">@foreigner.id</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Статус:</span>
                <span class="fr">@if(util.OnlineUtil.isOnline(foreigner.id)) {Онлайн} else {Оффлайн}</span>
                <div class="cb"></div>
            </div>

            @if(!util.OnlineUtil.isOnline(foreigner.id) && me.id != gu.id) {
                @for(last <- gu.lastActionTime) {
                    <div>
                        <span class="fl">Последний онлайн:</span>
                        <span class="fr">@config.DATE_FORMAT.format(last)</span>
                        <div class="cb"></div>
                    </div>
                }
            }

            @for(clan <- gu.clan) {
                <div>
                    <span class="fl">Княжество:</span>
                    <span class="fr">
                    @button("bold", routes.ClanController.clan(clan.id)) {
                        @clan.visualName (@gu.clanRole.name)
                    }
                    </span>
                    <div class="cb"></div>
                </div>
                <div>
                    <span class="fl">Опыт для княжества:</span>
                    <span class="fr">
                        @Image("exp.png", 16)
                        @Exp(clan.experiences.get(foreigner.id).getOrElse(0L))
                    </span>
                    <div class="cb"></div>
                </div>
            }

            @Block("red", foreigner.isBanned && !foreigner.isUserBlocked) {
                <span class="fl">Бан</span>
                <span class="fr">@foreigner.profile.banComment.getOrElse("") до @foreigner.banEndTimeFormatted</span>
                <div class="cb"></div>
            }

            @Block("red", foreigner.isUserBlocked) {
                <span class="fl">Изгнан</span>
                <span class="fr">@foreigner.profile.banComment</span>
                <div class="cb"></div>
            }

            <div>
                <span class="fl"></span>
                <span class="fr"></span>
                <div class="cb"></div>
            </div>

            @ReputationView(foreigner)

            @for(status <- profile.about if !profile.isMe) {
                <div class="center">@status</div>
            }
        </div>
        @AboutPanel(foreigner, aboutForm)
        @button("btnl", routes.RatingController.ratingPage()) {
            @Image("achievement.png", 24) Рейтинги
        }
        @button("btnl", routes.DialogsController.dialogPage(Some(foreigner.id)),
            visible = !foreigner.isMe && gu.level >= config.MESSAGES_ALLOWED_LEVEL && gu.allowMessagesFrom(me)) {
            @Image("mail_white.png", 24) Написать сообщение
        }
        @button("btnl", routes.ClanController.clanInviteTo(foreigner.id), visible = me.gameUser.canInviteToClan(foreigner)) {
            @Image("clan.png", 24) Пригласить в княжество
        }
        @button("btnl", routes.ProfileController.profileOffers(foreigner.id),
            visible = foreigner.isMe && foreigner.gameUser.offers.nonEmpty) {
            @Image("events.png", 24) Заявки и приглашения
        }
        @button("btnl", routes.RegistrationController.registrationPage(),
            visible = foreigner.isMe && ctx.avatar.isAnonymous && !ctx.user.isOdnoklassnikiUser) {
            Сохранить игру
        }
        @SupportPanel(foreigner)
        @AdminPanel(foreigner)
        @DeveloperPanel(foreigner)
    }
}
