@import bean.User
@import components.context.GameContext
@import util.format._
@import bean.Reputation
@(user: User)(implicit ctx: GameContext[AnyContent])

@defining(user.gameUser.reputation.toSeq) { reps =>
    @Block("", reps.nonEmpty) {
        <div>
            Репутация:
        </div>
        @for(((_, rep), idx) <- reps.zipWithIndex) {
            @defining(rep.model) { model =>
                <div class="small minor row">
                    @button("", routes.ProfileController.reputations(model.typeId)){@Image(model.image, 48, "fl portrait")}
                    <div class="row">
                        <span class="enabled">@model.name</span>
                        <div class="fr">@Image("rep.png", 16) @rep.level ур.</div>
                    </div>
                    <div>
                        очки:
                        <div class="fr">@BigNumber(rep.repForRating)</div>
                    </div>
                    @if(rep.level - 1 < Reputation.EXPERIENCES.length) {
                        <div>
                            очки до уровня:
                            <div class="fr enabled">@BigNumber(rep.currentLevelExp) / @BigNumber(rep.expToNextLevel)</div>
                        </div>
                    }
                    <div class="cb"></div>
                </div>
            }
        }
    }
}
