@import components.context.GameContext
@import model.ReputationModel
@import views.html.user.reputation.Overview
@(rep: ReputationModel)(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content center">
        @for(model <- ReputationModel.values) {
            @tab("btni", routes.ProfileController.reputations(model.typeId)) {
                @Image(model.image, 24)
            }
        }
    </div>
    <div class="panel brus center">
        <div>@rep.name</div>
        <div>@Image(rep.image, 48)</div>
        @Overview(rep)
    </div>
    @button("btnl", routes.ProfileController.profilePage(ctx.userIdOptional)) {
        @back() Назад
    }
}
