@import components.context.GameContext
@import components.PagingModel
@import bean.MoneyTransaction
@import bean.GameUser
@(pg: PagingModel[MoneyTransaction], foreigner: GameUser)(implicit ctx: GameContext[AnyContent])

@main {
    @button("btnl", routes.ProfileController.profilePage(Some(foreigner.id))) {
        @back() Назад
    }
    <div class="panel brus">
        <table class="" border="1" width="100%">
            <tr>
                <th>id</th>
                <th>время</th>
                <th>количество</th>
                <th>осталось</th>
                <th>тип</th>
            </tr>
            @for(mt <- pg.page) {
                <tr>
                    <td style="padding: 4px">@mt.id</td>
                    <td style="padding: 4px">@{config.DATE_FORMAT_DETAILED.format(mt.getCreationTime)}</td>
                    <td style="padding: 4px">@mt.amount</td>
                    <td style="padding: 4px">@mt.result</td>
                    <td style="padding: 4px">@mt.typeInWords</td>
                </tr>
            }
        </table>
    </div>
    @Paginator(pg)
}
