@import components.PlayComponentsHolder
@import components.context.GameContext
@(settingsForm: Form[SettingsData])(implicit ctx: GameContext[AnyContent])

@import helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(settingsForm)
    @button("btnl", routes.DialogsController.friendList()) {
        @Image("dialogs.png", 24) Друзья / черный список
    }
    @button("btnl", routes.SettingsController.autologin(ctx.user.validSecret), visible = !ctx.user.isSocialUser) {
        Автологин
    }
    <div class="content">
    @form(action = routes.SettingsController.changeSettings()) {
        <div>
            @checkbox(settingsForm("onlyFriendsMessages"))(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
            <label for="onlyFriendsMessages">Получать личные сообщения только от друзей</label>
        </div>
        <div>
            @checkbox(settingsForm("smallSpendConfirm"))(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
            <label for="smallSpendConfirm">Включить подтверждения мелких трат рубинов (10 и менее рубинов)</label>
        </div>
        <div>
            @checkbox(settingsForm("missionRemoves"))(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
            <label for="missionRemoves">Включить подтверждения при удалении поручений</label>
        </div>
        <div>
            @checkbox(settingsForm("noReceiveGuildInvites"))(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
            <label for="noReceiveGuildInvites">Не принимать приглашения в княжества</label>
        </div>
        <div>
            @checkbox(settingsForm("showNewMailNotifications"))(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
            <label for="showNewMailNotifications">Уведомлять о получении личных сообщений</label>
        </div>
        <div class="center"><input class="btni" type="submit" value="Сохранить настройки"/></div>
    }
    </div>
    @button("btnl", routes.SettingsController.changeRegData()) {
        @ArrowDown(24) Изменить регистрационные данные
    }
    @button("btnl", routes.WidthController.widthPage()) {
        Ширина экрана: @ctx.windowWidth.value
    }
    @button("btnl", routes.Application.exit(), visible = !ctx.user.isOdnoklassnikiUser) {
        @Image("exit.png", 24) Выход из игры
    }
}
