@import components.context.GameContext
@import bean.User
@import bean.Settings
@import bean.Profile
@(foreigner: User)(implicit ctx: GameContext[AnyContent])

@import views.html.helper._

@defining((ctx.user, ctx.settings, foreigner.profile)) { case (me: User, settings: Settings, profile: Profile) =>
    @if(me.isAdminOrSupporter) {



        @button("btnl", routes.AdminController.toggleSupportPanel(foreigner.id)) {
            @Image("preferences_system.png", 24) Саппорт панель
        }
        @Block("panel mramor", settings.showSupportPanel) {
            <div class="row">
                @button("btn", routes.AdminController.spamPage(Some(foreigner.id))) {[спам игрока]}
                @button("btn", enabled = false) {[заявки от игрока]}
                @button("btn", routes.ProfileController.profileBanHistory(None)) {[все баны]}
                @button("btn", routes.UserController.clones(foreigner.id)) {[мульты]}
                @button("btn", routes.TransactionController.transactions(foreigner.id)) {[траты]}
            </div>
            <div>
                Reg IP: @profile.registrationIp<br />
                Last IP: @profile.lastIp<br />
                User-Agent: @profile.userAgent<br />
                Opera-User-Agent: @profile.operaUserAgent.getOrElse("-")<br />
                Domain: @profile.domain<br />
                @form(action = routes.AdminController.changeEmail(Some(foreigner.id))) {
                    Email: <input type="text" name="email" value="@profile.email.getOrElse("не указан")" style="width: auto"/>
                    @if(ctx.user.isAdmin) {
                        <button>изм</button>
                    }
                    <br/>
                }
                Phone: <br />
                PhoneModel:
                @form(action = routes.SupportController.changeNick(Some(foreigner.id))) {
                    Nick: <input type="text" name="nick" value="@profile.avatar.nick.getOrElse("не зарегистрирован")" style="width: auto"/>
                    @if(ctx.user.isAdminOrSupporter && profile.avatar.nick.nonEmpty) {
                        <button>изм</button>
                    }
                }
            </div>
        }



    }
}
