@import components.context.GameContext
@import components.PlayComponentsHolder
@(widthForm: Form[Int])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    <div class="h1">Ширина экрана</div>
    @formMessages(widthForm)
    @button("btnl", routes.WidthController.widthDefault()) {
        Сбросить
    }
    @button("btnl", routes.WidthController.width320()) {
        320 px
    }
    @button("btnl", routes.WidthController.width240()) {
        240 px
    }
    <div class="center">
        @form(action = routes.WidthController.widthCustom()) {
            @inputText(widthForm("width"), args('_label -> "Custom") : _*)
            <input class="btni" type="submit" value="Задать" >
        }
    </div>
}
