@import bean.Task
@import components.context.GameContext
@import util.TimeUtil.formatTime
@import util.format._
@(task: Task, template: model.Template)(implicit ctx: GameContext[AnyContent])
<div>
<div class="row"></div>

@for(header <- template.header) {
    @Html(header)
}
@if(template.reputationImageShown) {
    @Image(task.reputationType.image, 80, "fl portrait", "margin-bottom: 5px;")
}

<div class="center">
    @* награда *@
    <div class="small center italic">
        @Image("coin.png", 16) @Coin(task.given)
        @Image("exp.png", 16) @Exp(task.given)
        ,
        @defining(task.expiresAfter) { time: Long =>
            <span class="@app.timeColor(time)">истекает через @formatTime(task.expiresAfter)</span>
        }
    </div>
    @for(slot <- task.slots) {
        <div class="slot" style="position: relative;">
            @Image(slot.gameItem.image, 64)<br/>
            <span class="small @slot.className">@slot.have из @slot.count</span>
            @if(slot.isSatisfied) {
                <span style="position: absolute;
                    top: 40px;
                    left: 44px;">@Image("checked.png", 24)</span>
            }
        </div>
    }
</div>

<div class="cb"></div>
</div>
