@import bean.Task
@import components.context.GameContext
@import util.TimeUtil.formatTime
@import util.format._
@(task: Task, template: model.Template, page: Int)(implicit ctx: GameContext[AnyContent])

<div class="row">
    @if(template.reputationImageShown) {
        <div class="center pt">
            @Image(task.reputationType.image, 24) @task.reputationType.name
            <span class="nobr">
                @Image("coin.png", 16) @Coin(task.given)
                @Image("exp.png", 16) @Exp(task.given)
            </span>
        </div>
    }
    @if(template.header.nonEmpty) {
        @for(header <- template.header) {
            @Html(header)
        }
    } else {
        @for(desc <- task.generator.text) {
            <div class="minor" style="text-indent: 20px;">@desc</div>
        }
    }
    <div class="cb"></div>
</div>

@for((slot, i) <- task.slots.zipWithIndex) {
    <div @if(i + 1 < task.slots.size) {class="row"}>
        <img class="fl portrait" src="@routes.Assets.versioned(s"images/${slot.gameItem.image}")" height="32" alt="" title=""/>
        <div class="enabled">@slot.gameItem.name</div>
        <div class="@slot.className">@slot.have из @slot.count</div>
        <div class="cb"></div>
    </div>
}
@defining(task.expiresAfter) { time: Long =>
    <div class="center @app.timeColor(time)">истекает через @formatTime(task.expiresAfter)</div>
}
