@import bean.{Avatar, Task}
@import components.context.GameContext
@import model.messaging.{EnvelopeTask, EnvelopeTask_Accepted, EnvelopeTask_Expired, InboxType, EnvelopeTask_Removed}
@import util.format.{Coin, Exp}
@import views.html.gameplay.task.EnvelopeBody
@import util.TimeUtil.formatTime
@(ava: Option[Avatar], inboxType: InboxType, task: Option[Task], messageId: Int, currentPage: Int)(implicit ctx: GameContext[AnyContent])

@for(avatar <- ava) {
    <div class="row center">@Image("mail_incoming.png", 24) задание от @AvatarPanel(avatar)</div>
    @for(task <- task if inboxType == EnvelopeTask && !task.isExpired) {
        <div class="panel mramor">
            <div class="row">
                <div class="fl">
                    @Image(task.reputationType.image, 24)
                </div>
                <div class="fr" style="margin-left: 8px;">
                    @button("", routes.EnvelopeController.deleteTask(messageId, currentPage)) {
                        [x]
                    }
                </div>
                <div class="center">
                    @Image("coin.png", 16) @Coin(task.given)
                    @Image("exp.png", 16) @Exp(task.given)
                </div>
                <div class="cb"></div>
            </div>
            <div class="center row">@EnvelopeBody(task)</div>
            @defining(task.expiresAfter) { time: Long =>
                <div class="center @app.timeColor(time)">истекает через @formatTime(task.expiresAfter)</div>
            }
            <div class="center">
                @button("btni", routes.EnvelopeController.acceptTask(messageId)) {
                    принять (@ctx.gameUser.dailyTasks.available(ctx.gameUser.dailyTasksMax))
                }
            </div>
            <div class="cb"></div>
        </div>
    }
    @if(inboxType == EnvelopeTask_Accepted) {
        <div class="center"><span class="green">принято</span></div>
    }
    @if(inboxType == EnvelopeTask_Expired) {
        <div class="center"><span class="red">истекло</span></div>
    }
    @if(inboxType == EnvelopeTask_Removed) {
        <div class="center"><span class="red">удалено</span></div>
    }
}
