@import bean.Task
@import components.context.GameContext
@(task: Task)(implicit ctx: GameContext[AnyContent])

@for(slot <- task.slots) {
    <div class="slot" style="position: relative;">
        @Image(slot.gameItem.image, 64)<br/>
    <span class="small @slot.className">@slot.have из @slot.count</span>
        @if(slot.isSatisfied) {
            <span style="position: absolute;
                top: 40px;
                left: 44px;">@Image("checked.png", 24)</span>
        }
    </div>
}