@import bean.Task
@import components.context.GameContext
@import components.PagingModel
@import model.price.Price
@import util.TimeUtil.formatTime
@import views.html.gameplay.task.BriefTasks
@import views.html.gameplay.task.DetailedTasks
@import views.html.gameplay.task.Title
@import bean.GameUser
@import bean.Settings
@import model.Template
@(pg: PagingModel[Task], refreshPrice: Price)(implicit ctx: GameContext[AnyContent])

@defining(ctx.settings) { settings: Settings =>
@defining(ctx.gameUser) { gu: GameUser =>
@GameContent("tasks") {
    @Title()
    @Block("content center", pg.isEmpty) {Список пуст.}
    @Block("panel mramor", pg.nonEmpty) {
        @for((task, idx) <- pg.page.zipWithIndex) {

            @defining(task.generator.template.getTemplate(task)) { template: Template =>

                @if(settings.taskViewBriefed) {
                    @BriefTasks(task, template)
                } else {
                    @DetailedTasks(task, template, pg.currentPage)
                }

                @for(footer <- template.footer) {
                    <div>@Html(footer)</div>
                }

                <div class="center">
                    @button("btni ", routes.TaskController.taskFinish(task.id, pg.currentPage),
                        visible = task.canComplete) {
                        <div>
                            @Image("checked.png", 16)
                            @template.startLabel
                        </div>
                    }
                    @button("btni", routes.TaskController.taskDrop(task.id, pg.currentPage)) {
                        @Image("cross_red.png", 16) Удалить
                    }
                    @button("btni", routes.EnvelopeController.sendTask(task.id, pg.currentPage),
                        style="padding: 2px 8px 0px 8px;", visible = gu.canSendTask && task.canBeenSent) {
                        @Image("mail_white.png", 24)
                    }
                    @Block("", idx + 1 < pg.page.size) {
                        <img src="@routes.Assets.versioned("images/delim/1.png")" width="240" height="20" alt=""/>
                    }
                </div>
            }

        }
    }

    @Paginator(pg)
    @for(p <- gu.priceForTasksCountUpgrade) {
        @button("btnl", routes.TaskController.upgradeTaskLevel(None, pg.currentPage)) {
            Увеличить до @(ctx.gameUser.tasksCountMax + 1)
            <span class="fr">@price(p)</span>
            <div class="cb"></div>
        }
    }
    @button("btnl", routes.TaskController.toggleView(pg.currentPage)) {
        @if(settings.taskViewBriefed) {[+] Подробный вид} else {[-] Краткий вид}
    }
}}}
