@(image: String = "zad-tabl.png")

<div style="background: url(/assets/images/tables/zad-venz.png) no-repeat;
    background-size: 153px auto;">
    <div class="center" style="background: url(/assets/images/tables/zad-venz.png) no-repeat;
        background-size: 153px auto;
        background-position: right;">
        <img src="@routes.Assets.versioned("images/tables/" + image)" height="35" alt="Задания"/>
    </div>
</div>
