@import components.context.GameContext
@import components.PagingModel
@import bean.Avatar

@(pg: PagingModel[Avatar])(implicit ctx: GameContext[AnyContent])

@main {
    <div>
        <div class="half fl">
            @button("btnl center", routes.DialogsController.friendList()) {Друзья}
        </div>
        <div class="half fr">
            @button("btnl center", enabled = false) {Черный список}
        </div>
        <div class="cb"></div>
    </div>
    <div class="content">
        @for(friend <- pg.page) {
            <div class="mt">
                <span class="fl">@AvatarPanel(friend)</span>
                <span class="fr">
                    @button("", routes.DialogsController.removeIgnore(friend.id, pg.currentPage)) {@Image("cross_red.png", 24)}
                </span>
                <div class="cb"></div>
            </div>
        }
        @Paginator(pg)
        @if(pg.isEmpty) {
            <div class="center">Черный список пуст</div>
        }
    </div>
}
