@import components.context.GameContext

@(dialog: Dialog)(implicit ctx: GameContext[AnyContent])

<div>
    @for(message <- dialog.messages) {
        <div>
            @Image(message.messageIcon, 24)
            @AvatarPanel(message.author)@Html(",") <span class="thint">@message.time назад</span>
            @button("fr", routes.DialogsController.reportSpam(message.id, dialog.pagingModel.currentPage),
                visible = message.reportSpamAllow) {в спам}
            <div class="cb"></div>
        </div>
        <div class="@message.textCss">@message.htmlFragment</div>
    }
    @Paginator(dialog.pagingModel)
</div>
