@import bean.GameUser
@import components.PlayComponentsHolder
@import components.context.GameContext
@import bean.messages.personal.PrivateDialog
@import util.SmilesUtil
@import model.BBCode.AVAILABLE_BB_CODES

@(messageForm: Form[(String, String)], d: Option[PrivateDialog], target: Option[GameUser],
        dialog: Dialog, ticketId: Option[Int] = None)(implicit ctx: GameContext[AnyContent])

@import helper._
@import views.Helper.args
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    <div class="content center">
        @button("", routes.DialogsController.dialogsPage()) {Почта / }
        @if(target.isEmpty) {Новая} else {@AvatarPanel(target.get.avatar)}
    </div>
    @formMessages(messageForm)
    @defining(ctx.gameUser) { gameUser =>
      @defining(ctx.avatar) { avatar =>
        @defining(ctx.user) { user =>
            @if((user.isMessagesAllowed && target.isEmpty && !avatar.isAnonymous) || target.exists(gameUser.canWriteMessage)) {
              @form(action = routes.DialogsController.writeMessage(target.map(_.id))) {
                  @if(target.isEmpty) {
                      <div class="center">
                      @inputText(messageForm("target"), args('_label -> "Кому"): _*)
                      </div>
                  }
                  <div>
                  @textarea(messageForm("text"), 'rows -> 5)(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
                  </div>
                  <div class="center">
                      <input type="submit" class="btni" value="Написать"/>
                      @BBCodesPanel(dialog.canUseBBCodes(user), "text", AVAILABLE_BB_CODES)
                      @SmilesPanel(true, "text", SmilesUtil.getInstance().getSmiles)
                  </div>
              }
            }
            <div class="content">
              @if(!user.isMessagesAllowed) {
                  <div class="small minor">
                      Писать сообщения можно только с @config.MESSAGES_ALLOWED_LEVEL уровня.</div>
              }
              <div class="left">@dialogs.MessagesList(dialog)</div>
              @if(target.isDefined && dialog.isEmpty) {
                  <div>Сообщений нет</div>
              }
            </div>
            @for(t <- target.map(_.user)) {
                @defining(dialog.pagingModel.currentPage) { page =>
                    @button("btnl", routes.DialogsController.makeFriend(t.id, page),
                        visible = user.canMakeFriend(t)) {В друзья}
                    @button("btnl", routes.DialogsController.toIgnore(t.id, page),
                        visible = user.canIgnore(t)) {В черный список}
                    @button("btnl", routes.DialogsController.removeDialog(t.id, None, page),
                        visible = user.canRemoveDialog(t)) {Удалить диалог}
                }
            }
        }
      }
    }
}
