@import components.context.GameContext
@import components.PagingModel
@import bean.messages.personal.PrivateDialog
@import bean.messages.personal.PrivateMessage

@(pg: PagingModel[(PrivateDialog, Option[PrivateMessage])], anonymous: Boolean, allowed: Boolean)(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content center">Почта</div>
    @if(!allowed) {
        <div class="content center minor small">Писать сообщения можно только с @config.MESSAGES_ALLOWED_LEVEL уровня.</div>
    }
    @if(pg.nonEmpty) {
        <div class="content">
            @for((d, msgOpt) <- pg.page) {
                @button("", routes.DialogsController.dialogPage(Some(d.target.id)), style = "display: block;") {
                    @defining(d.target.avatar) { ava =>
                        <div>
                            <div>
                                @Image(d.messageIcon(msgOpt), 24)
                                @if(!ava.isSpetialUser) { @Image(ava.image, 24)}
                                <span class="@ava.nickCssClass">@ava.visualNick</span>
                                @for(m <- msgOpt) {, @util.TimeUtil.formatTime(ctx.since - m.creationTime) назад}
                            </div>
                            <div class="message">читать</div>
                        </div>
                    }
                }
            }
        </div>
        <div class="center">@Paginator(pg)</div>
    }
    @if(allowed && !anonymous && pg.isEmpty) {
        <div class="content center">Вы еще ни с кем не переписывались.</div>
    }
    @if(anonymous) {
        <div class="content center">Писать личные сообщения можно будет после
        @button("", routes.RegistrationController.registrationPage()) {регистрации}</div>.
    }
    @button("btnl", routes.DialogsController.dialogsNewPage()) {
        @Image("mail_white.png", 24) Новое сообщение
    }
    @button("btnl", routes.DialogsController.friendList()) {
        @Image("dialogs.png", 24) Друзья / черный список
    }
}
