@()

<div>
    Достигнут предел по количеству активных героев.
    Можно ускорить поручения или подождать их выполнения.
    <div class="center">
        @button("btni", routes.MissionController.inProgressList()) {
            Посмотреть что ускорить
        }
    </div>
</div>
