@import bean.{Avatar, Mission}
@import components.context.GameContext
@import model.messaging.{EnvelopeMission, EnvelopeMission_Accepted, EnvelopeMission_Expired, InboxType, EnvelopeMission_Removed}
@import views.html.gameplay.mission.MissionView
@(ava: Option[Avatar], inboxType: InboxType, miss: Option[Mission], messageId: Int, currentPage: Int)(implicit ctx: GameContext[AnyContent])

@for(avatar <- ava) {
    <div class="row center">@Image("mail_incoming.png", 24) поручение от @AvatarPanel(avatar)</div>
    @for(mission <- miss if inboxType == EnvelopeMission && !mission.isExpired) {
        <div class="panel mramor">
            @MissionView(mission, routes.EnvelopeController.deleteMission(messageId, currentPage))
            <div class="center">
                @button("btni", routes.EnvelopeController.acceptMission(messageId)) {
                    принять (@ctx.gameUser.dailyMissions.available(ctx.gameUser.dailyMissionsMax))
                }
            </div>
            <div class="cb"></div>
        </div>
    }
    @if(inboxType == EnvelopeMission_Accepted) {
        <div class="center"><span class="green">принято</span></div>
    }
    @if(inboxType == EnvelopeMission_Expired) {
        <div class="center"><span class="red">истекло</span></div>
    }
    @if(inboxType == EnvelopeMission_Removed) {
        <div class="center"><span class="red">удалено</span></div>
    }
}
