@import components.context.GameContext
@import components.PagingModel
@import bean.Mission
@import bean.state.MissionState.IN_PROGRESS
@import bean.state.MissionState.COMPLETE
@import util.TimeUtil.formatTime
@import views.html.gameplay.mission.MissionView
@import views.html.gameplay.mission.ToggleButtons
@(pg: PagingModel[Mission])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
@GameContent("ranMissions") {
    @ToggleButtons(true, false)
    @Block("content center", pg.isEmpty) {Нет запущенных поручений.}
    @for(mission <- pg.page) {
        @defining(mission.state) { state =>
            <div>
                <div class="panel mramor flat-bottom">@MissionView(mission)</div>
                @state match {
                    case IN_PROGRESS => {
                        @button("btnl womt center flat-top", routes.MissionController.missionEnforceCompletion(mission.id, None, pg.currentPage)) {
                            Осталось @formatTime(mission.complete.get - ctx.since)
                        }
                    }
                    case COMPLETE => {
                        @button("btnl womt center flat-top", routes.MissionController.missionComplete(mission.id, pg.currentPage)) {
                            Завершить @Image("checked.png", 24)
                        }
                    }
                }
            </div>
        }
    }
    @Paginator(pg)
} }
