@import bean.Hero
@import components.context.GameContext
@import util.TimeUtil.formatTime
@import components.PagingModel
@import bean.Mission
@import util.format._
@import bean.GameUser
@(mission: Mission, pg: PagingModel[Hero])(implicit ctx: GameContext[AnyContent])
@defining(ctx.gameUser) {gu: GameUser =>
@GameContent("mission") {
    <div class="content panel brus">

        <div class="center">
            @button("fl", routes.MissionController.missionList()) {
                @Image("back.png", 24)
            }
            @for(name <- mission.generator.name) {
                @name
            }
            @button("fr", routes.MissionController.showDetails(mission.id, pg.currentPage)) {
                @Image("info.png", 24)
            }
            <div class="cb"></div>
        </div>

        @Block("center row", ctx.settings.missionDetails) {
            @mission.generator.text
            @for(from <- mission.originalOwner) {
                <div>входящее от @AvatarPanel(from.avatar)</div>
            }
        }

        <div class="center">
            @for(slot <- mission.slots) {
                @button("", routes.MissionController.missionSelectSlot(
                    mission.id, slot.index, pg.currentPage)) {

                    @if(slot.nonEmptySlot) {
                        @Image(slot.hero.get.template.image, 48)
                    } else {
                        @Image("circle7.png", 48)
                    }
                }
            }
        </div>
        <div class="center block">
            @for(hero <- pg.page) {
                @defining(mission.contribution(hero)) { contrib =>
                <div class="slot prel" style="margin-bottom: 18px;">
                    @button("prel slot", routes.MissionController.missionSlotApply(mission.id, hero.id, pg.currentPage)) {
                        @Image(hero.template.image, 64)
                    }
                    <div class="slot" style="width: 64px; position: absolute; bottom: -18px; left: 0;">
                        @app.chanceInt(contrib)@Html("%")
                    </div>
                </div>
                }
            }
            @Paginator(pg)
            @if(pg.page.isEmpty) { <div class="minor">Нет героев</div> } else {
                <div>@button("small minor", routes.MissionController.missionHeroesList(
                    mission.id, pg.currentPage)) { показать всех }</div>
            }
        </div>

        <div class="center">
            @button("btni", routes.MissionController.missionStart(mission.id), enabled = mission.participants.nonEmpty) {
                Начать поручение
            }
            @button("btni", routes.EnvelopeController.sendMission(mission.id, pg.currentPage),
                style="padding: 2px 8px 0px 8px;", visible = gu.canSendMission && mission.canBeenSent) {
                @Image("mail_white.png", 24)
            }
            <div class="cb"></div>
        </div>

        @Block("small minor enabled center row",
            gu.activeHeroesMax - mission.activeCount <= 0 && mission.slots.exists(_.isEmptySlot)) {
            Достигнут предел по числу героев в поручениях.
        }

        @defining(mission.chance) { chance =>
            <div>
                @QuestChance(chance)
            </div>
            <div>
                <span class="fl">Шанс:</span>
                <span style="color: @app.chanceColor(chance)" class="fr">
                    @{app.chanceInt(chance)}%
                    @app.chanceWord(chance)
                </span>
                <div class="cb"></div>
            </div>
        }

        <div>
            <span class="fl">Время:</span>
            <span class="fr">@formatTime(mission.time)</span>
            <div class="cb"></div>
        </div>

        @for(t <- mission.abilities.domainKeyMap) {
            @defining(t) { case (ability, rate) =>
            <div>
                <div class="fl">@ability.name </div>
                <div class="fr">@(100 *rate)%</div>
                <div class="cb"></div>
            </div>
            }
        }

        <div class="block">
            <span class="fl">Гарант. опыт героям:</span>
            <span class="fr">@math.floor(mission.assuredExp(false)).asInstanceOf[Long]</span>
            <div class="cb"></div>
        </div>
        <div>
            <span class="fl">Награда:</span>
            <span class="fr enabled">
                @for(artifact <- mission.artefact) {
                    @artifact.name
                    @if(mission.generator.ingNum > 1) {(@mission.generator.ingNum)}
                }
                @for(userExp <- mission.userExp) {
                    @Image("exp.png", 24) @Exp(userExp)
                }
                @for(money <- mission.money) {
                    Монеты: @Image("coin.png", 24) @Coin(money)
                }
                @for(heroExp <- mission.heroExp) {
                    @Image("exp.png", 24) @Exp(heroExp) (героям)
                }
            </span>
            <div class="cb"></div>
        </div>
        @for(artifact <- mission.artefact) {
            <div class="center">
                @Image(artifact.image, 64)
            </div>
        }
    </div>
} }
