@import bean.Mission
@import components.context.GameContext
@import bean.state.MissionState
@import java.text.DecimalFormat
@import util.TimeUtil.formatTime
@import util.format._
@import bean.GameUser
@(mission: Mission, dropCall: =>Call = null)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu: GameUser =>
<div>

    @* репутация *@
    @Image(mission.generator.image.getOrElse(mission.questor.image), 64, "fl portrait")

    @* удалить поручение*@
    @button("", dropCall, visible = mission.state == MissionState.NEW) {
        <div class="fr small" style="padding-left: 4px;">[x]</div>
    }

    <div>
        @mission.questor.name
        @if(mission.state == MissionState.NEW) {
            @Image("Clock4.png", 24) @util.TimeUtil.formatTime(mission.duration)
        }
    </div>

    <div>
        @for(artifact <- mission.artefact) {
            @Image(artifact.image, 24) @artifact.name
            @if(mission.generator.ingNum > 1) {(@mission.generator.ingNum)}
        }
        @for(userExp <- mission.userExp) {
            Опыт: @Image("exp.png", 24) @Exp(userExp)
        }
        @for(money <- mission.money) {
            Монеты: @Image("coin.png", 24) @Coin(money)
        }
        @for(heroExp <- mission.heroExp) {
            Опыт героям: @Image("exp.png", 24) @Exp(heroExp)
        }
    </div>

    <div>
        Успех @app.chanceInt(mission.idealizedChance)%
    </div>

    <div class="cb"></div>

    @Block("center", mission.state == MissionState.NEW) {
        @defining(mission.expiresAfter) { time: Long =>
            <span class="@app.timeColor(time)">истекает через @formatTime(time)</span>
        }
    }

    @* вставленные герои *@
    <div class="center">
        @for(h <- mission.slots.map(_.hero)) {
            @h.map { hero => @Image(hero.template.image, 36) }
        }
    </div>
</div>}
