@import bean.{GameUser, Mission, Settings}
@import components.PagingModel
@import components.context.GameContext
@import views.html.gameplay.hero.Tavern
@import views.html.gameplay.mission.{MissionView, ToggleButtons}
@(pg: PagingModel[Mission])(implicit ctx: GameContext[AnyContent])

@defining((ctx.settings, ctx.gameUser)) { case (settings: Settings, gu: GameUser) =>
@GameContent("missions") {
    <div class="content center">
        <span class="enabled">Героев на поручениях
            <span class="@gu.activeHeroesColor">@gu.activeHeroesCount из @gu.activeHeroesMax</span>
            возможных
        </span>
    </div>
    @ToggleButtons(false, true)
    @Block("content center", pg.isEmpty) {Список пуст.}
    @Block("content center") {
        @for((code, img) <- (0 to 2).zip("dice.png" :: "Clock Move Up.png" :: "Clock Move Down.png" :: Nil)) {
            @button("btni", routes.MissionController.sortMode(code), enabled = settings.missionSortMode != code) {
                @Image(img, 24)
            }
        }
    }
    @for(mission <- pg.page) {
        <div>
            <div class="panel mramor flat-bottom">@MissionView(mission, routes.MissionController.missionDrop(mission.id, pg.currentPage))</div>
            @button("btnl womt center flat-top", routes.MissionController.missionDescription(mission.id),
            enabled = !mission.inScare) {
                <div>
                    @if(mission.inScare) {
                        Обновляется
                    } else {
                        @if(mission.isIncoming) { @Image("mail_incoming.png", 24)}
                        @mission.generator.name.filterNot(_.trim.isEmpty).getOrElse("Выполнять поручение")
                    }
                </div>
            }
        </div>
    }
    @Paginator(pg)

    @for(p <- gu.priceForMissionsCountUpgrade) {
        @button("btnl", routes.MissionController.upgradeMissionsLevel()) {
            Увеличить список поручений до @(gu.missionsCountMax + 1)
            <span class="fr">@price(p)</span>
            <div class="cb"></div>
        }
    }
    @for(pp <- gu.activeHeroesUpgradePrice) {
        @button("btnl", routes.HeroController.upgradeMaxActive(pg.currentPage, None, Some("missions"))) {
            <span class="fl">Увеличить число активных героев до @(gu.activeHeroesMax + 1)</span>
            <span class="fr">@price(pp)</span>
            <div class="cb"></div>
        }
    }
    @Tavern()
}}
