@import bean.Hero
@import components.context.GameContext
@import bean.Mission
@(mission: Mission, heroes: Iterable[Hero], page: Int)(implicit ctx: GameContext[AnyContent])

@main {
    @if(heroes.isEmpty) {
        <div class="content center">
            Нет героев.<br/>
            @button("btni", routes.HeroController.heroShop()) {Нанять}
        </div>
    }
    @for(hero <- heroes) {
        @button("btnl", routes.MissionController.missionSlotApply(mission.id, hero.id, page)) {
            @Image(hero.template.image, 80, "fl portrait")
            <div class="normal">@hero.template.name</div>
            <div>Уровень @hero.level</div>
            <div>Абилки: [список]</div>
            <div class="cb"></div>
        }
    }
    @button("btnl", routes.MissionController.missionDescription(mission.id, page)) {
        @back() Назад
    }
}
