@import components.context.GameContext
@import components.PlayComponentsHolder
@(id: Int, p: Int, targetForm: Form[String])(implicit ctx: GameContext[AnyContent])
@import views.Helper.args
@import views.html.helper.{form, inputText}
@import views.html.gameplay.LastAddressee
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}
@main {
    @formMessages(targetForm)
    <div class="content panel brus">
        <div class="center">
            @button("fl", routes.MissionController.missionDescription(id, p)) {
                @Image("back.png", 24)
            }
            <span>Кому отправить поручение?</span>
            <div class="cb"></div>
        </div>
        <div class="center">
            @form(action = routes.EnvelopeController.sendMissionAction(id)) {
                @inputText(targetForm("nick"), args('_label -> Html("Ник<span class='red'>*</span>")) : _*)
                <input class="btni" type="submit" value="Отправить" >
            }
        </div>
        <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
            background-size: 240px auto;
            padding: 10px;
            margin-bottom: 4px;"></div>
        @LastAddressee(uid => routes.EnvelopeController.sendMissionByUserId(id, uid, p))
    </div>
}