@import components.context.GameContext
@(enabled1: Boolean, enabled2: Boolean)(implicit ctx: GameContext[AnyContent])

<div>
    <div class="fl half">
        @button("btnl center", routes.MissionController.missionList(), enabled = enabled1) {
            Новые
        }
    </div>
    <div class="fr half">
        @button("btnl center", routes.MissionController.inProgressList(), enabled = enabled2) {
            Запущенные
            @if(util.PlusUtil.missionsPlus(ctx.gameUser) &&
                    !util.HelperMethods.compareUrls(ctx.uri, routes.MissionController.inProgressList().path())) {
                @Image("plus1.png", 24)
            }
        }
    </div>
    <div class="cb"></div>
</div>
