@import bean.BuySlot
@import components.context.GameContext
@import model.price.CoinPrice
@(slots: Iterable[BuySlot])(implicit ctx: GameContext[AnyContent])

@for(slot <- slots) {
    @button("slot", routes.ShopController.buy(slot.id, slot.unique)) {
        <div class="greenbg80 prel mb15" style="margin-right: 15px;">
            @Image(slot.item.image, 80)
            <div class="snippet" style="position: absolute; top: 0; right: 0">
                @Image(slot.item.image, 16) @slot.amount<br/>
                <span class="minor">@Image("menu/Инвентарь-1.png", 16) @ctx.gameUser.barn.getOrElse(slot.item.typeId, 0)</span>
            </div>
            <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                <span class="small btni btnii">@price(CoinPrice(slot.value), 16)</span>
            </div>
        </div>
    }
}
