@import bean.SellSlot
@import components.context.GameContext
@import util.format._
@(slots: Iterable[SellSlot])(implicit ctx: GameContext[AnyContent])

@for(slot <- slots) {
    @defining(ctx.gameUser.barn.getOrElse(slot.item.typeId, 0)) {have =>
    @button("slot", routes.ShopController.sell(slot.id, slot.unique), enabled = have > 0) {
        <div class="greenbg80 prel mb15" style="margin-right: 15px;">
            @Image(slot.item.image, 80)
            <div class="snippet" style="position: absolute; top: 0; right: 0">
                @Image(slot.item.image, 16)
                <span class="@if(have <= 0) {red}">@slot.amount</span><br/>
                <span class="minor">@Image("menu/Инвентарь-1.png", 16) @have</span>
            </div>
            <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                <span class="@{"small btni" + (if(have > 0) " btnii" else "")}">
                    @Image("coin.png", 16) +@Coin(slot.value)
                </span>
            </div>
        </div>
    }
}}
