@import components.context.GameContext
@import bean.BuySlot
@(slots: Iterable[BuySlot])(implicit ctx: GameContext[AnyContent])

@defining((ctx.settings, ctx.gameUser)) { case (settings, gu) =>
@main {
    <div>
        <div class="fl half">
            @button("btnl center", enabled = false) {
                Купить
            }
        </div>
        <div class="fr half">
            @button("btnl center", routes.ShopController.sellPage()) {
                Продать
            }
        </div>
        <div class="cb"></div>
    </div>
    <div class="panel brus" style="padding-bottom: 0;">
        @Image("trader80.png", 40, "fl portrait", "margin-bottom: 15px;")
        @Image("stall2_80.png", 40, "fr", "margin: 0 0 15px 4px;")
        <div class="center row">Торговцы на рынке хотят продать вам следующие предметы</div>
        <div class="cb"></div>


        @if(settings.shopViewDetailed) {
            @DetailedBuySlot(slots)
        } else {
            <div class="center">@BriefBuySlot(slots)</div>
            <div class="center small minor">
                Верхняя цифра обозначает число предметов, которые хотят продать торговцы.
                Нижняя цифра (у сундука) обозначает количество этих предметов у Вас в амбаре.
            </div>
        }
    </div>
    @button("btnl", routes.ShopController.toggleView()) {
        @if(settings.shopViewDetailed) {[-] Скрыть подробности} else {[+] Показать подробности}
    }
    @button("btnl", routes.ShopController.refreshBuyList()) {
        Обновить список
        <span class="fr">@price(gu.shopRefreshPrice)</span>
        <div class="cb"></div>
    }
}}

