@import bean.BuySlot
@import components.context.GameContext
@import model.price.CoinPrice
@(slots: Iterable[BuySlot])(implicit ctx: GameContext[AnyContent])

@for(slot <- slots) {
    <div>
    @button("", routes.ShopController.buy(slot.id, slot.unique)) {
        @Image(slot.item.image, 64, "fl portrait", "margin-bottom: 8px;")
        <div class="enabled">
            @slot.item.name
            <span class="minor nobr">
                @Image("menu/Инвентарь-1.png", 24) @ctx.gameUser.barn.getOrElse(slot.item.typeId, 0)
            </span>
        </div>
        <div>
            <span class="btni btnii">@slot.amount шт. по @price(CoinPrice(slot.value))</span>
        </div>
        <div class="cb"></div>
    }
    </div>
}
