@import bean.SellSlot
@import components.context.GameContext
@import util.format._
@(slots: Iterable[SellSlot])(implicit ctx: GameContext[AnyContent])

@for(slot <- slots) {
    @defining(ctx.gameUser.barn.getOrElse(slot.item.typeId, 0)) {have =>
    <div>
    @button("", routes.ShopController.sell(slot.id, slot.unique), enabled = have > 0) {
        @Image(slot.item.image, 64, "fl portrait", "margin-bottom: 8px;")
        <div class="enabled">
            @slot.item.name
            <span class="minor nobr">
                @Image("menu/Инвентарь-1.png", 24) @ctx.gameUser.barn.getOrElse(slot.item.typeId, 0)
            </span>
        </div>
        <div>
            <span class="@{"btni" + (if(have > 0) " btnii" else "")}">
                <span class="@if(have <= 0) {red}">@slot.amount шт.</span>
                по @Image("coin.png",16) +@Coin(slot.value)
            </span>
        </div>
        <div class="cb"></div>
    }
    </div>
}}
