@import components.context.GameContext
@import bean.SellSlot
@(slots: Iterable[SellSlot])(implicit ctx: GameContext[AnyContent])

@defining((ctx.settings, ctx.gameUser)) { case (settings, gu) =>
@main {
    <div>
        <div class="fl half">
        @button("btnl center", routes.ShopController.shopPage()) {
            Купить
        }
        </div>
        <div class="fr half">
        @button("btnl center", enabled = false) {
            Продать
        }
        </div>
        <div class="cb"></div>
    </div>
    <div class="panel brus" style="padding-bottom: 0;">
        @Image("trader80.png", 40, "fl portrait", "margin-bottom: 15px;")
        @Image("stall2_80.png", 40, "fr", "margin: 0 0 15px 4px;")
        <div class="center row">Торговцы на рынке хотят купить у вас следующие предметы</div>
        <div class="cb"></div>

        @if(settings.shopViewDetailed) {
            @DetailedSellSlot(slots)
        } else {
            <div class="center">@BriefSellSlot(slots)</div>
            <div class="center small minor">
                Верхняя цифра обозначает число предметов, которые хотят купить торговцы.
                Нижняя цифра (у сундука) обозначает количество этих предметов у Вас в амбаре.
            </div>
        }
        </div>
    @button("btnl", routes.ShopController.toggleView(1)) {
        @if(settings.shopViewDetailed) {[-] Скрыть подробности} else {[+] Показать подробности}
    }
    @button("btnl", routes.ShopController.refreshSellList()) {
        Обновить список
        <span class="fr">@price(gu.shopRefreshPrice)</span>
        <div class="cb"></div>
    }
}}
