@import components.context.GameContext
@(content: Html, accept: Call, decline: Call)(implicit ctx: GameContext[AnyContent])
<div>
    <div class="content">@content</div>
    @button("btni prel", accept) {
        Подтверждаю
    }
    @button("btni", decline) {
        Отказываюсь
    }
</div>
