@import components.context.PlayContext
@()(implicit ctx: PlayContext[AnyContent])

@main {
    <div class="pg_b"><div class="pg_r"><div class="pg_t"><div class="pg_l"><div class="pg_tl"><div class="pg_tr"><div class="pg_bl"><div class="pg_br">
        <div class="pg_inner">
            Content
        </div>
    </div></div></div></div></div></div></div></div>
}
