@import components.context.GameContext
@import model.price.Price
@import util.RuGrammar.rubyPayment
@import util.format._
@(price: Price, accept: Call, decline: Call)(implicit ctx: GameContext[AnyContent])

<div>
    @defining(price.value) { rubies =>
        Действительно хотите купить ключ за <span class="nobr">@Image("ruby.png", 24) @Ruby(rubies)</span>
        @rubyPayment(rubies) и открыть сундук?
        <div class="center">
            @button("btni prel", accept) {
                Подтверждаю
            }
            @button("btni", decline) {
                Отказываюсь
            }
        </div>
    }
</div>
