@import model.{CoinDeficit, Deficit, RubyDeficit, DreamDustDeficit}
@import util.RuGrammar.{moneyDeficit, rubyDeficit, timedrinkDeficit}
@import util.format._
@(deficit: Deficit)

Не хватает
@deficit match {
    case RubyDeficit(x) => {
        <span class="nobr">@Image("ruby.png", 24) @Ruby(x)</span> @rubyDeficit(x).
    }
    case CoinDeficit(x) => {
        <span class="nobr">@Image("coin.png", 24) @Coin(x)</span> @moneyDeficit(x).
    }
    case DreamDustDeficit(x) => {
        <span class="nobr">@Image("dustdream.png", 24) @Dust(x)</span> @timedrinkDeficit(x).
    }
}
