@import components.context.PlayContext
@()(implicit ctx: PlayContext[AnyContent])

@defining(ctx.feedbackSeq) { seq =>
    @if(seq.nonEmpty) {
        <div class="pg_bg"><div class="pg_b"><div class="pg_r"><div class="pg_t"><div class="pg_l"><div class="pg_tl"><div class="pg_tr"><div class="pg_bl"><div class="pg_br">
            <div class="pg_inner center" style="color: black;
                text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);">
            @for(html <- seq) {
                @html
            }
            </div>
        </div></div></div></div></div></div></div></div></div>
    }
}
