@()

<div>Недостаточно места в амбаре.</div>
<div class="small pt" style="color: #060606;">
    Можно
    @button("link2", routes.BarnController.barnPage) {расширить} амбар,
    @button("link2", routes.ShopController.sellPage) {продать} лишнее или
    @button("link2", routes.LabController.labPage) {превратить} в лаборатории.
</div>
