@import components.context.GameContext
@import model.price.RubyPrice
@import util.RuGrammar.rubyPayment
@import util.format._
@(price: RubyPrice, accept: Call, decline: Call)(implicit ctx: GameContext[AnyContent])

<div>
    @defining(price.value) { rubies =>
        Действие требует <span class="nobr">@Image("ruby.png", 24) @Ruby(rubies)</span>
        @rubyPayment(rubies). Потратить?
        <div class="center">
            @button("btni prel", accept) {
                Подтверждаю
            }
            @button("btni", decline) {
                Отказываюсь
            }
        </div>
        @if(rubies <= config.SMALL_SPENDING_UP_TO && ctx.settings.confirmSmallSpendings) {
            <div class="small pt" style="color: #ffefbe;">
                Отключить подтверждения для мелких трат можно в
                @button("", routes.SettingsController.settings()) {<span class="link" style="background: #404040;">настройках</span>.}
            </div>
        }
    }
</div>
