@import components.actions.wizard.PayPriceConfirm
@import model.price.Currency.{Coin, Dust, Ruby}
@import util.RuGrammar.{moneyPayment, rubyPayment, timedrinkPayment}
@import components.context.GameContext
@import util.format._
@(info: PayPriceConfirm)(implicit ctx: GameContext[AnyContent])

@defining(info.price.value) { x =>
    @info.price.currency match {
        case Ruby => {
            Купить за
            <span class="nobr"><img src="@routes.Assets.versioned("images/ruby.png")" width="24" height="24" alt="" title=""/>
                @util.format.Ruby(x)</span>
            @rubyPayment(x)?
        }
        case Coin => {
            Купить за
            <span class="nobr"><img src="@routes.Assets.versioned("images/coin.png")" width="24" height="24" alt="" title=""/>
                @util.format.Coin(x)</span>
            @moneyPayment(x)?
        }
        case Dust => {
            Ускорить за <span class="nobr">@Image("dustdream.png", 24) @util.format.Dust(x)</span>
            @timedrinkPayment(x)?
        }
    }
}
