@import components.actions.wizard.PayRestConfirm
@import util.RuGrammar.moneyDeficit
@import util.RuGrammar.rubyRest
@import util.format._
@(info: PayRestConfirm)

Не хватает <span class="nobr">
    @Image("coin.png", 24) @Coin(info.deficit.amount)</span> @moneyDeficit(info.deficit.amount)@Html(".")
Хотите доплатить
<span class="nobr">
    @Image("ruby.png", 24) @Ruby(info.rubyRest)</span> @rubyRest(info.rubyRest)?
