@import model.Reward
@import model.ReputationModel
@import model.hero.HeroTemplate
@import util.format._
@import views.html.misc.reward_comp
@(reward: Reward)
    @reward.level.map { level =>
        <div>Вы достигли @level уровня.</div>
        @if(level >= 20 && level % 10 == 0) {
            <div>Список поручений увеличен на 5.</div>
        }
        @views.html.misc.levelUp(level)
    }
    @reward.exp.map { exp =>
        <span>
            <img src="@routes.Assets.versioned("images/exp.png")" width="24" height="24" alt="" title=""/>
            +@exp
        </span>
    }
    @reward.ruby.map { ruby =>
        <span>
          <img src="@routes.Assets.versioned("images/ruby.png")" width="24" height="24" alt="" title=""/>
          +@ruby
        </span>
    }
    @reward.coin.map { coin =>
        <span>
          <img src="@routes.Assets.versioned("images/coin.png")" width="24" height="24" alt="" title=""/>
          +@coin
        </span>
    }
    @reward.ingredients.zipWithIndex.map { case ((gameItem, amount), index) =>
        <span>
            @Image(gameItem.image, 24)
            +@amount @if(index + 1 < reward.ingredients.size) {,}
        </span>
    }
    @reward.dreamDust.map { dust =>
      @Image("dustdream.png", 24) +@Dust(dust)
    }
    @reward_comp.HeroLevelApply(reward)
    @reward_comp.HeroesExp(reward)
    @for(((rep,value),index) <- reward.reputation.zipWithIndex) {
        <div>
            @defining((ReputationModel.withType(rep), reward.reputation.size)) { case (reputation, allSize) =>
                @Image(reputation.image, 24) +@value к репутации <span class="epic">@reputation.name</span>@if(index + 1 < allSize){,}
            }
        </div>
    }
    @reward_comp.HeroesLevelUp(reward)
    @reward.chests.map {chests =>
        <span>
            @Image("chest_1.png", 24) +@chests
        </span>
    }
    @reward.keys.map { keys =>
        <span>
            @Image("key48.png", 24) +@keys
        </span>
    }
    @reward.levelUpBonus.map {case (level, rubies) =>
        <div>Поздравляем! За достижение @level уровня Вы получаете дополнительный приз
            <span class="nobr">@Image("ruby.png",24) @Ruby(rubies)</span> рубинов!</div>
    }
    @reward.reputationLevel.map { case (rep, lvl) =>
        <div>
            Поздравляем! Вы получили @lvl уровень репутации @rep.name<br/>
            @views.html.misc.reward_comp.ReputationReward(rep, lvl)
        </div>
    }
    @for(renderer <- reward.templateRenderer) {
        <div>@renderer.render</div>
    }
