@import components.context.GameContext
@import util.RuGrammar.timedrinkDeficit
@import util.format._
@import bean.GameUser
@()(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu: GameUser =>
  <div>
      @Image("reputation/koshey.png",24) <span class="green">Кощейский банк</span> каждый день генерирует по
      <span class="nobr">@Image("dustdream.png",24) @Dust(gu.getMaxAllowedFreeDust)</span>
      @timedrinkDeficit(gu.getMaxAllowedFreeDust). <br/>
      @button("btni", routes.LabController.claim(), enabled = gu.getAllowedFreeDust > 0) {
          Получить @Image("dustdream.png", 24) @Dust(gu.getAllowedFreeDust)
      }
  </div>
}
