@import components.context.GameContext
@import model.item.Ingredient
@import views.html.gameplay.task.Title
@import util.format._
@import views.html.gameplay.lab.FreeDustView
@import bean.GameUser
@import bean.Settings
@(seq: Seq[(Ingredient, Int)])(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ctx.settings)) {case (gu: GameUser, settings: Settings) =>
@main {
    @Title("lab.png")
    <div class="panel brus center prel">
        @button("", routes.LabController.toggleOrdering(), visible = gu.level >= 30) {
            @Image(if(settings.labOrdering) "sort_asc.png" else "sort_desc.png", 24,
                style="position: absolute; right: 4px;")
        }
        <div style="padding: 0 29px 8px 29px">Здесь любой предмет можно превратить в зелье времени.</div>
        @if(seq.isEmpty) {
            <div>Нет ингредиентов.</div>
        }

        @for((ing, cnt) <- seq) {
            @button("slot", routes.LabController.burn(ing.typeId)) {
                <div class="slot prel mb11" style="background: url(/assets/images/circle6.png) no-repeat;
                    background-size: 80px auto;">

                    @Image(ing.image, 80)
                    <div class="snippet" style="position: absolute;
                        top: 0;
                        right: 0">
                        <span class="minor">@Image("menu/Инвентарь-1.png", 16) @ctx.gameUser.barn.getOrElse(ing.typeId, 0)</span>
                    </div>

                    <div class="slot" style="width: 80px;
                        position: absolute;
                        bottom: -12px;
                        left: 0;">
                        <span class="small btni btnii">@Image("dustdream.png", 16) +@Dust(gu.dustYield(ing, 1))</span>
                    </div>
                </div>
            }
        }

        @if(gu.dustBankEnabled) {
            <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
                background-size: 240px auto;
                padding: 10px;
                margin: 4px 0;"></div>

            @FreeDustView()
        }
    </div>
} }
