@import components.context.GameContext
@import TutorialController.heroes
@()(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) {step =>
    @tutorialMain {
        <div class="panel mramor center">
            @for(hero <- heroes) {
                <div class="slot row">
                    @hero.name<br/>
                    @Image(hero.image160, 80, style="margin: 0 5px;")<br/>
                    <span class="green">@hero.initialAbilities.head.name</span>
                </div>
            }
            <div class="minor">
                У героев есть характеристики. Характеристики позволяют героям выполнять разные поручения и получать
                в награду полезные предметы.
            </div>
        </div>
        @button("btnl", routes.TutorialController.acquaintanceAction(2)) {
            <div class="slot prel">
                @Image("menu/Задания-1.png", 24) Перейти к поручениям
                @Thumb("animArrowLeft")(true)
            </div>
        }
    }
}
