@import components.context.GameContext
@import controllers.TutorialController.goods
@import controllers.TutorialController.heroes
@import views.html.tutorial.tutorialMain
@import scala.language.postfixOps
@(idx: Int)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    <div>
        <div class="fl half">
            @button("btnl center", routes.TutorialController.tutorial(step)) {
                Новые
            }
        </div>
        <div class="fr half">
            @button("btnl center", enabled = false) {
                Запущенные
            }
        </div>
        <div class="cb"></div>
    </div>
    @for(((good, hero), i) <- goods zip heroes takeRight(3 - idx) zipWithIndex) {
        @Block("panel brus flat-bottom") {
            @Image("reputation/tsar.png", 64, "fl portrait")

            <div>Царь Салтан</div>

            <div>
                @Image(good.image, 24) @good.name
            </div>

            <div>Успех 100%</div>

            <div class="cb"></div>

            <div class="center">
                @Image(hero.image, 36)
            </div>

        }
        <div class="center">
            @if(i == 0) {
                @button("btnl flat-top", routes.TutorialController.finishMission(step, idx), enabled = i == 0) {
                    <div class="prel slot">
                        Завершить @Image("checked.png", 24)
                        @Thumb("animArrowLeft") @{true}
                    </div>
                }
            } else {
                @button("btnl flat-top", enabled = false) {
                    В пути
                }
            }
        </div>
    }
} }
