@import components.context.GameContext
@import views.html.gameplay.task.Title
@import controllers.TutorialController
@import views.html.tutorial.tutorialMain
@(completed: Boolean)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) {step =>
@tutorialMain {
    @Title()
    <div class="panel mramor">
        <div class="center row">
            <img src="assets/images/tutorial/tsar1_1.png" width="110" height="110" alt="" title=""/>
            <img src="assets/images/tutorial/tsarevna_1.png" width="80" height="80" alt="" title=""/>
            <div class="center">Царь желает жениться. Вот только стар он стал и немощен. Помоги ему омолодиться - достань предметы.</div>
        </div>
        @for(good <- TutorialController.goods) {
            <div class="row">
                @Image(good.image, 48, "fl")
                <div>
                    <span class="enabled">@good.name</span>
                </div>
                @Block("red", !completed) {0 из 1}
                @Block("green", completed) {1 из 1}
                <div class="cb"></div>
            </div>
        }
        <div class="center">
            <div>Царь обещает дать имение в награду и взять себе в советники того, кто поможет ему.</div>
            <div><img src="assets/images/tutorial/tsar2_1.png" width="110" height="110" alt="" title=""/></div>
            @button("btni", routes.TutorialController.finishTask(step), visible = completed) {
                <div class="prel slot">@Image("checked.png", 24) Помочь царю
                @Thumb("animArrowLeft")(true)</div>
            }
        </div>
    </div>
    @button("btnl", enabled = false) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.firstAction(1)) {
        <div class="slot prel">
        @Image("menu/Задания-1.png", 24) Поручения героям
        @Thumb("animArrowLeft")(!completed)
        </div>
    }
} }
