@import components.context.GameContext
@()(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) {step =>
<div>
    Ускорить приготовление колобка за
    <img src="@routes.Assets.versioned("images/dustdream.png")" width="24" height="24" alt=""> 5 зелья времени?
</div>
<div class="center">
    @button("btni", routes.TutorialController.enforceAgree(step)) {
        <span class="prel slot">
            Да
            @Thumb("animArrowRight")(true)
        </span>
    }
    @button("btni", routes.TutorialController.tutorial(step)) {
        Нет
    }
</div>
}
