@import components.context.GameContext
@import controllers.TutorialController
@import views.html.tutorial.tutorialMain
@import scala.language.postfixOps
@(current: Int)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    @for((good, i) <- TutorialController.goods zipWithIndex) {
        @Block("", i >= current) {
            <div class="panel mramor flat-bottom">
                @Image("reputation/tsar_sad.png", 64, "fl portrait")
                <div>Царь Салтан</div>
                <div>
                    @Image(good.image, 24) @good.name
                </div>
                <div>Успех 100%</div>
            </div>
            @button("btnl womt center flat-top", routes.TutorialController.goMission(step, i), enabled = current == i) {
                <div class="slot prel">
                    Выполнять поручение
                    @Thumb("animArrowLeft") @{current == i}
                </div>
            }
        }
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
} }
