@import components.context.GameContext
@import controllers.TutorialController
@import views.html.QuestChance
@import views.html.tutorial.tutorialMain
@import scala.language.postfixOps
@(idx: Int)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    <div class="panel brus center">
        поручение
        <div>@TutorialController.titles(idx)</div>
        <div>@Image("circle7.png", 48)</div>

        @defining(TutorialController.goods(idx)) { good =>
        @defining(TutorialController.heroes.takeRight(3 - idx)) { heroes =>

            <div class="block">
                @for((hero, i) <- heroes zipWithIndex) {
                    <div class="slot prel" style="margin-bottom: 18px;">

                        @button("prel slot", routes.TutorialController.pickHero(step, idx), enabled = i == 0) {
                            @Image(hero.image, 64)
                            @Thumb("animArrowRight_slot") @{
                                i == 0
                            }
                        }
                        @Block("slot", i == 0, "width: 64px; position: absolute; bottom: -18px; left: 0;") {100%}
                        @Block("slot", i != 0, "width: 64px; position: absolute; bottom: -18px; left: 0;") {70%}
                    </div>
                }
            </div>


            <div class="block">
                @button("btni", enabled = false) {
                    Начать поручение
                }
            </div>

            <div>@QuestChance(0.0)</div>

            <div>
                <span class="fl">Шанс:</span>
                <span class="fr red">0% ничтожный</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Время:</span>
                <span class="fr">быстро</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">
                    @heroes(0).initialAbilities(0).name
                </span>
                <span class="fr">100.0%</span>
                <div class="cb"></div>
            </div>

            <div>
                <span class="fl">Награда:</span>
                <span class="fr enabled">@good.name</span>
                <div class="cb"></div>
            </div>

            <div>@Image(good.image, 64)</div>
        } }
    </div>
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
} }
