@import components.context.GameContext
@import TutorialController.nasestLength
@import TutorialController.repairNasestPrice
@import views.html.tutorial.tutorialMain
@import views.html.tutorial.StatusPanel
@import util.format._
@(fixed: Boolean)(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser.tutorialStep, ctx.gameUser.tutorial.hens, ctx.gameUser.tutorial.eggs)) {case (step, hens, eggs) =>
@tutorialMain {
    @Block("panel brus center", !fixed) {
        Насест для избушек на курьих ножках сломан.
        @button("btni", routes.TutorialController.fixNasest(step)) {
            <span class="prel slot">
                @Image("hammer.png", 24) Отремонтировать @Image("coin.png", 24) @BigNumber(repairNasestPrice)
                @Thumb("animArrowLeft")(true)
            </span>
        }
    }
    @Block("panel brus center", fixed) {
        @for((pet, i) <- 0 until hens zipWithIndex) {
            <div class="prel slot">
            @button("", routes.TutorialController.farmHen(step), enabled = hens == nasestLength && i == eggs) {
                @Image("misc3/pet_1_128.png", 80)
                @Block("snippet p4", i >= eggs, "position: absolute; bottom: 0;") {
                    @Image("misc3/p_6_128.png", 16)
                }
                @Thumb("animArrowRight_slot")(hens == nasestLength && i == eggs)
            }
            </div>
        }
        @if(hens < nasestLength) {
            @button("prel slot", routes.TutorialController.buyHen(step)) {
                @Image("black/2_1.png", 80)
                <div class="snippet p4" style="position: absolute; bottom: 0; right: 0;">
                    @Image("coin.png", 16) 10
                </div>
                @Thumb("animArrowRight_slot")(true)
            }
        }
    }

    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Ферма-1.png", 24) Огород
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("building.png", 24) Волшебная печка
    }
    @button("btnl", enabled = false) {
        @Image("shelter.png", 24) Волшебный насест
    }
    @StatusPanel()
    @button("btnl", routes.TutorialController.tutorial(step), visible = eggs < nasestLength) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.goBringEggs(step), visible = eggs >= nasestLength) {
        <div class="prel slot">
            @Image("menu/Задания-1.png", 24) Мои задания
            @Thumb("animArrowLeft")(true)
        </div>
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
    @button("btnl", enabled = false) {
        <div class="prel slot">
            @Image("menu/Ферма-1.png", 24) Мои владения
        </div>
    }
} }
