@import components.context.GameContext
@import controllers.TutorialController.good2
@import controllers.TutorialController.repairPechkaPrice
@import util.TimeUtil.formatTime
@import views.html.tutorial.tutorialMain
@import views.html.tutorial.StatusPanel
@import util.format._
@(fixed: Boolean, enqueued: Boolean, postProduction: Boolean)(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser.tutorialStep, ctx.gameUser.tutorial)) {case (step, tutorial) =>
@tutorialMain {
    @Block("content center panel brus", !fixed && !postProduction) {
        Печка сломана. Отремонтируйте.<br/>
        @button("btni", routes.TutorialController.fixPechka(step)) {
            <span class="prel slot">
                @Image("hammer.png", 24) Отремонтировать @Image("coin.png", 24) @BigNumber(repairPechkaPrice)
                @Thumb("animArrowLeft")(true)
            </span>
        }
    }
    @Block("content center panel brus", fixed) {
        @Block("", enqueued && !postProduction) {
            <div>Очередь производства</div>
            <div class="center">
            @for(slot <- 0 until 3) {
                @button("prel", routes.TutorialController.enforce(step), enabled = slot == 0) {

                    <div class="prel slot" style="background: url(/assets/images/circle4.png) no-repeat;background-size: 64px auto;">
                        @if(slot == 0) {
                            @Image(good2.image, 48, style = "padding: 8px;")
                        } else {
                            @Image("circle4.png", 64)
                        }
                        @Block("snippet italic enabled small p4", slot == 0, "position: absolute; bottom: 0;") {
                            @for(left <- tutorial.kolobokEnqueueTime.map(_ + good2.duration - ctx.since).map(formatTime)) {
                                @left
                            }
                        }
                        @Thumb("animArrowRight_slot")(slot == 0 && ctx.isEmptyFeedback)
                    </div>
                }
            }
            </div>
        }
        <div class="enabled bold">@good2.name @Image("Clock4.png", 16) @formatTime(good2.duration)</div>
        @for((ing, n) <- good2.composition) {
            <div class="green">
                <span class="fl">@ing.name</span>
                <span class="fr">@Image(ing.image, 16) @n</span>
                <div class="cb"></div>
            </div>
        }
        <div class="prel slot" style="background: url('/assets/images/circle6.png') no-repeat;background-size: 64px auto;">
            @button("", routes.TutorialController.enqueue(step), enabled = !enqueued) {
                @Image(good2.image, 48, style = "padding: 8px 30px 8px 8px;")
            }
            <div class="snippet" style="position: absolute; bottom: 0; left: -16px;">
                @Image("menu/Инвентарь-1.png", 16) 0
            </div>
        </div>
        @button("btni prel", routes.TutorialController.enqueue(step), enabled = !enqueued) {
            <span class="prel slot">
                в очередь
                @Thumb("animArrowLeft")(!enqueued && !postProduction)
            </span>
        }
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Ферма-1.png", 24) Огород
    }
    @button("btnl", enabled = false) {
        @Image("building.png", 24) Волшебная печка
    }
    @StatusPanel()
    @button("btnl", routes.TutorialController.tutorial(step), visible = !postProduction) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.goBringKolobok(step), visible = postProduction) {
        <div class="prel slot">
            @Image("menu/Задания-1.png", 24) Мои задания
            @Thumb("animArrowLeft")(true)
        </div>
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
    @button("btnl", enabled = false) {
        <div class="prel slot">
            @Image("menu/Ферма-1.png", 24) Мои владения
        </div>
    }
} }
