@import components.context.GameContext
@import views.html.tutorial.tutorialMain
@import scala.language.postfixOps
@(idx: Int)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    <div class="panel brus center">
        поручение
        <div>@TutorialController.titles(idx)</div>
        @defining(TutorialController.goods(idx)) { good =>
            @defining(TutorialController.heroes.takeRight(3 - idx)) { heroes =>
                <div>@Image(heroes(0).image, 48)</div>
                <div class="block">
                    @for((hero, i) <- heroes.drop(1) zipWithIndex) {
                        <div class="slot prel" style="margin-bottom: 18px;">
                            @Image(hero.image, 64)
                            @Block("slot", style = "width: 64px; position: absolute; bottom: -18px; left: 0;") {-30%}
                        </div>
                    }
                </div>


                <div class="block">
                @button("btni prel slot", routes.TutorialController.startMission(step)) {
                    Начать поручение
                    @Thumb("animArrowLeft") @{true}
                }
                </div>

                <div class="block">@QuestChance(1.0)</div>

                <div>
                    <span class="fl">Шанс:</span>
                    <span class="fr green">100% высокий</span>
                    <div class="cb"></div>
                </div>

                <div>
                    <span class="fl">Время:</span>
                    <span class="fr">быстро</span>
                    <div class="cb"></div>
                </div>

                <div>
                    <span class="fl">
                    @heroes(0).initialAbilities(0).name
                    </span>
                    <span class="fr">100.0%</span>
                    <div class="cb"></div>
                </div>

                <div>
                    <span class="fl">Награда:</span>
                    <span class="fr enabled">@good.name</span>
                    <div class="cb"></div>
                </div>

                <div>@Image(good.image, 64)</div>
            } }
    </div>
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
} }
