@import components.context.GameContext
@import controllers.TutorialController.good2
@import views.html.gameplay.task.Title
@import views.html.tutorial.tutorialMain
@import views.html.tutorial.StatusPanel
@(finished: Boolean)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) {step =>
@tutorialMain {
    @Title()
    <div class="panel mramor">
        <div class="center">
            @Image("reputation/tsar.png", 24) Царь Салтан
        </div>
        <div class="center">
            Оправляйся во владения которые царь дал, собери урожай да печь почини, испеки колобка там, принеси сюда.
        </div>
        <div>
            @Image(good2.image, 36, "portrait fl")

            <div>
                @good2.name
            </div>
            @Block("red", !finished) {0 из 1}
            @Block("green", finished) {1 из 1}
            <div class="cb"></div>
            @Block("center", finished) {
                @button("btni", routes.TutorialController.finishSecondTask(step)) {
                    <div class="prel slot">
                        @Image("checked.png", 24) Отдать колобка
                        @Thumb("animArrowLeft")(true)
                    </div>
                }
            }
        </div>
    </div>
    @StatusPanel()
    @button("btnl", enabled = false) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
    @button("btnl", routes.TutorialController.goDomain(step)) {
        <div class="prel slot">
            @Image("menu/Ферма-1.png", 24) Мои владения
            @Thumb("animArrowLeft")(!finished)
        </div>
    }
} }
