@import components.context.GameContext
@()(implicit ctx: GameContext[AnyContent])

@tutorialMain {
    <div class="content center">
        @button("btni", routes.TutorialController.sexAction(0, 'm')) {
            <img src="@routes.Assets.versioned("images/man.png")" width="100" height="111"/>
            <br/>
            <span>Я парень</span>
        }
        @button("btni", routes.TutorialController.sexAction(0, 'f')) {
            <img src="@routes.Assets.versioned("images/woman.png")" width="100" height="111"/>
            <br/>
            <span>Я девушка</span>
        }
    </div>
}
