@import components.context.GameContext
@import util.format._
@()(implicit ctx: GameContext[AnyContent])

@if(!ctx.gameUser.isTutorialCompleted) {
    @defining(ctx.user.tutorial) { tutorial =>
        <div class="center small minor italic">
            Гость @tutorial.level ур.
        </div>
        <div class="content bold center">
            <span class="nobr">
                <img src="@routes.Assets.versioned("images/coin.png")" alt="" title="" width="24" height="24"/>
                @tutorial.coin
            </span>
            <span class="nobr">
                <img src="@routes.Assets.versioned("images/ruby.png")" alt="" title="" width="24" height="24"/>
                @tutorial.ruby
            </span>
            <span>@Image("dustdream.png", 24) @Dust(tutorial.dust)</span>
        </div>
    }
}
