@import components.context.GameContext
@import TutorialController.good3
@import views.html.gameplay.task.Title
@import views.html.tutorial.tutorialMain
@import views.html.tutorial.StatusPanel
@(finished: Boolean)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    @Title()
    <div class="panel mramor">
        <div class="center">
            @Image("reputation/tsar.png", 24) Царь Салтан
        </div>
        <div class="center">
            Избушки на курьих ножках яйца несут. Построй насест, собери 3 яйца и неси их сюда.
        </div>
        <div>
            @Image(good3.image, 36, "portrait fl")

            <div>
            @good3.name
            </div>
            @Block("red", !finished) {0 из 3}
            @Block("green", finished) {3 из 3}
            <div class="cb"></div>
            @Block("center", finished) {
                @button("btni", routes.TutorialController.finishThirdTask(step)) {
                    <div class="prel slot">
                        @Image("checked.png", 24) Сдать яйца
                        @Thumb("animArrowLeft")(true)
                    </div>
                }
            }
        </div>
    </div>
    @StatusPanel()
    @button("btnl", enabled = false) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
    @button("btnl", routes.TutorialController.goDomain2(step)) {
        <div class="prel slot">
            @Image("menu/Ферма-1.png", 24) Мои владения
            @Thumb("animArrowLeft")(!finished)
        </div>
    }
} }
