@import components.context.GameContext
@import controllers.TutorialController.startingSeed
@import views.html.tutorial.tutorialMain
@import views.html.tutorial.StatusPanel
@(bare: Boolean, showNasest: Boolean)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser.tutorialStep) { step =>
@tutorialMain {
    <div class="content center">
        <div class="slot" style="background: url(/assets/images/circle6.png) no-repeat; background-size: 64px auto;">
            @Image(startingSeed.image, 64)
        </div>
        <img src="@routes.Assets.versioned("images/right.png")" width="20" height="64" alt=""/>

        @Block("slot prel mb11", !bare, style="background: url(/assets/images/circle6.png) no-repeat; background-size: 80px auto;") {
            @button("slot", routes.TutorialController.harvestSeed(step)) {
                @Image(startingSeed.image, 80, className="mt")
                <div style="position: absolute; top: 0; right: 0;">@Image("checked.png", 24)</div>
            }
            <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                @button("slot btni", routes.TutorialController.harvestSeed(step)) {3}
            </div>
            @Thumb("animArrowRight_slot")(true)
        }
        @Block("slot prel mb11", bare) {
            <div class="slot">@Image("ground.png", 80, className="mt")</div>
            <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                <span class="slot btni">3</span>
            </div>
        }
    </div>


    @button("btnl", enabled = false) {
        @Image("menu/Ферма-1.png", 24) Огород
    }
    @button("btnl", routes.TutorialController.goPechka(step), enabled = bare) {
        <div class="prel slot">
            @Image("building.png", 24) Волшебная печка
            @Thumb("animArrowLeft")(bare && !showNasest)
        </div>
    }
    @button("btnl", routes.TutorialController.goNasest(step), visible = showNasest) {
        <div class="prel slot">
            @Image("shelter.png", 24) Волшебный насест
            @Thumb("animArrowLeft")(true)
        </div>
    }
    @StatusPanel()
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Мои задания
    }
    @button("btnl", routes.TutorialController.tutorial(step)) {
        @Image("menu/Задания-1.png", 24) Поручения героям
    }
    @button("btnl", enabled = false) {
        <div class="prel slot">
            @Image("menu/Ферма-1.png", 24) Мои владения
        </div>
    }
} }
