@import components.context.GameContext
@import bean.Clan
@import model.ReputationModel
@import util.TimeUtil.formatTime
@(clan: Clan)(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content center">Заключение союза</div>
    <div class="content center minor">
        Внимание, перезаключать союз можно не чаще, чем раз в неделю.
        @for(kd <- clan.allianceChangeCooldown) {
            Следующая смена союза возможна через @formatTime(kd)
        }
    </div>
    @for(rep <- ReputationModel.values) {
        <div class="content">
            @Image(rep.image, 64, "fl portrait")
            <div>@rep.name</div>
            <div class="cb"></div>
        </div>
        @button("btnl", routes.ClanAllianceController.enterAlliance(Some(rep.typeId)),
            enabled = !clan.alliance.contains(rep)) {
            @if(clan.alliance.contains(rep)) {Союз заключён} else {Заключить союз}
        }
    }
    @button("btnl", routes.ClanAllianceController.enterAlliance(None),
        enabled = clan.alliance.nonEmpty) {
        Ни с кем
    }
    <div class="content center small">Заключение союза удваивает получаемую репутацию от союзного владыки и в два раза снижает репутацию от других владык.</div>
    @button("btnl", routes.ClanController.clan(clan.id)) {
        @back() Назад в княжество
    }
}
