@import bean.Clan
@import components.context.GameContext
@import bean.state.ClanRole
@(clan: Clan)(implicit ctx: GameContext[AnyContent])


@defining(ctx.gameUser) {gu =>
@defining(gu.clan.contains(clan) && gu.clanRole == ClanRole.LEADER) { isLeader =>

  @if(isLeader) {

      @button("btnl", routes.ClanAllianceController.alliancePage()) {

          @if(clan.alliance.isEmpty) {
              Заключить союз
          } else {
              @for(al <- clan.alliance) {
                  Заключён союз
                  <span class="fr">@Image(al.image, 24) @al.name</span>
                  <div class="cb"></div>
              }
          }

      }

  } else {

      <div class="center">
      @if(clan.alliance.isEmpty) {
          Княжество ещё не заключило ни с кем союз.
      } else {
          @for(al <- clan.alliance) {
              Заключён союз @Image(al.image, 24) @al.name
          }
      }
      </div>

  }


}

}
