@import components.context.GameContext
@import bean.Clan
@import dao.BillingDAO
@import components.PagingModel
@import model.rating.RatingType
@import bean.Avatar
@import model.rating.Rating
@import util.format._
@(clan: Clan, rating: Rating, pg: PagingModel[(Avatar, Long)], currentRatingType: RatingType)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) { gu =>
@defining(BillingDAO().getPaymentSum(gu.id) >= 500) {enoughPayments =>
@defining(clan.timePassedTobeTrueMember(gu.clanJoinTime)) {daysLimitPassed =>
@defining(gu.todayFunded) {todayRubies =>
@defining(clan.bankLimit - clan.clanMoney().rubies) {leftToLimit =>
@main {
    @Block("content center feedback", leftToLimit <= 0) {
        Достигнут лимит кассы княжества
    }
    <div class="content center">
        Касса: @Image("ruby.png", 24) @Ruby(clan.clanMoney().rubies)
    </div>
    @button("btnl womb flat-bottom", enabled = false) {
        @Arrow(up = true) @currentRatingType.name
    }
    <div class="panel mramor flat-top">
        @for((avatar, ratingVal) <- pg.page) {
            @rating.getPosition(avatar.id)@Html(".") @AvatarPanel(avatar)
            <div class="fr">@ratingVal</div>
            <div class="cb"></div>
        }
        @Paginator(pg)
    </div>
    @for(rt <- RatingType.clanBankRatings.filterNot(_ == currentRatingType)) {
        @button("btnl", routes.CashDeskController.cashDeskPage(clan.id, 0, Some(rt.typeId))) {
            @Arrow(up = false) @rt.name
        }
    }
    @Block("content center minor", !enoughPayments && !daysLimitPassed) {
        Пополнять кассу можно после 3 дней пребывания в княжестве.
    }
    @Block("content center minor", !enoughPayments && daysLimitPassed && todayRubies > 0) {
        Внести в кассу можно не более 10 рубинов в сутки. Для снятия этого ограничения необходимо купить 500 рубинов.
        Вы сегодня внесли @todayRubies
    }
    @button("btnl", routes.CashDeskController.fund1Ruby(clan.id),
        visible = (enoughPayments || (daysLimitPassed && todayRubies < 10)) && leftToLimit >= 1) {
        Внести @Image("ruby.png", 24) @Ruby(1) рубин
    }
    @button("btnl", routes.CashDeskController.fund10Rubies(clan.id),
        visible = (enoughPayments || (daysLimitPassed && todayRubies <= 0)) && leftToLimit >= 10) {
        Внести @Image("ruby.png", 24) @Ruby(10) рубинов
    }
    @button("btnl", routes.CashDeskController.fund100Rubies(clan.id), visible = enoughPayments && leftToLimit >= 100) {
        Внести @Image("ruby.png", 24) @Ruby(100) рубинов
    }
    @button("btnl", routes.CashDeskController.fund1000Rubies(clan.id), visible = enoughPayments && leftToLimit >= 1000) {
        Внести @Image("ruby.png", 24) @Ruby(1000) рубинов
    }
    @button("btnl", routes.CashDeskController.fund10000Rubies(clan.id), visible = enoughPayments && leftToLimit >= 10000) {
        Внести @Image("ruby.png", 24) @Ruby(10000) рубинов
    }
    @button("btnl", routes.ClanController.clan(clan.id)) {
        @back() В княжество
    }
} } } } } }
