@import components.context.GameContext
@import components.PlayComponentsHolder
@import bean.Clan
@import util.TimeUtil.formatTime
@(clan: Clan, frm: Form[(String, String)])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    @formMessages(frm)
    <div class="content center h1">Рассылка</div>
    <div class="content">
        @form(action = routes.ClanManagementController.sendNotice()) {
            @inputText(frm("title"), args('_label -> Html("Заголовок")) : _*)
            @textarea(frm("text"), args('_label -> "Текст") :+ 'rows -> 5 : _*)
            <div class="center">
                <input type="submit" class="btni"/>
            </div>
        }
    </div>
    <div class="content center minor">
        Рассылку можно проводить 1 раз в час.
        @for(nextTime <- clan.nextNoticement) {
            <br/>Следующий раз, через @formatTime(nextTime)
        }
    </div>
    @button("btnl", routes.ClanController.clan(clan.id)) {
        @back() Назад
    }
}
