@import components.context.GameContext
@import controllers.helpers.ChatInfo
@import views.html.gameplay.clan.MessagesList
@import components.PlayComponentsHolder
@import bean.GameUser.GameUserOps
@import model.BBCode.AVAILABLE_BB_CODES
@import util.SmilesUtil
@(info: ChatInfo, messageForm: Form[String])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{PlayComponentsHolder.messagesApi.preferred(ctx)}

@main {
    @formMessages(messageForm)
    <div class="content">
        <span class="enabled big">Чат княжества</span>
        @button("fr", routes.ChatController.chatPage(info.clanId, info.pg.currentPage)) {
            @Image("refresh_grey.png", 24)
        }
        <div class="cb"></div>
    </div>
    @Block("content", !ctx.user.isBanned || ctx.user.isAdminOrSupporter) {
        @form(routes.ChatController.chatPost(info.clanId, info.pg.currentPage)) {
            <div>@textarea(messageForm("text"), 'rows -> 5)(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)</div>
            <div class="center">
                <input type="submit" class="btni" value="Написать"/>
                @BBCodesPanel(info.canUseBBCodes(ctx.gameUser), "text", AVAILABLE_BB_CODES)
                @SmilesPanel(true, "text", SmilesUtil.getInstance().getSmiles)
            </div>
        }
    }
    <div class="content">
        @MessagesList(info)
    </div>
    @button("btnl", routes.ChatController.toggleModerate(info.clanId, info.pg.currentPage),
        visible = info.clan.chat().canModerate(ctx.gameUser)) {
        @Arrow(ctx.settings.chatModerationMode) Модерировать
    }
    @button("btnl", routes.ClanController.clan(info.clanId)) {
        @back() Назад в княжество
    }
}
