@import components.context.GameContext
@import bean.Clan
@import bean.state.ClanRole
@import model.rating.RatingType
@import components.PagingModel
@import bean.GameUser
@import model.price.Currency
@import views.html.gameplay.clan.AlliancePanel
@import util.format.Ruby
@import util.PlusUtil
@import bean.Settings
@import model.ReputationModel
@import util.format._
@import model.clan.ClanBonus
@(clan: Clan, pg: PagingModel[GameUser])(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ctx.settings)) {case (gu: GameUser, settings: Settings) =>
@main {

    <div class="h1">@clan.name @clan.level ур.</div>
    @AlliancePanel(clan)
    @defining(settings.clanMembersShown) { isVisible: Boolean =>

        @* члены княжества *@
        <div>
            @button("btnl " + (if(isVisible) "womb flat-bottom" else ""),
                routes.ClanController.clanMembersPanelToggle(clan.id)) {
                @Arrow(isVisible) Члены княжества
                <span class="fr">@clan.members.size / @clan.maxMembers</span>
                <div class="cb"></div>
            }

            @* панель членов*@
            @if(isVisible) {
                <div class="panel flat-top womt brus">
                @for(member <- pg.page) {
                    <div>
                        @AvatarPanel(member.avatar) - <span class="enabled">@member.clanRole.name</span>, @member.level ур
                        @defining(pg.currentPage) { p: Int =>
                            <span class="fr">
                                @button("", routes.ClanController.clanMemberPromote(member.id, p),
                                    visible = ctx.gameUser.canPromote(member)) {
                                    @Image("arrow_up_green.png", 24)
                                }
                                @button("", routes.ClanController.clanMemberMakeLiader(member.id, None, p),
                                    visible = ctx.gameUser.canMakeLeader(member)) {
                                    @Image("arrow_up_green.png", 24)
                                }
                                @button("", routes.ClanController.clanMemberDemote(member.id, p),
                                    visible = ctx.gameUser.canDemote(member)) {
                                    @Image("arrow_down_green.png", 24)
                                }
                                @button("", routes.ClanController.clanMemberKick(member.id, None, p),
                                    visible = ctx.gameUser.canKick(member)) {
                                    <span class="pl8">@Image("cross_red.png", 24)</span>
                                }
                            </span>
                        }
                        <div class="cb"></div>
                    </div>
                }
                </div>
                <div>@Paginator(pg)</div>
            }

            @for(price <- clan.membersCountUpgradePrice) {
                @button("btnl", routes.CashDeskController.upgradeMembersCount(clan.id),
                    visible = clan.allowedUpgradeMembersLimit(gu)) {

                    Увеличить макс. количество членов
                    <span class="fr">@Image("ruby.png", 24) @Ruby(price.value)</span>
                    <div class="cb"></div>
                }
            }
        </div>

        @button("btnl", routes.CashDeskController.cashDeskPage(clan.id),
            visible = gu.clan.exists(_.id == clan.id) || gu.user.isAdminOrSupporter) {
            Касса
            <span class="fr">@money(clan.clanMoney().rubies, Currency.Ruby)</span>
            <div class="cb"></div>
        }

        @button("btnl", routes.RubyMineController.rubyMine(), visible = gu.clan.exists(_.id == clan.id)) {
            Рубиновая шахта
            @if(gu.allowClaimRubyMine && clan.getAllowedRubiesInMine > 0) {
                <span class="fr">(@clan.getAllowedRubiesInMine)</span>
                <div class="cb"></div>
            }
        }
        @button("btnl", routes.ClanManagementController.manageClan(), visible = clan.checkRoles(gu, ClanRole.LEADER, ClanRole.preLeader)) {
            Рассылка
        }
        @button("btnl", routes.ForumController.forumMain(Some(clan.id)), plus = gu.clan.exists(c => c.id == clan.id && PlusUtil.clanNewForumMessages(gu)) ) {
            @Image("forum.png", 24) Форум
        }

        @button("btnl", routes.ChatController.chatPage(clan.id), visible = gu.clan.exists(_.id == clan.id)) {
            Чат княжества
            @if(PlusUtil.clanChatPlus(gu)) {
                <span class="fr">@Image("plus1.png", 24)</span>
                <div class="cb"></div>
            }
        }

        @button("btnl", routes.RatingController.clanRatingPage(RatingType.CLAN_INNER_EXP.typeId, clan.id)) {
            @Image("achievement.png", 24) Рейтинги
        }

        @* Подать заявку *@
        @button("btnl", routes.ClanController.clanSendRequest(clan.id),
            visible = ctx.gameUser.canSendClanRequest) {
            @Image("peoples.png", 24) Оставить заявку
        }

        @* Все заявки *@
        @button("btnl", routes.ClanController.clanOffersPage(clan.id),
            visible = clan.checkRoles(ctx.gameUser, ClanRole.LEADER, ClanRole.OFFICER), plus = gu.clan.exists(c => c.id == clan.id) && PlusUtil.clanRequestPlus(gu)) {

            @Image("peoples.png", 24) Заявки на вступление
        }
        @button("btnl", routes.ClanBonusesController.clanBonuses(clan.id), visible = gu.checkRole(clan, ClanRole.LEADER)) {
            Улучшения
        }
        @button("btnl " + (if(settings.clanDetailsShown) "womb flat-bottom" else ""), routes.ClanController.toggleDetails(clan.id)) {
            @Arrow(settings.clanDetailsShown) Подробности
        }
        @Block("panel flat-top womt brus", settings.clanDetailsShown) {
            <div>
                Дата создания:
                <span class="fr">@config.DATE_ONLY_FORMAT.format(clan.creationTime)</span>
                <div class="cb"></div>
            </div>
            <div>
                Общий опыт:
                <span class="fr">@clan.expTotal</span>
                <div class="cb"></div>
            </div>
            <div>
                Опыт до сл. уровня:
                <span class="fr">@clan.expCurrent / @util.ExpMoneyUnits.experienceToNextClanLevel(clan.level)</span>
                <div class="cb"></div>
            </div>
            <div class="row">
                Бонус к опыту героев:
                <span class="fr">@app.formatDouble(clan.heroBonus * 100)%</span>
                <div class="cb"></div>
            </div>
            @if(clan.reputationValues.nonEmpty) {
                <div>
                    <span class="minor">Репутация:</span>
                    @for((repId, value) <- clan.reputationValues.asImmutableMap) {
                        @defining(ReputationModel.withType(repId)) { rep: ReputationModel =>
                            <div>
                                @rep.name
                            <span class="fr">@Image(rep.image, 16) @Exp(value)</span>
                                <div class="cb"></div>
                            </div>
                        }
                    }
                </div>
            }
            @if(clan.bonuses.exists(_._2 > 0)) {
                <div class="row"></div>
                <div>
                    <span class="minor">Улучшения:</span>
                    @for((id, lvl) <- clan.bonuses if lvl > 0) {
                        @defining(ClanBonus.find(id).get) {bonus: ClanBonus =>
                          <div>
                              @bonus.name
                              <span class="fr bold">@bonus.formatValue(clan.valueOf(bonus))</span>
                              <div class="cb"></div>
                          </div>
                        }
                    }
                </div>
            }
        }
        @button("btnl", routes.ClanController.history(clan.id), visible = gu.clan.exists(_.id == clan.id)) {
            Журнал
        }
        @button("btnl", routes.ClanController.leaveClan(), visible = clan.checkRoleNot(gu, ClanRole.LEADER)) {
            @Image("door.png", 24) Покинуть княжество
        }
    }
} }
