@import bean.Offer
@import components.context.GameContext
@import components.PlayComponentsHolder

@(clanId: Int, offers: Iterable[Offer], frm: Form[Boolean])(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    @formMessages(frm)
    <div class="center panel mramor">
        @if(offers.isEmpty) {
            <div class="content">Пока нет заявок</div>
        }

        @for(offer <- offers) {
            <div>
                @defining(offer.candidate.avatar) { candidate =>
                    <div>
                        @if(offer.isOffer) {
                            @defining(offer.master.get.avatar) { master =>
                                @AvatarPanel(master) @master.ifFemale("отправила", "отправил") приглашение для
                            }
                        }
                        @AvatarPanel(candidate)
                        @if(!offer.isOffer) {
                            просит о принятии в княжество
                        }
                    </div>
                }
                <div>
                    @button("btni", routes.ClanController.clanAcceptOffer(offer.id), visible = offer.isRequest) {
                        Принять
                    }
                    @button("btni", routes.ClanController.clanDeclineOffer(offer.id)) {
                        @if(offer.isOffer) { Удалить } else { Отклонить }
                    }
                </div>
            </div>
        }
    </div>
    @form(routes.ClanController.clanRequestsDisabledToggle(clanId)) {
        @checkbox(frm("req_dis"), args: _*)(FieldConstructor(FieldConstructorSimple(_)), implicitMessages)
        Заявки не принимаются. Мы сами высылаем приглашения в княжество.
        <div class="center"><input class="btni" type="submit" value="Сохранить"></div>
    }
    @button("btnl", routes.ClanController.clan(clanId)) {
        @back() Назад
    }
}
