@import components.context.GameContext
@import components.PagingModel
@import bean.ClanHistoryRecord
@import bean.Clan
@import bean.state.ClanHistoryRecordType._
@import bean.state.ClanHistoryRecordType
@import bean.Avatar
@import config.DATE_FORMAT_DETAILED
@import bean.state.ClanRole
@(clan: Clan, pg: PagingModel[ClanHistoryRecord])(implicit ctx: GameContext[AnyContent])

@main {
    <div class="content">
        @for(rec <- pg.page) {
            <div>
                @rec.recType() match {
                    case CREATION => {
                        @defining(rec.actor().avatar) { actor: Avatar =>
                            <span>
                                @AvatarPanel(actor)
                                @if(actor.isFemale) {создала} else {создал}
                                княжество
                            </span>
                        }
                    }
                    case USER_IN => {
                        @defining((rec.actor().avatar, rec.target().get.avatar)) { case (actor: Avatar, target: Avatar) =>
                            <span>
                                @AvatarPanel(actor)
                                @if(actor.isFemale) {приняла} else {принял}
                                @AvatarPanel(target) в княжество
                            </span>
                        }
                    }
                    case USER_OUT => {
                        @defining(rec.actor().avatar) { actor: Avatar =>
                            <span>
                                @AvatarPanel(actor)
                                @if(actor.isFemale) {покинула} else {покинул}
                                княжество
                            </span>
                        }
                    }
                    case USER_KICKED => {
                        @defining((rec.actor().avatar, rec.target().get.avatar)) { case (actor: Avatar, target: Avatar) =>
                            @AvatarPanel(actor)
                            @if(actor.isFemale) {исключила} else {исключил}
                            из княжества @AvatarPanel(target)
                        }
                    }
                    case ROLE_UP => {
                        @defining((rec.actor().avatar, rec.target().get.avatar, ClanRole(rec.role().get))) { case (actor: Avatar, target: Avatar, role: ClanRole) =>
                        <span>
                            @AvatarPanel(actor)
                            <span class="enabled">@if(actor.isFemale) {повысила} else {повысил}</span>
                                @AvatarPanel(target) до
                            <span class="enabled">@role.name</span>
                        </span>
                        }
                    }
                    case ROLE_DOWN => {
                        @defining((rec.actor().avatar, rec.target().get.avatar, ClanRole(rec.role().get))) { case (actor: Avatar, target: Avatar, role: ClanRole) =>
                            <span>
                                @AvatarPanel(actor)
                                <span class="enabled">@if(actor.isFemale) {понизила} else {понизил}</span>
                                @AvatarPanel(target) до
                                <span class="enabled">@role.name</span>
                            </span>
                        }
                    }
                    case OWNER_CHANGED => {
                        @defining((rec.actor().avatar, rec.target().get.avatar)) {case (actor: Avatar, target: Avatar) =>
                            <span>
                                @AvatarPanel(actor)
                                @if(actor.isFemale) {сменила} else {сменил}
                                владельца на
                                @AvatarPanel(target)
                            </span>
                        }
                    }
                    case RENAME => {
                        <span>rename</span>
                    }
                    case USER_LEFT => {
                        @defining(rec.actor().avatar) { actor: Avatar =>
                            <span>
                                @AvatarPanel(actor)
                                @if(actor.isFemale) {покинула} else {покинул}
                            княжество
                            </span>
                        }
                    }
                }
                <span class="minor">@rec.date.map(ts => DATE_FORMAT_DETAILED.format(new java.util.Date(ts)))</span>
            </div>
        }
        @Paginator(pg)
        @button("btnl", routes.ClanController.clan(clan.id)) {
            @back() Назад
        }
    </div>
}
