@import bean.Clan
@import components.context.GameContext
@import components.PagingModel
@import model.rating.RatingType
@import model.ReputationModel
@import model.rating.Rating
@(pg: PagingModel[(Clan, Long)], rt: RatingType, rating: Rating, rep: Option[ReputationModel])(implicit ctx: GameContext[AnyContent])

@defining(rep.map(rep => Image(rep.image, 24)).getOrElse(Image(rt.image, 24))) {currImg =>
@main {

    <div class="content center">
        Рейтинг по
        @currImg
        @rt.name
        @for(reputation <- rep) {с @reputation.name_tv}
    </div>
    @Block("panel brus", pg.nonEmpty) {
        @for((clan, value) <- pg.page) {
            <div>
                @(rating.getPosition(clan.id) + ".")
                @button("", routes.ClanController.clan(clan.id)) {
                    @clan.name
                }
                <span class="fr">@currImg @value</span>
                <div class="cb"></div>
            </div>
        }
    }
    @if(pg.isEmpty) {
        <div class="content center">Рейтинг пересчитывается</div>
    }
    @Paginator(pg)
    @button("btnl", routes.ClanController.clanCreatePage(), visible = !ctx.gameUser.isInClan) {
        @Image("clan.png", 24) Создать княжество
    }
    @defining(RatingType.CLAN_LEVEL_EXP) { rating =>
        @button("btnl", routes.RatingController.clanList(Some(rating.typeId)),
            enabled = rt != rating) {
            @Image(rating.image, 24) Рейтинг по уровню княжеств
        }
    }
    @defining(RatingType.CLAN_ALLIANCE) { rating =>
        @for(repModel <- ReputationModel.entries) {
            @button("btnl", routes.RatingController.clanList(Some(rating.typeId), Some(repModel.typeId)),
                enabled = rt != rating || !rep.contains(repModel)) {
                @Image(repModel.image, 24) Рейтинг по союзам с @repModel.name_tv
            }
        }
    }
    @button("btnl", routes.SearchController.search()) {
        @Image("search.png",24) Поиск княжества
    }
} }
