@import components.context.GameContext
@import components.PlayComponentsHolder
@import model.price.Price
@(clanForm: Form[String], clanPrice: Price)(implicit ctx: GameContext[AnyContent])

@import views.Helper.args
@import views.html.helper._
@implicitMessages = @{ PlayComponentsHolder.messagesApi.preferred(ctx) }

@main {
    <div class="h1 content">Создание княжества</div>
    @formMessages(clanForm)
    <div class="center content">
        @form(action = routes.ClanController.clanCreate()) {
            @inputText(clanForm("name"), args('_label -> "Название княжества") : _*)
            <input class="btni" type="submit" value="Задать" >
        }
        <div>Стоимость княжества @price(clanPrice)</div>
    </div>
}
