@import components.context.GameContext
@import model.clan.ClanBonusRegistry
@import model.clan.ClanBonus
@import util.TimeUtil.formatTime
@(clanBonusRegistry: ClanBonusRegistry)(implicit ctx: GameContext[AnyContent])

@main {
    <div class="panel brus">

        <div class="center row">
            @button("fl", routes.ClanController.clan(clanBonusRegistry.clan.id)) {
                @Image("back.png", 24)
            }
            Печатей свободно: @Image("stamp.png", 24) @clanBonusRegistry.pointsRest из @clanBonusRegistry.clan.stamps
            @button("fr", routes.ClanBonusesController.toggleDetails(clanBonusRegistry.clan.id)) {
                @Image("info.png", 24)
            }
            <div class="cb"></div>
        </div>

        @for(bonus <- ClanBonus.getAll) {
            <div class="row">
                <span class="fl">@bonus.name:</span>
                <span class="fr">
                    <sapn class="bold">@clanBonusRegistry.formattedString(bonus)</sapn>
                    @button("", routes.ClanBonusesController.increment(clanBonusRegistry.clan.id, bonus.typeId),
                        visible = clanBonusRegistry.isEditing && bonus.maxLevel > clanBonusRegistry.currentLevel(bonus)) {
                        @Image("plus1.png", 16)
                    }
                    @if(clanBonusRegistry.isEditing) {
                        [
                            @bonus.formatValue(bonus.value(clanBonusRegistry.currentLevel(bonus) + 1)) за
                            @Image("stamp.png", 24) @bonus.price(clanBonusRegistry.currentLevel(bonus) + 1)
                        ]
                    }
                </span>
                <div class="cb"></div>
                @if(ctx.settings.clanBonusesDetails) {
                    <div class="minor small">@bonus.desc</div>
                    <div class="center" style="background: url(assets/images/delim/1.png) no-repeat center;
                        background-size: 240px auto;
                        padding: 10px;
                        margin-bottom: 4px;"></div>
                }
            </div>
        }
        <div class="center">
            @button("btni", routes.ClanBonusesController.edit(clanBonusRegistry.clan.id), visible = !clanBonusRegistry.isEditing) {
                Управление
            }
            @button("btni", routes.ClanBonusesController.commit(clanBonusRegistry.clan.id), visible = clanBonusRegistry.isEditing) {
                Сохранить
            }
            @button("btni", routes.ClanBonusesController.clear(clanBonusRegistry.clan.id), visible = clanBonusRegistry.isEditing) {
                Перераспределить
            }
            @button("btni", routes.ClanBonusesController.cancel(clanBonusRegistry.clan.id), visible = clanBonusRegistry.isEditing) {
                Отмена
            }
        </div>
        <div class="center enabled">
            Перераспределять печати можно раз в неделю.<br/>
            @if(!clanBonusRegistry.clan.canRedistributeBonuses) {
                Перераспределить очки можно будет через
                @clanBonusRegistry.clan.bonusRedistTime.map(config.CLAN_BONUS_REDIST_PERIOD - ctx.since + _).map(formatTime).getOrElse("")
            }
        </div>
    </div>
    @for(pr <- clanBonusRegistry.clan.stampPrice) {
        @button("btnl", routes.ClanBonusesController.buyStamp(clanBonusRegistry.clan.id)) {
            <span class="fl">Купить печать</span>
            <span class="fr">@Image("ruby.png", 24) <span class="bold">@pr.value</span></span>
            <div class="cb"></div>
        }
    }
}
