@import components.context.GameContext
@import controllers.helpers.ChatInfo
@(info: ChatInfo)(implicit ctx: GameContext[AnyContent])

<div>
    @for(minfo <- info.messages) {
        <div class="message">
            <div>
                @AvatarPanel(minfo.author) <span class="minor">@minfo.time назад</span>
                <span class="fr">
                    @button("", visible = minfo.author != ctx.user.avatar && !ctx.user.isBanned,
                        action = routes.ChatController.chatPage(info.clanId, info.pg.currentPage, Some(minfo.author.id))) {
                        @Image("reply.png", 24)
                    }
                    @button("", visible = minfo.canDelete && ctx.settings.chatModerationMode,
                        action = routes.ChatController.deleteMessage(minfo.id, info.pg.currentPage)) {
                        @Image("cross_red.png", 24)
                    }
                </span>
                <div class="cb"></div>
            </div>
            <div class="@minfo.author.textCssClass">@Html(minfo.text)</div>
        </div>
    }
    @if(info.messages.isEmpty) {
        <div class="content center">В чате пока нет сообщений.</div>
    }
    @Paginator(info.pg)
</div>
