@import components.context.GameContext
@import bean.Clan
@import util.RuGrammar.rubiesBought
@import util.format._
@(clan: Clan)(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu =>
@main {
    <div class="content center">
        Каждый день шахта приносит @Image("ruby.png", 24) @Ruby(clan.getMaxAllowedRubiesInMine)
            @rubiesBought(clan.getMaxAllowedRubiesInMine)
        @button("btni", routes.RubyMineController.claim(), enabled = clan.getAllowedRubiesInMine > 0,
            visible = gu.allowClaimRubyMine) {
            Зачислить в кассу @Image("ruby.png", 24) @Ruby(clan.getAllowedRubiesInMine)
        }
        @Block("minor", !gu.allowClaimRubyMine) {
            Сейчас доступно @Image("ruby.png", 24) @Ruby(clan.getAllowedRubiesInMine)
        }
    </div>
    @for(price <- clan.rubyMineUpgradePrice) {
        @button("btnl", routes.RubyMineController.upgradeRubyMine(), visible = gu.allowUpgradeRubyMine) {
            Улучшить рубиновую шахту
            <span class="fr">@Image("ruby.png", 24) @Ruby(price.value)</span>
            <div class="cb"></div>
        }
    }
    @if(clan.rubyMineUpgradePrice.isEmpty) {
        <div class="content center small minor">Улучшить шахту можно будет на следующем уровне княжества.</div>
    }
    @button("btnl", routes.ClanController.clan(clan.id)) {
        @back() Княжество
    }
} }
