@import model.BBCode
@(visible: Boolean, fieldId: String, codes: Iterable[BBCode])
@if(visible) {
<a class="btnl" onclick="toggle('bbCodesPanel');" style="cursor: pointer;">BB коды</a>
<div id="bbCodesPanel" style="display: none;">
    @for(code <- codes) {
        <span class="center row-item btni" style="margin: 2px 2px; padding: 4px; min-width: 28px;" onclick="addCode('@fieldId', '@code.getTemplate');">
            <span>@Html(code.getName)</span>
        </span>
    }
</div>}
