@(clazz: String, action: => Call = null, enabled: => Boolean = true, visible: => Boolean = true, style: String = "", plus: Boolean = false)(content: =>Html)
@if(visible) {
    @if(enabled) {<a href="@action.unique()" class="@clazz" style="@style">
            @if(plus) {
                <span class="fr">@Image("plus1.png", 24)</span>
            }
            @content</a>} else {<span class="@clazz" style="@style">@content</span>}
}
