@(path: String, txt: String = "")
<div style="position: relative; display: inline-block; height: 23px; width: 30px;">
    <img src="@routes.Assets.versioned("images/" + path)"
        width="40" height="24" alt="" title=""
        style="position: absolute; top: 0; left: 3px"/>
</div><span>@{Html(txt)}</span>
