@(css: String = "feedback")(content: Html)
<div class="@css">
    <img class="portrait fl" src="@routes.Assets.versioned("images/elder.png")" width="100" height="100" alt="старец" title=""/>
    @content
    <div class="cb"></div>
</div>