@(elements: helper.FieldElements)

<dl class="@elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.getOrElse('_id, elements.id + "_field")">
    <dd>@elements.input</dd>
    @elements.errors.map { error =>
        <dd class="error">@error</dd>
    }
    @elements.infos.map { info =>
        <dd class="info">@info</dd>
    }
</dl>
