@import components.context.PlayContext
@import views.html.misc.FeedbackComponent
@import util.PlusUtil
@(pageName: String = "")(content: Html)(implicit ctx: PlayContext[AnyContent])
@base(ctx.windowWidth.value, title = ctx.getName) {
    @ProgressBar(ctx.exp, ctx.gameUserOptional.exists(_.isTutorialCompleted))
    @for(content <- ctx.newsFeedback() if !ctx.victoryFeedbackShown) {
        @content
    }
    @if(ctx.showNewMessagesFeedback) {
        <div class="feedback center">
            <div>@Image("mail_yellow.png", 24) Новая почта</div>
            <div>
                @button("btni", routes.DialogsController.dialogsPage()) {читать}
                @button("btni", routes.DialogsController.hideNewMessagesFeedback()) {скрыть}
            </div>
        </div>
    }
    @if(ctx.victoryFeedbackShown) {
        <div class="feedback center">
            @Image("redstar.png", 48)<br/>
            <div class="row">С днем Великой Победы!<br/>
                Помним подвиг советского народа и красной армии отстоявших мир и свободу для всего человечества!</div>
            @button("btni", routes.UserController.getVictoryDayGift()) {
                +50 @Image("ruby.png", 16) +1000 @Image("dustdream.png", 16)
            }
        </div>
    }
    @if(ctx.gameUserOptional.exists(_.isTutorialCompleted)) {
        @FeedbackComponent()
    }
    @views.html.notification.Panel()
    @content
    @StatusPanel(pageName)
    @if(ctx.gameUserOptional.exists(_.isTutorialCompleted)) {
        @MainMenu()
    }
    <div class="foot center">

        @for(user <- ctx.userOptional; avatar <- ctx.avatarOptional if user.isOdnoklassnikiUser && avatar.isAnonymous) {
            <div>
            @button("btni", routes.SettingsController.changeRegData(2)) {
                задать Имя
            }
            </div>
            <div class="foot"></div>
        }
        @for(avatar <- ctx.avatarOptional) {
            <div>
                @for(gu <- ctx.gameUserOptional; clan <- gu.clan) {
                    @tab("btni", routes.ClanController.clan(clan.id)) {
                        @if(PlusUtil.clanPlus(gu)) {
                            @Image("plus1.png", 24)
                        } else {
                            @Image("clan.png", 24)
                        }
                    }
                }
                @button("btni", routes.DialogsController.dialogsPage()) {
                    @if(ctx.userOptional.exists(_.newMessagesCount > 0)) {
                        @Image("mail_yellow.png", 24)
                    } else {@Image("mail_white.png", 24)}
                }
                @button("btni", routes.ForumController.forumMain()) {
                    @Image("forum.png", 24)
                }
                @tab("btni", routes.ProfileController.profilePage(ctx.userIdOptional)) {
                    @Image(avatar.image, 24)
                }
            </div>
        }
        @*шаги туториала*@
        @if(ctx.isDevEnvironment) {
            <div>@ctx.gameUserOptional.map(_.tutorialStep)</div>
        }

        <div class="foot"></div>
        @if(ctx.isLoggedIn) {
            @for(gameUser <- ctx.gameUserOptional; user <- ctx.userOptional) {
                @if(ctx.gameUserOptional.exists(_.isTutorialCompleted)) {
                    <div>
                        @tab("", routes.TicketsController.helpPage()) {Техподдержка} |
                        @tab("", routes.SettingsController.settings()) {Настройки} |
                        @tab("", routes.SearchController.search()) {Найти} |
                        @tab("", routes.Application.rules()) {Правила}
                    </div>
                } else {
                    @button("link minor", routes.Application.begin()) {В начало}
                }
                @if(user.isAdminOrSupporter) {
                    @tab("", routes.AdminController.spamPage()) {<span style="color: #8CD41E;">Спам</span>} |
                    @tab("", routes.TicketsController.ticketsPage()) {<span style="color: #8CD41E">Заявки</span>}
                }
            }
        }
        @if(!ctx.isLoggedIn) {
            @button("", routes.Application.quickStart()) {
                Быстрый старт
            } |
            @tab("", routes.ForgotController.forgot()) {
                Забыли пароль?
            }
        }
        <div>Онлайн-игра @ctx.getName</div>
        <div>Сайт игры <a href="http://@ctx.domain" class="minor link">@ctx.domain</a></div>

        @if(ctx.domain.contains("skazka.mobi")) {
            <div>
                <a class="btni" href="http://mgames.mobi">@Image("logo_32.png", 16) Мобильные онлайн игры</a>
            </div>
        }

        <div class="foot normal">@ctx.systemTime</div>

        @if(ctx.getDomain.contains("lukomor.mobi") || ctx.getDomain.contains("localhost")) {
            <div class="foot">
                @ctx.mobtopCounter
            </div>
        }
        <div class="small foot">@ctx.requestTime ms.</div>
    </div>
}
