@import components.context.PlayContext
@()(implicit ctx: PlayContext[AnyContent])
@main {
    @TitleImage(ctx.getLogo)
    <div class="content">
        <div class="center">
            А что, если бы можно было не стареть, покорять любого своим умом и красотой,
            наживать несметные богатства и никогда не скучать? Похоже на сказку?
            Лукоморье и есть эта сказка! Сказка - ложь, да в ней намёк...
        </div>
    </div>
    @button("btnl center", routes.Application.game()) {
        Начать игру
    }
    @button("btnl center", routes.RegistrationController.registration()) {
        Регистрация
    }
    @button("btnl center", routes.LoginController.login()) {
        Вход
    }
}
