@import components.context.PlayContext
@import util.PlusUtil.{barnPlus, chestsPlus, domainPlus, tasksPlus, heroesPlus, rubiesPlus, missionsPlus, labPlus}
@import bean.GameUser
@import dao.ActionDAO
@import model.action.ActionType
@()(implicit ctx: PlayContext[AnyContent])


@defining(ctx.gameUserOptional) { gu: Option[GameUser] =>
    <div>
        @tab("btnl", routes.TaskController.taskList(), plus = gu exists tasksPlus) {
            @Image("menu/Задания-1.png", 24) Мои задания
        }

        @tab("btnl",
            if(gu exists missionsPlus) routes.MissionController.inProgressList() else routes.MissionController.missionList(),
            plus = gu exists missionsPlus) {
            @Image("menu/Задания-1.png", 24) Поручения героям
        }

        @tab("btnl", routes.OgorodController.ogorodPage(), visible = gu.exists(_.level >= config.FARM_LEVEL), plus = gu exists domainPlus) {
            @Image("menu/Ферма-1.png", 24) Мои владения
        }
        @tab("btnl", routes.BarnController.barnPage(), visible = gu.exists(_.level >= 4), plus = gu exists barnPlus) {
            @Image("menu/Инвентарь-1.png", 24) Амбар
        }
        @MainMenuButton(config.LABORATORY_LEVEL, "Лаборатория", "laboratory.png", routes.LabController.labPage(), plus = gu exists labPlus)
        @MainMenuButton(4, "Герои", "menu/Герои-1.png", routes.HeroController.heroList(), plus = gu exists heroesPlus)
        @MainMenuButton(4, "Рынок", "menu/Магазин-1.png", routes.ShopController.shopPage())
        @MainMenuButton(4, "Княжества", "clan.png", routes.RatingController.clanList())
        @MainMenuButton(4, "Город", "peoples.png", routes.Application.city())
        @tab("btnl", routes.BuffController.buffs(), visible = gu.exists(_.level >= config.BUFFS_LEVEL)) {
            @Image("ability-max.png", 24) Магазин
            @if(gu.exists(_.startingBuffEarned == false)) {
                <span class="fr">@Image("checked.png", 24)</span>
                <div class="cb"></div>
            }
            @*баффы*@
            @for(user <- gu) {
                <span class="fr">
                    @for(buff <- user.buffs.values if buff.isActive) {
                        @Image(buff.buffType.image, 24)
                    }
                </span>
                <div class="cb"></div>
            }
        }
        @tab("btnl", routes.RubiesController.rubiesPage()) {
            @Image("ruby.png", 24) Рубины
            @if(gu.exists(rubiesPlus)) {
                <span class="fr">@Image("plus1.png", 24)</span>
                <div class="cb"></div>
            } else {
                @if(ActionDAO(ctx.hibernateSession).getCurrentAction.exists(_.typeId != ActionType.ACTION_OFF.typeId)) {
                    <span class="fr bold minor">Акция</span>
                    <div class="cb"></div>
                }
            }
        }
    </div>
}
