@import model.price.Currency
@import util.format._
@(amount: Long, currency: Currency)

@currency match {
    case Currency.Ruby => {
        @Image("ruby.png", 24) <span class="bold">@Ruby(amount)</span>
    }

    case Currency.Coin => {
        @Image("coin.png", 24) <span class="bold">@Coin(amount)</span>
    }

    case Currency.Dust => {
        @Image("dustdream.png", 24) <span class="bold">@Dust(amount)</span>
    }
}

