@import components.context.GameContext
@import model.price.{CoinPrice, Price, RubyPrice, DustPrice}
@import util.format._
@(price: Price, size: Int = 24)(implicit ctx: GameContext[AnyContent])
<span class="nobr">
    @price match {
        case p: CoinPrice => {
            @Image("coin.png", size) <span class="@if(!ctx.gameUser.canBuy(price)){red}">@Coin(price.value)</span>
        }
        case p: RubyPrice => {
            @Image("ruby.png", size) <span class="@if(!ctx.gameUser.canBuy(price)){red}">@Ruby(price.value)</span>
        }
        case p: DustPrice => {
            @Image("dustdream.png", size) <span class="@if(!ctx.gameUser.canBuy(price)){red}">@Dust(price.value)</span>
        }
    }
</span>
