@import components.context.PlayContext
@(exp: =>String, cond: Boolean = true)(implicit ctx: PlayContext[AnyContent])
@if(cond) {
    <div style="height: 30px;" class="prel">
        <img style="position: absolute;
            top: 0;
            width: 100%" src="/assets/images/pgbg.png" height="30"/>
        <a href="@ctx.refreshUri" style="
            display: block;
            line-height: 0;
            position: relative;
            @if(ctx.isOdnoklassnikiDomain) {margin-left: 32px;}">

            <div style="background-image: url('/assets/images/expbg.png');
                background-size: 42px 20px;
                background-position: 0 5px;
                background-repeat: repeat-x;
                height: 25px;
                width: @exp;"></div>

            <img style="position: absolute;
                left: 0;
                top: 0;
                width: 100%;" src="/assets/images/expline.png" alt="" height="30"/>
        </a>
    </div>
    @if(ctx.isOdnoklassnikiDomain) {
        <a
        href="https://m.ok.ru"
        id="returnToOK"
        style="
            position: absolute;
            top: 0;
            display: block;
            height: 32px;
            width: 32px;
            margin: 0;
            padding: 0;
            border: 0;
            border-radius: 3px;
            background: url(https://st.mycdn.me/res/i/custom/widget/back2ok2.png) no-repeat 6px 6px #ed812b;
        "></a>
    }
}
