@(chance: Double)

@defining(Math.round(chance * 100).toInt min 200) { x =>
    @defining(x min 100, (x - 100) min 100) { case (prim, sec) =>
        <div class="row">
            <div class="quest-chance" style="height: 6px;">
                <span style="background-color: @app.chanceColor(prim);width: @(prim)%;"></span>
            </div>

            @if(sec > 0) {
                <div class="quest-chance">
                    <span style="background-color: #FCFBE3;
                        width: @(sec)%"></span>
                </div>
            }
        </div>
    }
}
