@(call1: Call, call2: Call)(cnt1: => Html)(cnt2: => Html)

<table cellpadding="0" cellspacing="0" class="wide">
    <tbody>
        <tr>
            <td>
                @button("btnl flat-right", call1) {
                    @cnt1
                }
            </td>
            <td style="width: 40px;">
                @button("btni flat-left m0 p8 tall", call2, style = "margin-left: 1px;") {
                    @cnt2
                }
            </td>
        </tr>
    </tbody>
</table>
