@import components.context.PlayContext
@()(implicit ctx: PlayContext[AnyContent])

@main {
    <div class="h1">Правила сайта</div>
    <div class="content">
        <div class="row">
            <span class="bold moderator">1.</span>
            <span class="bold minor">Данное Соглашение является договором между Владельцем игры (Администрацией) и Пользователем о безвозмездном участии Пользователя в Игре, правил поведения Пользователя в Игре а так же использования Пользователем специальных возможностей Игры на возмездной основе. Данное Соглашение вступает в силу с момента начала участия Пользователя в Игре и действует в течение неопределенного времени.</span>
        </div>
        <div class="row">
            <span class="bold moderator">2.</span>
            <span>Данное соглашение может быть изменено или дополнено Администрацией в любое время. О вносимых изменениях/дополнениях Администрация уведомляет пользователей путем размещения новой редакции Соглашения, рассылкой сообщений или размещением информации на форуме. Продолжение участия Пользователя в Игре является согласием с новой редакцией Соглашения.</span>
        </div>
        <div class="row">
            <span class="bold moderator">2.1.</span>
            <span>Пользователем Игры может выступать дееспособное лицо от 16ти лет и старше.</span>
        </div>
        <div class="row">
            <span class="bold moderator">2.2.</span>
            <span>Пользователь использует Игру на свой страх и риск. Администрация предоставляет Игру по принципу «как есть». Администрация не предоставляет гарантий, что Игра, её функционал и услуги будут функционировать бесперебойно и без ошибок.</span>
        </div>
        <div class="row">
            <span class="bold moderator">3.</span>
            <span>Администрация предоставляет Пользователю доступ к Игре на безвозмездной основе.</span>
        </div>
        <div class="row">
            <span class="bold moderator">3.1.</span>
            <span>Доступ Пользователя к специальным возможностям Игры осуществляется Администрацией на возмездной основе за плату, и является услугой. Услуги обеспечивают Пользователю возможность использовать дополнительные, возможности Игры и игровые ценности. Игровые ценности являются условными и могут быть использованы Пользователем только внутри Игры. Услуги, которые Пользователь получает за плату, считаются оказанными в момент зачисления игровых ценностей Пользователю. Денежные средства, использованные Пользователем для приобретения игровых ценностей, Владельцем не возмещаются, в том числе и в связи с неиспользованием их в Игре или её прекращением.</span>
        </div>
        <div class="row">
            <span class="bold moderator">4.</span>
            <span>Стоимость WAP, GPRS и интернет трафика определяется и взимается соответствующими операторами сотовой связи Пользователя.</span>
        </div>
        <div class="row">
            <span class="bold moderator">5.</span>
            <span class="bold minor">В случае нарушения Пользователем действующего Соглашения Администрация вправе в одностороннем порядке ограничить доступ Пользователя к Игре и её возможностям, а также удалить контент пользователя. Администрация не обязана уведомлять пользователей о своих действиях и не отвечает за нанесенный ущерб.</span>
        </div>
        <div class="row">
            <span class="bold moderator">6.</span>
            <span>Администрация имеет право полностью или частично ограничивать доступ к Игре по техническим, профилактическим или иным причинам с предварительным уведомлением Пользователей или без такового.</span>
        </div>
        <div class="row">
            <span class="bold moderator">7.</span>
            <span class="bold minor">Никогда и никому не сообщайте логин или пароль к Игре, включая модераторов и Администрацию. Администрация никогда не попросит у Вас логин или пароль. Ответственность за ненадлежащее соблюдение данного правила лежит на Пользователе.</span>
        </div>

        <div class="red">В Игре запрещено:</div>
        <div class="row">
            <span class="bold moderator">8.</span>
            <span class="bold minor">Использовать игровой аккаунт другого лица.</span>
        </div>
        <div class="row">
            <span class="bold moderator">9.</span>
            <span class="bold minor">Использовать в Игре автоматизированные скрипты.</span>
        </div>
        <div class="row">
            <span class="bold moderator">10.</span>
            <span class="bold minor">Совершать противоправные или преступные действия.</span>
        </div>
        <div class="row">
            <span class="bold moderator">11.</span>
            <span class="bold minor">Пользователь несёт личную ответственность за Материалы и информацию, которые он размещает в Игре или сообщает/передает другим Пользователям.</span>
        </div>
        <div class="row">
            <span class="bold moderator">12.</span>
            <span class="bold minor">Пользователь несёт личную ответственность за несоблюдение условий настоящего Соглашения.</span>
        </div>
        <div class="row">
            <span class="bold moderator">13.</span>
            <span class="bold minor">Пользователю запрещается регистрировать логин, намекающий на принадлежность к модераторам или администрации.</span>
        </div>


        <div class="red">Администрация:</div>
        <div class="row">
            <span class="bold moderator">14.</span>
            <span>Администрация не несёт ответственности и не отвечает за поведение Пользователей и третьих лиц, включая, кражу, уничтожение или неправомерный доступ к материалам Пользователей.</span>
        </div>
        <div class="row">
            <span class="bold moderator">15.</span>
            <span>Администрация не несёт ответственности перед Пользователями или третьими лицами за любой косвенный, случайный, неумышленный ущерб, возникший в результате использования Игры Пользователем.</span>
        </div>
        <div class="row">
            <span class="bold moderator">16.</span>
            <span>Администрация освобождается от ответственности за полное или частичное неисполнение обязательств по настоящему Соглашению, если такое неисполнение является следствием действия непреодолимой силы (форс-мажор), то есть чрезвычайных и непредотвратимых сторонами при данных условиях обстоятельств, в том числе массовых беспорядков, запретительных действий властей, стихийных бедствий, пожаров, катастроф, а также вследствие сбоев в телекоммуникационных и энергетических сетях, действий вредоносных программ, а также недобросовестных действий третьих лиц, направленных на несанкционированный доступ или выведение из строя программного или аппаратного комплекса.</span>
        </div>

        <div class="red">Правила Форума и личных сообщений:</div>
        <div class="row">
            <span class="bold moderator">1.</span>
            <span>Незнание правил не освобождает от ответственности!</span>
        </div>
        <div class="row">
            <span class="bold moderator">2.</span>
            <span>Форум является постмодерируемым, то есть сообщения, размещаемые на Форуме, предварительно не просматриваются и не редактируются, но могут быть удалены или отредактированы позднее. Ответственность за содержание сообщения несет только его автор. Администрация не несёт ответственности за содержание сообщений, публикуемых Пользователями.</span>
        </div>
        <div class="row">
            <span class="bold moderator">3.</span>
            <span>При обнаружении на Форуме и в личных сообщениях ошибок функционала или сообщений, нарушающих правила, необходимо оповестить Администрацию.</span>
        </div>
        <div class="row">
            <span class="bold moderator">4.</span>
            <span>На Форуме и в личных сообщениях запрещено размещение заведомо ложных материалов, оскорбительных или непристойных материалов, а также информации, нарушающей право других Пользователей на личную жизнь, и любые иные материалы, нарушающие действующее законодательство Российской Федерации.</span>
        </div>
        <div class="row">
            <span class="bold moderator">5.</span>
            <span>На Форуме и в личных сообщениях запрещаются мат, завуалированный мат, оскорбления и преследование собеседников. Запрещено злоупотребление заглавными буквами, восклицательными знаками и другими символами.</span>
        </div>
        <div class="row">
            <span class="bold moderator">6.</span>
            <span>На Форуме и в личных сообщениях запрещены все виды рекламных сообщений.</span>
        </div>
        <div class="row">
            <span class="bold moderator">7.</span>
            <span>На Форуме запрещено размещение сообщений или создание тем, не связанных с тематикой ветки Форума и не несущих смысловой нагрузки (Флуд). На Форуме запрещено осуществление массовой рассылки информации (Спам). Запрещено создание одинаковых тем или сообщений в одном или разных разделах Форума. Запрещено повторное создание тем и сообщений, удаленных Администрацией.</span>
        </div>
        <div class="row">
            <span class="bold moderator">8.</span>
            <span>На Форуме запрещено обсуждение вопросов современной политики. На Форуме или в личных сообщениях запрещено разжигание расовой, национальной или религиозной вражды.</span>
        </div>
        <div class="row">
            <span class="bold moderator">9.</span>
            <span>На Форуме и в личных сообщениях запрещено размещение прямых или косвенных угроз жизни и здоровью Пользователей или их близких.</span>
        </div>
        <div class="row">
            <span class="bold moderator">10.</span>
            <span>На Форуме и в личных сообщениях запрещено размещение информации о способах нарушения данного Соглашения и способах взлома Игры, размещение вредоносных программ и ссылок на них.</span>
        </div>
        <div class="row">
            <span class="bold moderator">11.</span>
            <span>На Форуме запрещено создание тем и сообщений для обсуждения действий Администрации и/или ограничений наложенных на Пользователей.</span>
        </div>
        <div class="row">
            <span class="bold moderator">12.</span>
            <span>На Форуме и в личных сообщениях запрещены и будут пресекаться любые высказывания нарушающие действующее законодательство Российской Федерации.</span>
        </div>
        <div class="row">
            <span class="bold moderator">13.</span>
            <span>На Форуме и в личных сообщениях строго запрещено размещение сообщений с целью получения доступа к личным данным Пользователей. К подобной информации относится:</span>
        </div>
        <div class="row monor">
            • размещение ссылок на псевдо-официальные ресурсы Игры;<br/>
            • рассылка личных сообщений от имени Администрации с просьбой выслать свой логин и/или пароль;<br/>
            • рассылка сообщений от имени Администрации с просьбой установить какое-либо программное обеспечение;<br/>
            • распространение любой информации, которая может нанести урон Пользователям или Администрации.<br/>
            • Запрещено выдавать себя за представителей Администрации.<br/>
        </div>
    </div>
}
