@import util.SmilesUtil.Smile
@(visible: Boolean, fieldId: String, smiles: Iterable[Smile])
@if(visible) {
<a class="btnl" onclick="toggle('smilesPanel');" style="cursor: pointer;">Смайлики</a>
<div id="smilesPanel" style="display: none;">
    @for(smile <- smiles) {
        @defining(smile.getPatternList.stream().findFirst().orElse("")) { smileCode: String =>
            <span class="row-item btni" style="cursor: pointer; margin: 3px 1px;" onclick='addCode("@fieldId", "@smileCode.replaceAll("\"", "&quot;")");'>
                <span>
                    <img src="@smile.getImage" width="@smile.getWidth" height="@smile.getHeight"/>
                    @smileCode
                </span>
            </span>
        }
    }
</div>}
