@import components.context.PlayContext
@import util.format._
@(pageName: String)(implicit ctx: PlayContext[AnyContent])

@for(gu <- ctx.gameUserOptional if gu.isTutorialCompleted; money <- Some(gu.money)) {
    @HtmlHint(pageName)
    <div class="center small enabled italic">
        @gu.avatar.visualNick @gu.level ур.
        (опыт @Exp(gu.currentLevelExperience) из @Exp(util.ExpMoneyUnits.experienceToNextLevel(gu.level)))
    </div>
    <div class="content bold center">
        <span class="nobr">
            <img src="@routes.Assets.versioned("images/coin.png")" alt="" title="" width="24" height="24"/>
            @Coin(money.coins)
        </span>
        <span class="nobr">
            <img src="@routes.Assets.versioned("images/ruby.png")" alt="" title="" width="24" height="24"/>
            @Ruby(money.rubies)
        </span>
        <span>@Image("dustdream.png", 24) @Dust(money.dreamDust)</span>
        <span class="nobr">
            @Image("menu/Инвентарь-1.png",24) @gu.barnFreeSpace
        </span>
    </div>
}
