@(title: String, message: String)(implicit ctx: RequestHeader)

@base("default") {
    <div class="content center">
        <div class="h1 row">@title</div>
        <div class="row">@message</div>
        <div>@Image("tutorial/tsar1_3.png", 128)</div>
    </div>
    <div class="foot center">
    @button("btni", routes.Application.city()) {
        <span style="padding: 0 20px;">В игру</span>
    }
    </div>
    <div class="foot center">
        <div>Онлайн-игра Лукоморье</div>
        <div>Сайт игры <a href="http://@ctx.domain" class="minor link">@ctx.domain</a></div>
        <div class="foot normal">@{config.FOOTER_DATE_FORMAT.format(new java.util.Date())}</div>
        <div class="small foot">0 ms.</div>
    </div>
}
