@()(implicit ctx: Request[AnyContent])

@base("default") {
    <div class="content center">
        <div class="h1 row">Сервер игры временно недоступен.</div>
        <div class="row">Скорее всего, в данный момент Администратор устанавливает новый патч или проводит профилактические работы.</div>
        <div>@Image("tutorial/tsar1_3.png", 128)</div>
    </div>
    <div class="foot center">
    @button("btni", routes.Application.city()) {
        <span style="padding: 0 20px;">Обновить</span>
    }
    </div>
    <div class="foot center">
        <div>Онлайн-игра Лукоморье</div>
        <div>Сайт игры <a href="http://@ctx.domain" class="minor link">@ctx.domain</a></div>
        <div class="foot normal">@{config.FOOTER_DATE_FORMAT.format(new java.util.Date())}</div>
        <div class="small foot">1 ms.</div>
    </div>
}
