@import model.item.Seed
@import components.context.GameContext
@import util.TimeUtil.formatTime
@(seeds: Iterable[Seed])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu =>
    <div class="center">
        @for(seed <- seeds) {
            @defining(gu.level >= seed.level) {available =>
            @button("", routes.OgorodController.selectSeed(seed.typeId), available) {
                <div class="slot prel mb11">
                    <div class="slot prel"
                    style="@if(available) {background: url(/assets/images/circle6.png) no-repeat; background-size: 80px auto;}">
                        @Image(seed.image, 80)
                        @if(available) {
                            <div class="snippet" style="position: absolute; top: 0; right: 0;">
                                @formatTime(seed.duration)
                            </div>
                        }
                    </div>
                    <br/>
                    @if(available) {
                        @Image("menu/Инвентарь-1.png", 24) @gu.barn.getOrElse(seed.typeId, 0)
                    } else {
                        <span class="minor">с @seed.level ур.</span>
                    }
                </div>
            }}
        }
    </div>
}
