@import model.item.Ingredient
@import components.context.GameContext
@(ingredient: Ingredient, timesLeft: Seq[Long], hash: Option[String], slotId: Int, count: Int)(implicit ctx: GameContext[AnyContent])

@defining(timesLeft.size) { all =>
@defining((n: Int) => util.TimeReduction.price(timesLeft.take(n).sum)) { x =>
        @if(count > 1) {
            Созревает @all @ingredient.name
            Хотите ускорить созревание?
            <div>
                @button("btni", routes.OgorodController.speedup(slotId, all, hash)) {
                    Да, за @price(x(all))
                }
                @button("btni", routes.OgorodController.ogorodPage()) {
                    Отмена
                }
            </div>
        } else {
            Ускорить созревание за @price(x(1))?
            <div>
                @button("btni", routes.OgorodController.speedup(slotId, 1, hash)) {
                    Да
                }
                @button("btni", routes.OgorodController.ogorodPage()) {
                    Нет
                }
            </div>
        }
}}
