@import model.item.Seed
@import components.context.GameContext
@import util.TimeUtil.formatTime
@(seeds: Iterable[Seed])(implicit ctx: GameContext[AnyContent])

@defining(ctx.gameUser) {gu =>
    @for(seed <- seeds) {
        @defining(gu.level >= seed.level) {available =>
        @button("", routes.OgorodController.selectSeed(seed.typeId), enabled = available) {
            <div class="row">
                <span class="slot fl" style="@if(available) {background: url(/assets/images/circle6.png) no-repeat; background-size: 64px auto;}">
                    @Image(seed.image, 64, "portrait")
                </span>
                <div>
                    @seed.name
                    @if(available) {
                        @Image("menu/Инвентарь-1.png", 24) @gu.barn.getOrElse(seed.typeId, 0)
                    }
                </div>
                <div>Созревание @formatTime(seed.duration)</div>
                @if(available) {
                    <span class="link green">Вырастить</span>
                } else {
                    <span class="minor">Доступно с @seed.level уровня</span>
                }
                <div class="cb"></div>
            </div>
        }}
    }
}
