@import components.context.GameContext
@import bean.Production
@import model.item.Ingredient
@import bean.ProductionSlot
@import bean.GameUser
@(ogorod: Production)(implicit ctx: GameContext[AnyContent])

@defining((ctx.gameUser, ogorod.getQueue)) {case (gu: GameUser, queue: Seq[ProductionSlot]) =>
<div>
    <div class="content center">
        @* выбор растения *@
        @button("", routes.OgorodController.selectSeedPage()) {
            <div class="slot" style="background: url(/assets/images/circle6.png) no-repeat; background-size: 64px auto;">
                @for(cs <- ctx.gameUser.currentSeed) {
                    @Image(cs.image, 64)
                }
            </div>
            <img src="@routes.Assets.versioned("images/right.png")" width="20" height="64" alt=""/>
        }
        @* земля *@
        @if(ogorod.canMakeMore) {
            <div class="slot prel mb11">
                @button("slot", routes.OgorodController.plantBulk()) {
                    @Image("ground.png", 80, className="mt")
                }
                <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                    @button("slot btni", routes.OgorodController.plant(1)) {
                        @ogorod.howManyCanMake
                    }
                </div>
            </div>
        }
        @* готовые *@
        @for((typeId, amount) <- ogorod.basket.toSeq if amount > 0; seed <- Ingredient.find(typeId)) {
            <div class="slot prel mb11" style="background: url(/assets/images/circle6.png) no-repeat; background-size: 80px auto;">
                @button("slot", routes.OgorodController.harvestBulk(typeId)) {
                    @Image(seed.image, 80, className="mt")
                    <div style="position: absolute; top: 0; right: 0;">@Image("checked.png", 24)</div>
                }
                <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                    @button("slot btni", routes.OgorodController.harvest(typeId, 1)) {
                        @amount
                    }
                </div>
            </div>
        }
        @* растущие *@
        @for((seedOpt, slots) <- queue.groupBy(_.productType).toSeq.sortWith(Production.dirtSorter) ; seed <- seedOpt.flatMap(Ingredient.find)) {
            <div class="slot prel mb11" style="background: url(/assets/images/circle6.png) no-repeat; background-size: 80px auto;">
                @button("slot", routes.OgorodController.speedup(slots.head.id, slots.size)) {
                    @Image(seed.image, 80, className="mt")
                    <div class="snippet" style="position: absolute;top: 4px; right: 0;">
                    @for(left <- util.NumberUtils.min(slots.flatMap(_.timeLeft))) {
                        @util.TimeUtil.formatTime(left)
                    }
                    </div>
                }
                <div class="slot" style="width: 80px; position: absolute; bottom: -12px; left: 0;">
                    @button("slot btni", routes.OgorodController.speedup(slots.head.id, 1)) {
                        @slots.size
                    }
                </div>
            </div>
        }
        @for(cs <- gu.currentSeed) {
            <div class="enabled center small block">Выбранное семечко для посадки <span class="epic">@cs.name</span></div>
        }
        @if(gu.level >= 31) {
            <div class="row"></div>
            @for(i <- 3 :: 6 :: 10 :: Nil if i <= ogorod.slots.size) {
                @button("btni", routes.OgorodController.plant(i), enabled = ogorod.howManyCanMake >= i) {
                    @Image("digGold.png", 16) @i
                }
            }
        }
    </div>
    @button("btnl", routes.OgorodController.buyGround(), visible = gu.canBuyGround) {
        Купить землю
        <span class="fr">@price(gu.groundPrice)</span>
        <div class="cb"></div>
    }
</div>
}
